@import url(../fonts/lato/lato.css);

body{color: #8A8A8A;}


.verde{background-color: #C3D245 !important;}
.azul{background-color: #425166 !important;}
.texto-verde{color: #C3D245 !important;}
.texto-azul{color: #425166 !important;}
.btn-buscar:hover{ background: #333}

.barratop{background-color: #425166; border-radius: 0px !important; margin-bottom: 0px;}
#links > li > a{color: #FFF !important; font-weight: bold;}

.nav2{background-color: #FFF; color: #8A8A8A; font-weight: bold; margin-bottom: 0px;}

.nav2 > ul[aria-expanded=false]{display: none;}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #e7e7e7;
}

.btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default {
    color: #000;
    background-color: #e7e7e7;
    border-color: #adadad;
}

.open > .dropdown-toggle.btn-default:hover{
    color: #fff;
    background-color: #425166;
    border-color: #425166;
}


#links li{padding: 0px;}
#links li a{text-align: center; border-right: 1px solid #E3E3E3 !important; padding: 5px 0px;}
.link_icon{float: left; min-width: 45px; width: auto; padding-left: 5px !important; padding-right: 5px !important;}
.fixed{position:fixed; top:0}
/*#search li{padding-right: 0px !important; padding-left: 0px;}

#search li a{padding-right: 0px !important; padding-left: 0px;}*/

@media (max-width: 1024px) {
    .contTestimonio {width: 70% !important;}
}

@media (max-width: 768px) {
    .link_icon {float: right !important;}
    #links li a{float: right !important;}
    #search li a{ font-size: 9px !important; padding-left: 0px; padding-right: 0px; }
    .contTestimonio {width: 85% !important;}
}

@media (max-width: 425px) {
    .liseparador{display: block !important;}
    .contTestimonio {width: 100% !important;}
    .imgTestimonio{max-width: 140px !important;}
    .contTextoTestimonio{margin-left: -110px !important; width: 85% !important;}
    .contTextoTestimonio div i.fa{font-size: 23px !important;}
    .nombre_testimonio{font-size: 20px !important;}
    .descripcion_testimonio{font-size: 12px !important;}
    .descripcion_testimonio i.fa{font-size: 23px !important;}
    .paisTestimonio {font-size: 17px !important;margin-top: 5px !important;}
}



#divPorqueLC .imgs .imgporque{margin-top: 10px;}
.texto-porque {
   
    color:#425165;
    font-size: 16px;
    padding: 16px 32px;
}
.texto-porque h3 {
    font-weight: bold;
    color:#425165;
    font-size: 16px;
    padding: 16px 32px;
}

.cont_noticias{margin: 20px auto;}
.noticia{background-color: #425166; color: #FFF; padding: 25px;}
.noticia .titulo_noticia{font-weight: bold; font-size: 26px; text-align: justify;}
.noticia .subtitulo_noticia{font-size: 18px; text-align: justify;}
.btn-leermas{background-color: #c3d245; margin: 10px;}
#footer div{padding: 0px}
#footer div ul li a{color: #425166 !important; font-weight: bold; font-size: 12px;}
#footer div ul li a{}
.ulnavegacion li a{padding: 2px 0px !important; text-align: left;}
.footer-titulos p{font-weight: bold }
#footer{ margin-bottom: 0px }

.carousel-control.right, .carousel-control.left{background: none !important;}

/* PORQUE LC */

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  right: -45%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.middle p{
    font-size: 10px;
}

.imgporque:hover .image {
  opacity: 0.3;
}

.imgporque:hover .middle {
  opacity: 1;
}

.text {
  background-color: #C3D245;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

/* testimonials */
.contTestimonio{
    margin: auto;
    width: 50%;
}

.contTextoTestimonio{
    color: #fff;
    float: left;
    margin-left: -80px;
    margin-top: 20px;
    width: 80%;
}

.imgTestimonio{
    float:left;
    max-width:200px; 
}

.nombre_testimonio{
    background-color: #f2ff89;
    color: #7a880d;
    float: left;
    font-family: Lato;
    font-size: 42px;
    font-weight: bold;
    letter-spacing: 0;
    margin-left: 20px;
    padding: 10px;
}

.descripcion_testimonio{
    font-family: lato;
    font-size: 15px;
    text-align: justify;
}

.paisTestimonio{
    float: right;
    font-size: 20px;
    font-weight: bold;
    margin-top: 16px;
}

/*paginador*/
.pagination > li > a,
.pagination > li > span {
	color: #425166;
}

.pagination > li > a:hover, 
.pagination > li > span:hover, 
.pagination > li > a:focus, 
.pagination > li > span:focus {
    z-index: 2;
    color: #fff;
    background-color: #425166;
    border-color: #ddd;
}

/*categorías*/
.categorias-item-content {
    background: #f0f0f0;
    padding: 15px;
    border-bottom: 5px solid transparent;
    border:1px solid #CECDD1;
}
.categorias-item-img {
    position: relative;
    margin: -15px -15px 15px -15px;
    border-bottom: 1px solid #CECDD1;
}

.categorias-item-price p{
	color: #fff;
	font-weight: bold;
	text-align: center;
	padding: 5px;
}


/*manu mejoras*/
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #C3D245;
}

/*sociales*/
.social-fb{

}
.social-ig{
    color: radial-gradient(circle farthest-corner at 28% 100%, #FCDF8F 0%, #FBD377 10%, #FA8E37 22%, #F73344 35%, rgba(247, 51, 68, 0) 65%) no-repeat;
}
.social-tw{
    color: #55ACEE;
}