{% load staticfiles %}
<!DOCTYPE html>
<!--[if IE 8]>    <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]>    <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!--><html lang="en"><!--<![endif]-->
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<!-- Meta, title, CSS, favicons, etc. -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<meta name="csrf-token" content="{{ csrf_token }}"/>
		<title> Language Connections | {% block title %} {% endblock %}</title>

		{% for archivocss in css %}
		<link rel="stylesheet" type="text/css" href="{{ archivocss }}" />{% endfor %}
		
		<!-- Custom Theme Style -->
		<link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}" />
		{% block css %}
            <style type="text/css">
                .menu_section ul li ul{
                    list-style: none;
                }
	            #menu_toggle:hover{
	                color: #C2D245 !important;
	            }
            </style>
		{% endblock %}
	</head>

	<body class="nav-md">
		<div class="container body">
			<div class="main_container">
				{% include "partials/menu.html" %}

				{% include "partials/page-header.html" %}

				<!-- page content -->
				<div class="right_col" role="main">
					<div class="row">
						<div class="col-sm-12 col-xs-12">
							<div class="x_content">
								{% block contenidotop %}{% endblock %}
								{% block contenido %}{% endblock %}
							</div>
						</div>
					</div>
				</div>
				<!-- /page content -->
				
				{% include "partials/page-footer.html" %}
			</div>
		</div>

		{% for archivojs in js %}
		<script type="text/javascript" src="{{ archivojs }}"></script>{% endfor %}

		{% block jsbase %}
		<!-- FastClick -->
		<script type="text/javascript" src="{% static 'js/fastclick.js' %}"></script>
		<!-- Custom Theme Scripts -->
		<script type="text/javascript" src="{% static 'js/custom.js' %}"></script>
		{% endblock %}
		<script type="text/javascript" src="{% static 'js/base/init.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/base/funciones.js' %}"></script>
		<script type="text/javascript">
			var $url = '{{ request.build_absolute_uri }}';
		</script>

		{% block js %}{% endblock %}
	</body>
</html>