{% load staticfiles %}
<!DOCTYPE html>
<!--[if IE 8]>    <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]>    <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!--><html lang="en"><!--<![endif]-->
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<!-- Meta, title, CSS, favicons, etc. -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<meta name="csrf-token" content="{{ csrf_token }}"/>
		<title> Language Connections | {% block title %} {% endblock %}</title>

		{% for archivocss in css %}

		<link rel="stylesheet" type="text/css" href="{{ archivocss }}" />{% endfor %}
		<link rel="stylesheet" type="text/css" href="{% static 'css/full-slider.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'css/website.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'plugins/owl-carousel/css/owl.carousel.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'plugins/owl-carousel/css/owl.theme.green.css' %}" />

		{% block css %}
            <style type="text/css">
                .menu_section ul li ul{
                    list-style: none;
                }
	            #menu_toggle:hover{
	                color: #C2D245 !important;
	            }
            </style>
		{% endblock %}
	</head>

	<body>
	    {% include "partials/menu_front.html" %}

	    {% block contenido %}{% endblock %}
	     {% include "partials/testimonials.html" %}

	    {% include "partials/footer.html" %}

	    {% for archivojs in js %}
		<script type="text/javascript" src="{{ archivojs }}"></script>{% endfor %}

		{% block jsbase %}
		<!-- FastClick -->
		<script type="text/javascript" src="{% static 'js/fastclick.js' %}"></script>
		<!-- Custom Theme Scripts -->
		<script type="text/javascript" src="{% static 'js/custom.js' %}"></script>
		{% endblock %}
		<script type="text/javascript" src="{% static 'js/base/init.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/base/funciones.js' %}"></script>
		<script type="text/javascript" src="{% static 'plugins/owl-carousel/js/owl.carousel.js' %}"></script>
		
		<script type="text/javascript">
			var $url = '{{ request.build_absolute_uri }}';
			$(window).scroll(function() {    
				posicionarMenu();
			});

			posicionarMenu();


			function posicionarMenu() {
				var altura_del_header = $('nav.barratop').outerHeight(true) + $('nav.navlogo').outerHeight(true);
				var altura_del_menu = $('.nav2').outerHeight(true);

				if ($(window).scrollTop() >= altura_del_header){
					$('.nav2').addClass('fixed');
					$('#myCarousel').css('margin-top', (altura_del_menu) + 'px');
					$("#linkHome img").show();
					$("#linkHome span").hide();
				} else {
					$('.nav2').removeClass('fixed');
					$('#myCarousel').css('margin-top', '0');
					$("#linkHome span").show();
					$("#linkHome img").hide();
				}
			}
		</script>
		
		{% block js %}{% endblock %}
	</body>
</html>
