div.right_col{background-color: #EAEAEA !important;}
#myTabContent{background: #fff none repeat scroll 0 0; border-radius: 2px;}
.barra{width:100%; height:4px; float: left;}
/*.contenedorTab{width:90%; margin: 5px auto;}*/
.labelobj{
	border-bottom: 1px solid #7c7c7c;
	padding: 10px 0;
	width: 100%;
}
.obj input[type=text],  .obj input[type=password]{
	border: none;
	padding: 1px;
}

.campoActivo{border-top:3px solid #C2D245; border-right:3px solid #C2D245; border-bottom:2px solid #d3d5cb; border-left:2px solid #d3d5cb;}

.campo{border: none; box-shadow: none;}

#tblBanners tbody td{text-align: center;}

.table tr span:hover{cursor: pointer;}
.table tr:hover{background: #C4D247 !important; font-weight: bold;}
.table thead tr th{text-align: center;}
.table tbody tr td span.fa{cursor: pointer;}

#btnCargaImg{cursor: pointer;}
#contPreview{text-align: center; margin-bottom: 40px;}
.img_ver_banner{max-width: 100%; margin: 10px auto; min-width: 70%; cursor: pointer;}
.btnVariosPaises{background-color: #FFF; color:#739979; border: none;}
.btnNuevoForm, .btnVolverListado{margin: 10px;}
#id_activo{float: left; margin: 5px; width: 50px !important;}

.itemoriginal{display: none;}
.ItemMultimedia img {
    max-height: 250px !important;
    max-width: 95% !important;
    width: auto;
}