.contenedorMultimedia{
    float: left;
    width: auto;
}
    
.contenedorBiblioteca{
	border: 1px solid #f0f0f0;
    float: left;
    max-height: 500px;
    overflow: auto;
    width: 600px;
}

.infoimg{
	border: 1px solid #f0f0f0;
    float: left;
    width: 250px;
    display: none;
}

.campoMultimedia{
	padding: 10px;
}

.archivoBiblioteca{
    border: 3px solid #e6e5e5;
    float: left;
    height: 150px;
    max-width: 130px;
    margin: 10px;
    max-width: 124px;
    text-align: center
}

.imgBiblioteca{
    max-height: 120px;
    max-width: 100%;
}

.operacionesImg{
	text-align:right;
	width:100%;
    font-size: 20px;
}

.operacionesImg i.fa{cursor: pointer; margin: 2px; padding: 2px;}

.imgseleccionada{border:3px solid #ADE745;}

.ItemMultimedia{
	border-radius: 5px;
	float: left;
    margin: 10px;
    max-width: 150px;
    padding: 1px;
    text-align: center;
}

.ItemMultimedia img{width: 100%; height: 100px;}
.ItemMultimedia span{float:right; cursor: pointer;}
.ItemMultimedia label{font-size: 12px !important;}

.falta_requerido{border: 1px solid #d38686 !important;}

.nuevaImagen{border: 1px solid #eae5e5; border-radius: 5px; float: left; margin: 10px; width: 400px;}

.imgPreviewMultimedia{border-radius: 3px; float: left; margin: 20px 5px; max-width: 145px;}
.infoNuevaImg{float: left; padding: 5px; width: 240px;}
.infoNuevaImg input[type=text]{border:1px solid #C9C9C9 !important;}

.botonesNuevoMultimedia{text-align:right; margin-top:5px;}

.nombreMultimedia{font-weight: normal;}

#loaderBiblioteca{display: none;}

.datosIncompletosMultimedia{border: 1px solid #fd9191 !important;}