div.right_col{background-color: #EAEAEA !important;}
#myTabContent{background: #fff none repeat scroll 0 0; border-radius: 2px;}
.barra{width:100%; height:4px; float: left;}

.labelobj{border-bottom: 1px solid #7c7c7c;padding: 10px 0;width: 100%;}
.obj input[type=text],  .obj input[type=password]{border: none; padding: 1px;}

.campoActivo{border-top:3px solid #C2D245; border-right:3px solid #C2D245; border-bottom:2px solid #d3d5cb; border-left:2px solid #d3d5cb;}

.campo{border: none; box-shadow: none;}

#arbol{
    min-height: 200px;
}