div.right_col{background-color: #EAEAEA !important;}
#myTabContent{background: #fff none repeat scroll 0 0; border-radius: 2px;}
.barra{width:100%; height:4px; float: left;}

.labelobj{border-bottom: 1px solid #7c7c7c;padding: 10px 0;width: 100%;}
.obj input[type=text],  .obj input[type=password]{border: none; padding: 1px;}

.campoActivo{border-top:3px solid #C2D245; border-right:3px solid #C2D245; border-bottom:2px solid #d3d5cb; border-left:2px solid #d3d5cb;}

.campo{border: none; box-shadow: none;}

.table tr span:hover{cursor: pointer;}
.table tr:hover{background: #C4D247 !important; font-weight: bold;}
.table thead tr th{text-align: center;}
.table tbody tr td span.fa{cursor: pointer;}

#desServicios{max-height: 400px; overflow: auto;}
.previmgServicios{border-radius: 50%; height: 125px; width: 125px;}
.contenedorimagen{background: #f8f8f8 none repeat scroll 0 0; border: 1px solid #eae5e5; min-height: 230px; text-align: center; cursor: pointer;}
.has-feedback span.fa-save{
    margin: 2px;
    cursor: pointer !important;
    font-size: 20px;
}

#id_activo{float: left; margin: 5px;}