div.right_col{background-color: #EAEAEA !important;}
#myTabContent{background: #fff none repeat scroll 0 0; border-radius: 2px;}
.barra{width:100%; height:4px; float: left;}
/*.contenedorTab{width:90%; margin: 5px auto;}*/
.labelobj{
	border-bottom: 1px solid #7c7c7c;
	padding: 10px 0;
	width: 100%;
}
.obj input[type=text],  .obj input[type=password]{
	border: none;
	padding: 1px;
}

.campoActivo{border-top:3px solid #C2D245; border-right:3px solid #C2D245; border-bottom:2px solid #d3d5cb; border-left:2px solid #d3d5cb;}

.campo{border: none; box-shadow: none;}
#tblUsuarios tbody .editusuario, 
#tblUsuarios tbody .delusuario, 
#tblDefPerfiles tbody .editdefperfil, 
#tblDefPerfiles tbody .deldefperfiles{text-align: center;}

.table tr span:hover{cursor: pointer;}

.table tr:hover{background: #C4D247 !important; font-weight: bold;}

/*.btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default{
	background-color: #fff !important; border: medium none !important; color: #425165 !important; font-weight: bold !important;
}

.bootstrap-select .btn-default {background-color: #fff; border:none;}*/

.table thead tr th{text-align: center;}
.table tbody tr td span.fa{cursor: pointer;}

div.obj{margin-bottom: 10px; margin-top: 10px;}
	
  .nav-tabs-responsive {
    > li {
      display: none;
      width: 23%;
      > a {
        @include ellipsis();
        width: 100%;
        text-align: center;
        vertical-align: top;
      }
      &.active {
        width: 54%;
        &:first-child {
          margin-left: 23%;
        }
      }
      &.active,
      &.prev,
      &.next {
        display: block;
      }
      &.prev,
      &.next {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
      }
      &.next > a,
      &.prev > a {
        -webkit-transition: none;
        transition: none;
        .text {
          display: none;
        }
        &:after,
        &:after {
          @include icon-styles();
        }
      }
      &.prev > a:after {
        content: "\e079";
      }
      &.next > a:after {
        content: "\e080";
      }
      &.dropdown {
        > a > .caret {
          display: none;
        }
        > a:after {
          content: "\e114";
        }
        &.active > a {
          &:after {
            display: none;
          }
          > .caret {
            display: inline-block;
          }
        }

        .dropdown-menu {
          &.pull-xs-left {
            left: 0;
            right: auto;
          }
          &.pull-xs-center {
            right: auto;
            left: 50%;
            @include transform(translateX(-50%));
          }
          &.pull-xs-right {
            left: auto;
            right: 0;
          }
        }
      }
    }
  }
}
table .fa-pencil, table .fa-trash{
	cursor: pointer !important;;
}
#id_is_superuser{
	 width: 17px;
    margin: 0 auto;
}