{% extends 'layouts/website.html' %}
{% load staticfiles %}

{% block title %}
    Alojamientos Detalle
{% endblock title %}

{% block contenido %}
        
    <div class="container-fluid">
        <div class="col-xs-12 text-center">
            <h1 class="texto-azul" style="font-weight:bold;">
                <i>{{ _('¿Qué quieres estudiar y donde?') }}</i>
            </h1>
            <p>
                {{ _('Utiliza nuestras herramientas de búsqueda y encuentra el programa ideal para ti') }}
            </p>
        </div>
        <img src="{% static 'img/img_buscador.jpg' %}" class="img-responsive" style="max-width:100%;margin: auto;">
    </div>
    <!--formulario de búsqueda-->   
    
    <div class="verde">
        <div class="container">
            <div class="row" style="padding: 10px">
                <form action="#">
                    <div class="col-md-2 col-xs-12" style="padding:10px;">
                        <select name="tipos_alojamientos" class="form-control campo selectpicker" id="id_tipos_alojamientos" required="" placeholder="tipos_alojamiento" tabindex="-98">
                            <option value="" selected="">... Seleccione</option>
                            {% for tipos in tipos_alojamientos %}
                                <option value="{{ tipos.id }}">{{ tipos.nombre }}</option>
                            {% endfor %}
                        </select>
                    </div>                  
                    <div class="col-md-2 col-xs-12" style="padding:10px;">
                        <select name="precios" class="form-control campo selectpicker" id="id_precios" required="" placeholder="precios" tabindex="-98">
                            <option value="" selected="">... Seleccione</option>
                            {% for precio in precios %}
                                <option value="{{ precio.id }}">{{ precio.nombre }}</option>
                            {% endfor %}
                        </select>
                    </div>                  
                    <div class="col-md-2 col-xs-12" style="padding:10px;">
                        <select name="servicios" class="form-control campo selectpicker" id="id_servicios" required="" placeholder="servicios" tabindex="-98">
                            <option value="" selected="">Servicios</option>
                            {% for servicio in servicios %}
                                <option value="{{ servicio.id }}">{{ servicio.nombre }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-2 col-xs-12" style="padding:10px;">
                        <select name="paises" class="form-control campo selectpicker" id="id_paises" required="" placeholder="paises" tabindex="-98">
                            <option value="" selected="">... Seleccione</option>
                            {% for pais in paises %}
                                <option value="{{ pais.id }}">{{ pais.nombre }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-2 col-xs-12" style="padding:10px;">
                        <select name="ciudades" class="form-control campo selectpicker" id="id_ciudades" required="" placeholder="ciudades" tabindex="-98">
                            <option value="" selected="">... Seleccione</option>
                            {% for ciudad in ciudades %}
                                <option value="{{ ciudad.id }}">{{ ciudad.nombre }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-2 col-xs-12" style="padding:10px;">
                        <input type="button" id="btnBuscar" class="btn btn-default btn-" value="BUSCAR">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- fin formulario de búsqueda-->  

    <div class="container-fluid"> 
        <div class="row">
            <!--lado izquierdo-->
            <div class="col-lg-8">
                <img class="img-responsive" id="imgGrande" src="{% static 'img/alojamientos/hab.png' %}" width="100%" title="Apartamentos" style="padding: 20px;">
                <div id="carousel">
                    <a href="#" class="izquierda_flecha"><i class="fa fa-chevron-left"></i></a>
                    <a href="#" class="derecha_flecha"><i class="fa fa-chevron-right"></i></a>
                    <div class="carousel">
                        <div id="imagen_0">
                            <img class="img_carousel" data="{% static 'img/alojamientos/casa_familia.png' %}" src="{% static 'img/alojamientos/casa_familia.png' %}" width="195px" height="100px" />
                        </div>
                        <div id="imagen_1">
                            <img class="img_carousel" data="{% static 'img/alojamientos/apartamentos.png' %}" src="{% static 'img/alojamientos/apartamentos.png' %}" width="195px" height="100px" />
                        </div>
                        <div id="imagen_2">
                            <img class="img_carousel" data="{% static 'img/alojamientos/res_estudiantes.png' %}" src="{% static 'img/alojamientos/res_estudiantes.png' %}" width="195px" height="100px" />
                        </div>
                        <div id="imagen_3">
                            <img class="img_carousel" data="{% static 'img/alojamientos/hab.png' %}" src="{% static 'img/alojamientos/hab.png' %}" width="195px" height="100px" />
                        </div>
                        <div id="imagen_4">
                            <img class="img_carousel" data="{% static 'img/alojamientos/hab.png' %}" src="{% static 'img/alojamientos/hab.png' %}" width="195px" height="100px" />
                        </div>
                        <div id="imagen_5">
                            <img class="img_carousel" data="{% static 'img/alojamientos/hab.png' %}" src="{% static 'img/alojamientos/hab.png' %}" width="195px" height="100px" />
                        </div>
                    </div>
                </div>
                
                <!-- mapa de google-->
                <div class="row descripcion" style="padding: 35px;">
                    <div class="col-xs-12 descripcion-lg mapa" style="padding: 23px;">
                        <img src="{% static 'img/alojamientos/ubicacion.png' %}" class="img-responsive" style="float: left"> 
                        <p style="padding: 20px;font-weight: bold;">Ubicación</p>
                        <p style="color: #8A8A8A;padding-left: 50px;">Provincia: Ontario   <br>
                        Región: Algoriquin / Haliburton Highlands<br>
                        Ciudad: Bancroft</p>
                    </div>

                    <div class="col-xs-12">
                        <div class="google-maps">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12698.017302765014!2d-5.924386855443038!3d37.28317952472348!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd12705c945f7355%3A0x1f6735c306757c59!2sDos+Hermanas%2C+Sevilla%2C+Espa%C3%B1a!5e0!3m2!1ses!2s!4v1387797719272" width="600" height="450" frameborder="0" style="border:0"></iframe>
                            
                        </div>
                    </div>

                </div>
            </div>
            <!--fin lado izquierdo-->
            <!--lado derecho-->

            <div class="col-lg-4">
                <div class="row" style="padding: 20px;">
                    <div class="col-md-6 text-center" style="background-color: #425166;color: #fff;font-weight: bold;padding: 5px">
                        <h2>$120</h2>
                    </div>
                    <div class="col-md-6 text-center" style="background:#fff; padding: 16px;font-weight: bold;color: #425166;">
                        Tipo de plan <br>
                        <i class="fa fa-star" style="color: #FFE401"></i> &nbsp;Gold
                    </div>
                </div>
                <div class="row descripcion" style="padding: 20px;padding-top: 0px">
                    <div class="col-xs-2" style="padding: 5px">
                        <img src="{% static 'img/alojamientos/apartamento.png' %}" class="img-responsive">
                    </div>
                    <div class="col-xs-6" style="padding: 5px">
                        Apartamento <br>
                        Canada / Toronto
                        <br><br><br><br><br>
                        Idioma: Español / Ingles
                    </div>
                    <div class="col-xs-4 text-center" style="background-color: #fff;padding: 5px">
                        <img src="{% static 'img/alojamientos/avatar.jpg'%}" class="img-responsive img-circle">
                        María Perez <br>
                        <small>25 valoraciones</small> <br>
                        <i class="fa fa-star estrella"></i>
                        <i class="fa fa-star estrella"></i>
                        <i class="fa fa-star estrella"></i>
                        <i class="fa fa-star estrella"></i>
                        <i class="fa fa-star estrella"></i>
                    </div>
                </div>
                <div class="row" style="padding: 20px;padding-top: 0px">
                    <div class="col-xs-12 descripcion-lg">
                        <img src="{% static 'img/alojamientos/mobiliario.png' %}" class="img-responsive" style="float: left"> 
                        <p style="padding: 20px;font-weight: bold;">Mobiliario</p>
                    </div>
                    <div class="col-xs-12 descripcion-lg" style="margin: auto;">
                        <div class="row" style="padding: 20px">
                            <div class="col-xs-3 items text-center">
                                <img src="{% static 'img/alojamientos/mobiliario.png' %}" class="img-responsive" style="float: left">
                            </div>
                            <div class="col-xs-3">
                                <img src="{% static 'img/alojamientos/mobiliario.png' %}" class="img-responsive" style="float: left">
                            </div>
                            <div class="col-xs-3">
                                <img src="{% static 'img/alojamientos/mobiliario.png' %}" class="img-responsive" style="float: left">
                            </div>
                            <div class="col-xs-3">
                                <img src="{% static 'img/alojamientos/mobiliario.png' %}" class="img-responsive" style="float: left">
                            </div>
                        </div>
                    
                        <div class="row" style="padding: 20px;padding-top: 0px;">
                            <div class="col-xs-3">
                                <img src="{% static 'img/alojamientos/mobiliario.png' %}" class="img-responsive" style="float: left">
                            </div>
                            <div class="col-xs-3">
                                <img src="{% static 'img/alojamientos/mobiliario.png' %}" class="img-responsive" style="float: left">
                            </div>
                            <div class="col-xs-3">
                                <img src="{% static 'img/alojamientos/mobiliario.png' %}" class="img-responsive" style="float: left">
                            </div>
                            <div class="col-xs-3">
                                <img src="{% static 'img/alojamientos/mobiliario.png' %}" class="img-responsive" style="float: left">
                            </div>
                        </div>

                        <p class="text-justify" style="color: #8A8A8A;padding: 20px; font-size: 12px;">Situated less than 5-minutes walk from Toronto's prestigious Yorkville neighbourhood, Bloor Suites offers an on-site fitness centre and free parking. Boasting a private</p>

                    </div>
                </div>
                <div class="row" style="padding: 20px;padding-top: 0px">
                    <div class="col-xs-12 descripcion-lg">
                        <img src="{% static 'img/alojamientos/hobbies.png' %}" class="img-responsive" style="float: left"> 
                        <p style="padding: 20px;font-weight: bold;">Hobbies</p>
                    </div>
                    <div class="col-xs-12 descripcion-lg" style="margin: auto;">
                        <div class="row" style="padding: 20px;padding-top: 0px;">
                            <div class="col-xs-3 text">
                                <img src="{% static 'img/alojamientos/mobiliario.png' %}" class="img-responsive" style="float: left">
                            </div>
                            <div class="col-xs-3">
                                <img src="{% static 'img/alojamientos/mobiliario.png' %}" class="img-responsive" style="float: left">
                            </div>
                            <div class="col-xs-3">
                                <img src="{% static 'img/alojamientos/mobiliario.png' %}" class="img-responsive" style="float: left">
                            </div>
                            <div class="col-xs-3">
                                <img src="{% static 'img/alojamientos/mobiliario.png' %}" class="img-responsive" style="float: left">
                            </div>
                        </div>
                    </div>
                </div> 
                <!--Normas del hogar-->
                <div class="row" style="padding: 20px;padding-top: 0px">
                    <div class="col-xs-12 descripcion-lg">
                        <img src="{% static 'img/alojamientos/normas del hogar .png' %}" class="img-responsive" style="float: left"> 
                        <p style="padding: 20px;font-weight: bold;">Normas del Hogar</p>
                        <ul style="color: #8A8A8A;padding: 40px; padding-top: 0px; font-size: 12px;">
                            <li class="text-justify">Los residentes deberan identificarse cuando sea requerido por el personal de la Residencia. Del mismo modo están obligados a poner en conocimiento de la Administración los hechos que supongan una infracción de estas normas o perturben la normal conivencia en la Residencia.</li>
                            <li class="text-justify">Los residentes deberan identificarse cuando sea requerido por el personal de la Residencia. Del mismo modo están obligados a poner en conocimiento de la Administración los hechos que supongan una infracción de estas normas o perturben la normal conivencia en la Residencia.</li>
                        </ul>
                       
                    </div>
                </div> 
            </div>
            <!-- fin lado derecho-->
        </div>
    </div>
{% endblock contenido %}

{% block css %}
    <style type="text/css">
        body {background-color: #f2f2f2;}
        .campo button {
            color: #333;
            background: #f0f0f0;
            border: 1px solid #f0f0f0;
        }

        .campo button:hover {
            color: #fff;
            background: #333;
            border: 1px solid #333;
        }

        .detalle{ padding:40px;}

        .descripcion div{
            background-color: #fff;
            padding: 20px;
            min-height: 180px;
            /*height: 180px;*/
            color: #425166;
        }
        .descripcion div img{
            padding: 5px;
            margin: auto;
        }

        .descripcion-lg{
            background-color: #fff;
            padding: 5px;
            /*min-height: 170px;*/
            /*height: 170px;*/
            color: #425166;
        }
        .descripcion-lg img{
            padding: 5px;
        }
        .estrella{ color: #FFE401;}

        /*carousel*/

        #carousel{margin: auto; width:588px; overflow:hidden; height:100px; position:relative;}
        #carousel .izquierda_flecha{position:absolute; left:10px; z-index:1; top:50%; margin-top:-9px;color:#fff;}
        #carousel .derecha_flecha{position:absolute; right:10px; z-index:1; top:50%; margin-top:-9px;color:#fff;}
        .carousel{width:4000px;left:0px; position:absolute; z-index:0}
        .carousel>div{
            float: left;
            height: 100px;
            margin-right: 5px;
            width: 195px;
            text-align:center;
        }

        .carousel .img_carousel{cursor:pointer;}
        .items {
            text-align: center;
            font-size: 9px;
        }

        .google-maps {
            position: relative;
            padding-bottom: 75%; // This is the aspect ratio
            height: 0;
            overflow: hidden;
        }
        .google-maps iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100% !important;
            height: 100% !important;
           }

    </style>
{% endblock %}
{% block js %}
    <script type="text/javascript">
        var posicion = 0;
        var imagenes = new Array();
        $(document).ready(function() {
            var numeroImatges = 5;
            if (numeroImatges <= 4) {
                $('.derecha_flecha').css('display', 'none');
                $('.izquierda_flecha').css('display', 'none');
            }

            $('.img_carousel').live('click', function() {
                $('#imgGrande').attr('src', $(this).attr('src'));
                return false;
            });

            $('.izquierda_flecha').live('click', function() {
                if (posicion > 0) {
                    posicion = posicion - 1;
                } else {
                    posicion = numeroImatges - 4;
                }
                $(".carousel").animate({
                    "left": -($('#imagen_' + posicion).position().left)
                }, 600);
                return false;
             });

            $('.izquierda_flecha').hover(function() {
                $(this).css('opacity', '0.5');
             }, function() {
                $(this).css('opacity', '1');
             });

            $('.derecha_flecha').hover(function() {
                $(this).css('opacity', '0.5');
            }, function() {
                $(this).css('opacity', '1');
            });

            $('.derecha_flecha').live('click', function() {
                if (numeroImatges > posicion + 4) {
                    posicion = posicion + 1;
                } else {
                    posicion = 0;
                }
                $(".carousel").animate({
                    "left": -($('#imagen_' + posicion).position().left)
                }, 600);
                return false;
            });

        });
    </script>
{% endblock %}

