{% extends 'layouts/website.html' %}
{% load staticfiles %}

{% block title %}
    Alojamientos 
{% endblock title %}

{% block contenido %}
		
	<div class="container-fluid">
		<div class="col-xs-12 text-center">
			<h1 class="texto-azul" style="font-weight:bold;">
				<i>{{ _('¿Qué quieres estudiar y donde?') }}</i>
			</h1>
			<p>
				{{ _('Utiliza nuestras herramientas de búsqueda y encuentra el programa ideal para ti') }}
			</p>
		</div>
		<img src="{% static 'img/img_buscador.jpg' %}" class="img-responsive" style="max-width:100%;margin: auto;">
	</div>		
	<div class="verde">
		<div class="container">
			<div class="row" style="padding: 10px">
				<form action="#">
					<div class="col-md-2 col-xs-12" style="padding:10px;">
						<select name="tipos_alojamientos" class="form-control campo selectpicker" id="id_tipos_alojamientos" required="" placeholder="tipos_alojamiento" tabindex="-98">
							<option value="" selected="">... Seleccione</option>
							{% for tipos in tipos_alojamientos %}
								<option value="{{ tipos.id }}">{{ tipos.nombre }}</option>
							{% endfor %}
						</select>
					</div>					
					<div class="col-md-2 col-xs-12" style="padding:10px;">
						<select name="precios" class="form-control campo selectpicker" id="id_precios" required="" placeholder="precios" tabindex="-98">
							<option value="" selected="">... Seleccione</option>
							{% for precio in precios %}
								<option value="{{ precio.id }}">{{ precio.nombre }}</option>
							{% endfor %}
						</select>
					</div>					
					<div class="col-md-2 col-xs-12" style="padding:10px;">
						<select name="servicios" class="form-control campo selectpicker" id="id_servicios" required="" placeholder="servicios" tabindex="-98">
							<option value="" selected="">Servicios</option>
							{% for servicio in servicios %}
								<option value="{{ servicio.id }}">{{ servicio.nombre }}</option>
							{% endfor %}
						</select>
					</div>
					<div class="col-md-2 col-xs-12" style="padding:10px;">
						<select name="paises" class="form-control campo selectpicker" id="id_paises" required="" placeholder="paises" tabindex="-98">
							<option value="" selected="">... Seleccione</option>
							{% for pais in paises %}
								<option value="{{ pais.id }}">{{ pais.nombre }}</option>
							{% endfor %}
						</select>
					</div>
					<div class="col-md-2 col-xs-12" style="padding:10px;">
						<select name="ciudades" class="form-control campo selectpicker" id="id_ciudades" required="" placeholder="ciudades" tabindex="-98">
							<option value="" selected="">... Seleccione</option>
							{% for ciudad in ciudades %}
								<option value="{{ ciudad.id }}">{{ ciudad.nombre }}</option>
							{% endfor %}
						</select>
					</div>
					<div class="col-md-2 col-xs-12" style="padding:10px;">
						<input type="button" id="btnBuscar" class="btn btn-default btn-" value="BUSCAR">
					</div>
				</form>
			</div>
		</div>
	</div>
	
	<div class="container-fluid" style="margin-top: 10px">
		<h4 style="margin-left: 35px;">
			Alojamientos/Resultado de búsquedas
		</h4>

		<div class="row" style="margin-top: 40px;">
			<div class="col-md-4 categorias">
				<div class="categorias-item-content">
					<div class="categorias-item-img">
						<div class="owl-carousel"  data-plugin-options='{"items": 1, "singleItem": false, "pagination": false, "autoPlay": true}'>
							<a class="item "  style="text-decoration:none;color:#7e8998;font-weight:bold;"  href="{% url 'website:alojamientos-detail' 1%}" data-lightbox="informatica" data-title="imagen">
								<img src="{% static 'img/alojamientos/hab.png' %}" class="img-responsive" width="100%" style="margin:auto;height:270px"/>
							</a>
						</div>
					</div>
					<div class="categorias-item-text">
						<div class="row">
							<div class="col-md-6">
								<p>Apartaestudio</p>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
							</div>
							<div class="col-md-6 text-right">
								<p>Canada / Toronto</p>
								<a href="#">
									<i class="fa fa-heart fa-2x text-center favorito"></i>
								</a>
							</div>
						</div>
						
					</div>
					
				</div>
					<div class="categorias-item-price verde">
						<p>$160</p>
					</div>
			</div>
			<div class="col-md-4 categorias">
				<div class="categorias-item-content">
					<div class="categorias-item-img">
						<div class="owl-carousel"  data-plugin-options='{"items": 1, "singleItem": false, "pagination": false, "autoPlay": true}'>
							<a class="item "  style="text-decoration:none;color:#7e8998;font-weight:bold;"  href="{% url 'website:alojamientos-detail' 2%}" data-lightbox="informatica" data-title="imagen">
								<img src="{% static 'img/alojamientos/hab.png' %}" class="img-responsive" width="100%" style="margin:auto;height:270px"/>
							</a>
							<a class="item "  style="text-decoration:none;color:#7e8998;font-weight:bold;"  href="#" data-lightbox="informatica" data-title="imagen">
								<img src="{% static 'img/alojamientos/apartamentos.png' %}" class="img-responsive" width="100%" style="margin:auto;height:270px"/>
							</a>
						</div>
					</div>
					<div class="categorias-item-text">
						<div class="row">
							<div class="col-md-6">
								<p>Apartaestudio</p>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
							</div>
							<div class="col-md-6 text-right">
								<p>Canada / Toronto</p>
								<a href="#">
									<i class="fa fa-heart fa-2x text-center no-favorito"></i>
								</a>
							</div>
						</div>
						
					</div>
					
				</div>
					<div class="categorias-item-price verde">
						<p>$160</p>
					</div>
			</div>
			<div class="col-md-4 categorias">
				<div class="categorias-item-content">
					<div class="categorias-item-img">
						<div class="owl-carousel"  data-plugin-options='{"items": 1, "singleItem": false, "pagination": false, "autoPlay": true}'>
							<a class="item "  style="text-decoration:none;color:#7e8998;font-weight:bold;"  href="{% url 'website:alojamientos-detail' 3%}" data-lightbox="informatica" data-title="imagen">
								<img src="{% static 'img/alojamientos/hab.png' %}" class="img-responsive" width="100%" style="margin:auto;height:270px"/>
							</a>
						</div>
					</div>
					<div class="categorias-item-text">
						<div class="row">
							<div class="col-md-6">
								<p>Apartaestudio</p>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
							</div>
							<div class="col-md-6 text-right">
								<p>Canada / Toronto</p>
								<a href="#">
									<i class="fa fa-heart fa-2x text-center no-favorito"></i>
								</a>
							</div>
						</div>
						
					</div>
					
				</div>
					<div class="categorias-item-price verde">
						<p>$160</p>
					</div>
			</div>
		</div>
		
		<div class="row" style="margin: auto; text-align: center">
			<ul class="pagination">
				<li><a href="#"> < </a></li>
				<li><a href="#">1</a></li>
				<li><a href="#">2</a></li>
				<li><a href="#">3</a></li>
				<li><a href="#">4</a></li>
				<li><a href="#">5</a></li>
				<li><a href="#"> > </a></li>
			</ul>
		</div>
	</div>
{% endblock contenido %}

{% block css %}
	<style type="text/css">
		.campo button {
			color: #333;
			background: #f0f0f0;
			border: 1px solid #f0f0f0;
		}

		.campo button:hover {
			color: #fff;
			background: #333;
			border: 1px solid #333;
		}
		.favorito{
			color: #C3D245;
		}
		.no-favorito{
			color: #8A8A8A;
		}
		
	</style>
{% endblock %}

{% block js%}
<script type="text/javascript">
$(function(){

	$("#id_paises").on('change', function(){
        console.log('djfsd');
        var pais_id = $('#id_paises').val();
        if(pais_id == ''){
            $('#id_ciudades').html('').append('<option value=""> {{_("Ciudad")}} </option>');
            return false;
        }

        $.ajax({
            dataType: 'json',
            method: 'POST',
            url: '/alojamientos/get_cities/',
            data: {
                pais: pais_id,
                csrfmiddlewaretoken: '{{ csrf_token  }}'
            },
            success: function (r) {
                console.log(r);
                $('#id_ciudades').html('').append('<option value=""> {{_("Ciudad")}} </option>');
                //recorriendo las ciudades rellenando el select ciudades 
                $.each(valor, function(id, v){
                    $('#id_ciudades').append('<option value="' + id + '">' + v + '</option>');
                });

            }
        });
    });
	
	$('.owl-carousel').owlCarousel({
		loop:true, 
		margin:10, 
		nav:true, 
		items:1,
		navigation:true,
		navigationText: [
        	"<i class='fa fa-chevron-left' style='color:#fff'></i>",
        	"<i class='fa fa-chevron-right'></i>"
        ],
	});

	$( ".owl-prev").html('<i class="fa fa-chevron-left"></i>');
 	$( ".owl-next").html('<i class="fa fa-chevron-right"></i>');
});
</script>
{% endblock js%}

{% block js %}
<script type="text/javascript">

$(function() {
    
    
    
});
</script>
{% endblock %}