{% extends 'layouts/website.html' %}
{% load staticfiles %}

{% block title %}
    Alojamientos
{% endblock title %}

{% block contenido %}
		
	<img src="{% static 'img/img_buscador.jpg' %}" class="img-responsive" style="max-width:100%;margin: auto;">
			
	<div class="verde">
		<div class="container">
			<div class="row" style="padding: 10px">
				<form action="#">
					<div class="col-md-2 col-xs-12" style="padding:10px;">
						<select name="tipo" class="form-control campo selectpicker" id="id_tipo" required="" placeholder="tipo" tabindex="-98">
							<option value="" selected="">Tipo</option>
							<option value="">Tipo 2</option>
							<option value="">Tipo 3</option>
						</select>
					</div>					
					<div class="col-md-2 col-xs-12" style="padding:10px;">
						<select name="tipo" class="form-control campo selectpicker" id="id_tipo" required="" placeholder="tipo" tabindex="-98">
							<option value="" selected="">Precio</option>
							<option value="">Precio 2</option>
							<option value="">Precio 3</option>
						</select>
					</div>					
					<div class="col-md-2 col-xs-12" style="padding:10px;">
						<select name="tipo" class="form-control campo selectpicker" id="id_tipo" required="" placeholder="tipo" tabindex="-98">
							<option value="" selected="">Servicios</option>
							<option value="">Servicios 2</option>
							<option value="">Servicios 3</option>
						</select>
					</div>
					<div class="col-md-2 col-xs-12" style="padding:10px;">
						<select name="tipo" class="form-control campo selectpicker" id="id_tipo" required="" placeholder="tipo" tabindex="-98">
							<option value="" selected="">País</option>
							<option value="">País 2</option>
							<option value="">País 3</option>
						</select>
					</div>
					<div class="col-md-2 col-xs-12" style="padding:10px;">
						<select name="tipo" class="form-control campo selectpicker" id="id_tipo" required="" placeholder="tipo" tabindex="-98">
							<option value="" selected="">Ciudad</option>
							<option value="">Ciudad 2</option>
							<option value="">Ciudad 3</option>
						</select>
					</div>
					<div class="col-md-2 col-xs-12" style="padding:10px;">
						<input type="button" id="btnBuscar" class="btn btn-default btn-" value="BUSCAR">
					</div>
				</form>
			</div>
		</div>
	</div>
	

	<div class="container-fluid" style="margin-top: 50px">
		<div class="row" >
			<div class="col-md-4 categorias">
				<a href="{% url 'website:alojamientos-categorias' %}" >
					<img class="img-responsive" src="{% static 'img/alojamientos/apartamentos.png' %}" width="100%" title="Apartamentos">
				</a>
			</div>
			<div class="col-md-4 categorias">
				<a href="{% url 'website:alojamientos-categorias' %}">
					<img class="img-responsive" src="{% static 'img/alojamientos/casa_familia.png' %}" width="100%" title="Casa de Familia">
				</a>
			</div>
			<div class="col-md-4 categorias">
				<a href="{% url 'website:alojamientos-categorias' %}">
					<img class="img-responsive" src="{% static 'img/alojamientos/res_estudiantes.png' %}" width="100%" title="Residencias Estudiantiles">
				</a>
			</div>
		</div>
	</div>
{% endblock contenido %}

{% block css %}
	<style type="text/css">
		.campo button {
			color: #333;
			background: #f0f0f0;
			border: 1px solid #f0f0f0;
		}

		.campo button:hover {
			color: #fff;
			background: #333;
			border: 1px solid #333;
		}

		.categorias img{
			padding: 10px;
		}
		
	</style>
{% endblock %}

