{% extends 'layouts/default.html' %}
{% load static %}
{% load i18n %}

{% block contenido %}
	<div class="" role="tabpanel" data-example-id="togglable-tabs">
	  <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
	    <li role="presentation" class="active">
	    	<a href="#contCambiarClave" id="tabCambiarClave" role="tab" data-toggle="tab" aria-expanded="true">{{ _('Cambiar Clave') }}</a>
	    </li>
	  </ul>
	  
	  <div id="myTabContent" class="tab-content col-md-12 col-sm-12 col-xs-12">
	  	<div class="clearfix"></div>
	  	<div class="barra"></div>
	    <div role="tabpanel" class="tab-pane fade active in col-md-12 col-sm-12 col-xs-12" id="contCambiarClave" aria-labelledby="tabCambiarClave">
	    	<center>
	    		<div class="col-md-8 col-sm-8 col-xs-8">
	    			<div class="col-md-12 col-sm-12 col-xs-12">
	    				<h3 class="col-md-4 col-sm-4 col-xs-4">{{ _('Contraseña Actual') }}</h3>
	    				<div class="col-md-1 col-sm-1 col-xs-1"></div>
	    				<input type="text" class="form-control col-md-7 col-sm-7 col-xs-7" name="clave_actual">
	    			</div>

	    			<div class="col-md-12 col-sm-12 col-xs-12">
	    				<h3 class="col-md-4 col-sm-4 col-xs-4">{{ _('Nueva Contraseña') }}</h3>
	    				<div class="col-md-1 col-sm-1 col-xs-1"></div>
	    				<input type="text" class="form-control col-md-7 col-sm-7 col-xs-7" name="clave_nueva">
	    			</div>

	    			<div class="col-md-12 col-sm-12 col-xs-12">
	    				<h3 class="col-md-4 col-sm-4 col-xs-4">{{ _('Confirmar Contraseña Nueva') }}</h3>
	    				<div class="col-md-1 col-sm-1 col-xs-1"></div>
	    				<input type="text" class="form-control col-md-7 col-sm-7 col-xs-7" name="confirma_clave_nueva">
	    			</div>
	    		</div>
	    	</center>
	    </div>
	  </div>
	</div>
{% endblock %}