{% extends 'layouts/website.html' %}
{% load staticfiles %}

{% block title %}
    Inicio
{% endblock title %}

{% block contenido %}
	{% include "partials/slider.html" %}

    <img src="{% static 'img/img_buscador.jpg' %}" class="img-responsive" style="max-width:100%; width: 100%">

    {% include "partials/buscador.html" %}

    {% include "partials/porqueLC.html" %}

	{% include "partials/noticias.html" %}	    

   
{% endblock %}

{% block css %}
	<style type="text/css">
		.campo button {
			color: #425166;
			background: #f0f0f0;
			border: 1px solid #f0f0f0;
		}

		.campo button:hover {
			color: #fff;
			background: #425166;
			border: 1px solid #425166;
		}

		.categorias img{
			padding: 10px;
		}
		
	</style>
{% endblock %}

{% block js %}
<script type="text/javascript">
$(window).scroll(function() {    
    posicionarMenu();
});

posicionarMenu();


function posicionarMenu() {
    var altura_del_header = $('nav.barratop').outerHeight(true) + $('nav.navlogo').outerHeight(true);
    var altura_del_menu = $('.nav2').outerHeight(true);

    if ($(window).scrollTop() >= altura_del_header){
        $('.nav2').addClass('fixed');
        $('#myCarousel').css('margin-top', (altura_del_menu) + 'px');
        $("#linkHome img").show();
        $("#linkHome span").hide();
    } else {
        $('.nav2').removeClass('fixed');
        $('#myCarousel').css('margin-top', '0');
        $("#linkHome span").show();
        $("#linkHome img").hide();
    }
}
</script>
{% endblock %}

