{% load staticfiles %}
<html>
<head>
	<title> Language Connections | </title>
	<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
	<link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
	<link href="{% static 'css/custom.css' %}" rel="stylesheet">
</head>

<body class="login">
	<div>
		<div class="login_wrapper">
			<div class="animate form login_form">
				<section class="login_content">
					<img src="{% static 'img/logo_login.png' %}" style="margin: 0 0 20px; max-width: 340px;">

					{% block center %}
					<form id="form_sesion" method="post" accept-charset="utf-8">
						{% csrf_token %}
						<input type="hidden" name="next" value="{{ next }}">

						<div class="form-group has-feedback">
							<input type="text" class="form-control has-feedback-left" placeholder="Usuario o correo electrónico" required="required" name="username"/>
							<span class="fa fa-user form-control-feedback left" aria-hidden="true" style="border-right:none; width:25px; margin-top: 10px;"></span>
						</div>
						
						<div class="form-group has-feedback">
							<input type="password" class="form-control has-feedback-left" placeholder="Contraseña" required="required" name="password"/>
							<span class="fa fa-key form-control-feedback left" aria-hidden="true" style="border-right:none; width:25px; margin-top: 10px; "></span>
						</div>

						<div>
							<a class="reset_pass" href="{% url 'password_reset' %}"> ¿Olvidaste tu Contraseña? </a>
						</div>
						
						<div class="clearfix"></div>
						
						<input type="submit" id="btn_ingresar" value="Iniciar Sesión" class="button btn btn-default submitlogin">
					</form>
					{% endblock %}
				</section>
			</div>
		</div>
	</div>
</body>
</html>