{% extends 'layouts/website.html' %}
{% load staticfiles %}
{% load i18n %}

{% block title %}
    Instituciones Detalle
{% endblock title %}

{% block contenido %}
        
    
    <div class="container-fluid" style="margin-top: 10px">
		<h4 style="margin-left: 35px;">
			{{ _('Inicio') }} / {{ _('Resultado de búsqueda') }} /  {{ _('Detalle de institución') }}
		</h4>
	</div>
        <img src="{% static 'img/instituciones/banner_detalle.png' %}" class="img-responsive" alt="" width="100%">
    <div class="container-fluid verde" style="padding:20px">
        <div class="row">
            <div class="col-md-2 col-xs-2">
                <div class="logo-institucion">
                    <img src="{% static 'img/instituciones/logo mac.png' %}" class="img-responsive" alt="logo institucion">
                </div>
            </div>

            <div class="col-md-4 col-xs-10" style="color:#fff;">
                <h4>
                   <i>Mac Gill University </i> &nbsp;
                    <i class="fa fa-star estrella"></i>
                    <i class="fa fa-star estrella"></i>
                    <i class="fa fa-star estrella"></i>
                    <i class="fa fa-star estrella"></i>
                </h4>
                    {{ _('Ubicación') }}: Canadá <br>
                    {{ _('Sedes') }}: Toronto / Vancouver 

                    <a href="#" style="text-decoration:none;">
                        <span class="fa-stack fa-lg social-fb" title="facebook">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                    <span class="fa-stack fa-lg social-tw" title="twitter">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                    </span>
                    <span class="fa-stack fa-lg social-ig" title="Google Plus">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-google-plus fa-stack-1x fa-inverse"></i>
                    </span>
                    <span class="fa-stack fa-lg social-sc" title="instagram">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
                    </span>
            </div>
            <div class="col-md-5 col-xs-12 ">
                <div class="row">
                    <div class="col-md-3 col-xs-3 text-center text-azul" style="padding:0px;">
                       <div class="categorias">
                        <img src="{% static 'img/categorias/idioma_a.png'' %}" class="img-responsive" alt="{{ _('Idioma') }}">
                            {{ _('Idioma') }}
                       </div>
                    </div>
                    <div class="col-md-3 col-xs-3  text-center  text-azul" style>
                         <div class="categorias">
                            <img src="{% static 'img/categorias/bachillerato_a.png' %}" class="img-responsive" alt="{{ _('Bachillerato') }}">
                            {{ _('Bachillerato') }}
                         </div>
                    </div>
                   
                    <div class="col-md-3 col-xs-3  text-center  text-azul" style>
                         <div class="categorias">
                            <img src="{% static 'img/categorias/universidad_a.png' %}" class="img-responsive" alt="{{ _('Uiversidad') }}">
                            {{ _('Uiversidad') }}
                         </div>
                    </div>
                    <div class="col-md-3 col-xs-3  text-center  text-azul" style>
                         <div class="categorias">
                            <img src="{% static 'img/categorias/campamento_v.png' %}" class="img-responsive" alt="{{ _('IdiCampamentooma') }}">
                            {{ _('Campamento') }}
                         </div>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid" style="margin-top:20px;">
        <div class="row">
            <div class="col-lg-7">
                <div class="cuadro texto-azul">
                    <h3> {{ _('Servicios') }} </h3>

                </div>
            </div>
            <div class="col-lg-5">
                <div class="row">
                    <div class="col-md-4" >
                        <div class="cuadro texto-azul text-center" style="min-height:125px">
                            {{ _('Cantidad de Aulas') }}
                            <h2>150</h2>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="cuadro texto-azul text-center" style="min-height:125px">
                            {{ _('Alumnos por Aula') }}
                            <h2>20</h2>
                        </div>
                    </div>
                    <div class="col-md-4" style="min-height:125px">
                        <div class="cuadro texto-azul text-center">
                            {{ _('Edad Mínima de Ingreso') }}
                            <h2>16 años</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top:20px;">
            <div class="col-lg-7">
                <div class="cuadro">
                    <h3> {{ _('Descripción') }} </h3>
                    This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem auctor, nisi elit consequat ipsum, nec sagitis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.'
                </div>
            </div>
            <div class="col-lg-5">
                <div class="cuadro">
                    <h3>{{ _('Nacionalidades') }} </h3>
                </div>
            </div>
        </div>
    </div>

    <!--premios y acreditaciones-->
    <div class="container-fluid" style="margin-top:20px;">
        <div class="row">
            <div class="col-xs-12">
                <div class="cuadro texto-azul">
                    <h3> {{ _('Premios y acreditaciones') }} </h3>
                    <div class="row medallas">
                        <div class="col-xs-1">
                            <img src="{% static 'img/instituciones/medalla_1.png' %}" class="img-responsive">
                        </div>
                        <div class="col-xs-1">
                            <img src="{% static 'img/instituciones/medalla_2.png' %}" class="img-responsive">
                        </div>
                        <div class="col-xs-1">
                            <img src="{% static 'img/instituciones/medalla_3.png' %}" class="img-responsive">
                        </div>
                        <div class="col-xs-1">
                            <img src="{% static 'img/instituciones/medalla_4.png' %}" class="img-responsive">
                        </div>
                        <div class="col-xs-1">
                            <img src="{% static 'img/instituciones/medalla_1.png' %}" class="img-responsive">
                        </div>
                        <div class="col-xs-1">
                            <img src="{% static 'img/instituciones/medalla_1.png' %}" class="img-responsive">
                        </div>
                        <div class="col-xs-1">
                            <img src="{% static 'img/instituciones/medalla_1.png' %}" class="img-responsive">
                        </div>
                        <div class="col-xs-1">
                            <img src="{% static 'img/instituciones/medalla_1.png' %}" class="img-responsive">
                        </div>
                        <div class="col-xs-1">
                            <img src="{% static 'img/instituciones/medalla_1.png' %}" class="img-responsive">
                        </div>
                        <div class="col-xs-1">
                            <img src="{% static 'img/instituciones/medalla_1.png' %}" class="img-responsive">
                        </div>
                        <div class="col-xs-1">
                            <img src="{% static 'img/instituciones/medalla_1.png' %}" class="img-responsive">
                        </div>
                        <div class="col-xs-1">
                            <img src="{% static 'img/instituciones/medalla_1.png' %}" class="img-responsive">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-1">
            </div>

        </div>
    </div>
    <!--cursos o programas-->
    <div class="container-fluid" style="margin-top:20px;">
        <div class="row">
            <div class="col-xs-12">
                <div class="cuadro texto-azul">
                    <h3> {{ _('Cursos o programas disponibles') }} </h3>
                    <div class="row">
                        <div class="col-md-3">
                            <div style="min-height:120px" class="cursos">
                                <img src="{% static 'img/categorias/idioma_a.png'' %}" class="img-responsive" alt="{{ _('Idioma') }}" style="margin:auto;">

                            </div>
                        </div>
                        <div class="col-md-3">
                            <div style="min-height:120px" class="cursos">
                                <img src="{% static 'img/categorias/idioma_a.png'' %}" class="img-responsive" alt="{{ _('Idioma') }}" style="margin:auto;">

                            </div>
                        </div>
                        <div class="col-md-3">
                            <div style="min-height:120px" class="cursos">
                                <img src="{% static 'img/categorias/idioma_a.png'' %}" class="img-responsive" alt="{{ _('Idioma') }}" style="margin:auto;">

                            </div>
                        </div>
                        <div class="col-md-3">
                            <div style="min-height:120px" class="cursos">
                                <img src="{% static 'img/categorias/idioma_a.png'' %}" class="img-responsive" alt="{{ _('Idioma') }}" style="margin:auto;">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-1">
            </div>

        </div>
    </div>
  
{% endblock contenido %}
{% block css %}
<style>
    body {
        background-color: #f2f2f2;
    }
    .categorias{
        background: #fff;
        padding: 5px;
        color: #425166;

    }
    .cuadro{
        padding: 10px;
        background: #fff;
    }
    .cuadro h2{
        text-align: center;
        font-weight: bold;
    }
    .logo-institucion{
        padding: 20px;
        margin-top: -75px;
        background: #fff;
        -webkit-box-shadow: 7px 10px 5px -1px rgba(0,0,0,0.54);
        -moz-box-shadow: 7px 10px 5px -1px rgba(0,0,0,0.54);
        box-shadow: 7px 10px 5px -1px rgba(0,0,0,0.54);
    }
    .logo{
        background: #fff;
        -webkit-box-shadow: 7px 10px 5px -1px rgba(0,0,0,0.54);
        -moz-box-shadow: 7px 10px 5px -1px rgba(0,0,0,0.54);
        box-shadow: 7px 10px 5px -1px rgba(0,0,0,0.54);
    }
    .estrella {
        color:#FFD700;

    }
    .medallas img {
        width: 50px;
        margin: auto;
    }
    -
    .cursos img{
        margin: auto;
    }
</style>

{% endblock %}


