{% extends 'layouts/website.html' %}
{% load staticfiles %}

{% block title %}
    Noticias
{% endblock title %}

{% block contenido %}
		
	<img src="{% static 'img/img_buscador.jpg' %}" class="img-responsive" style="max-width:100%;margin: auto;">
			
	{% include "partials/buscador.html" %}
	
	<div class="container-fluid" style="margin-top: 10px">
		<h4 style="margin-left: 35px;">
			Home / Blog de Noticias
		</h4>
	</div>

	<div class="container-fluid" style="margin-top: 10px">
		<div class="row" style="margin-top: 10px;">
			<div class="col-lg-1 col-xs-12-hidden"></div>
			<div class="col-lg-7">
				<div style="padding: 20px;padding-top:40px;">
					<img src="{% static 'img/noticias/noticias_img2.png'%}" class="img-responsive" style="width: 100%; margin-bottom: 5px; border:1px solid">
					<h2 class="titulo"> ¿No sabes que idioma estudiar? <br>
					Nosotros te ayudamos
					 </h2>
					<p class="text-justify">
						Scotiabank Nuit Blanche es un festival que dura toda una noche en nla ciudad de Toronto, Ontario, Canada. Muestra artes contemporáneas que son producidas por la ciudad de Toronto y sus diferentes artistas. Cuenta con diferentes artistas locales, nacionales e internacionales. AL mismo tiempo que proyectos independientes de museos, instituciones y galerías de Toronto.
					</p>
					<div class="row-container">
						<div class="categorias-item-price verde col-md-6" style="text-align: left;">
							<p>25 de Mayo del 2017</p>
						</div>
						<div class="col-md-6">
							<b>Compartir:</b> 
							<a href="#" style="text-decoration:none;">
								<span class="fa-stack fa-lg social-fb" title="facebook">
									<i class="fa fa-circle fa-stack-2x"></i>
									<i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
								</span>
							</a>
							<span class="fa-stack fa-lg social-tw" title="twitter">
								<i class="fa fa-circle fa-stack-2x"></i>
								<i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
							</span>
							<span class="fa-stack fa-lg social-ig" title="Google Plus">
								<i class="fa fa-circle fa-stack-2x"></i>
								<i class="fa fa-google-plus fa-stack-1x fa-inverse"></i>
							</span>
							<span class="fa-stack fa-lg social-sc" title="instagram">
								<i class="fa fa-circle fa-stack-2x"></i>
								<i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
							</span>
						</div>

					</div>
					
				</div>
			</div>				
			<div class="col-lg-4">
				<div style="padding: 20px;padding-top:0px;">
					<h2 class="titulo">Lo más Visitado</h2>
					
					<div class="row verde" style="border:1px solid #C3D245; margin-top: 10px; max-height: 150px; ">
						<div class="col-md-4 col-xs-12 imagen-visitado">
							<img src="{% static 'img/noticias/noticias_img3.png' %}" class="img-responsive" style="width: 100%; max-height:150px; ">
						</div>
						<div class="col-md-8 col-xs-12 verde texto-noticia">
							<h4>Las 5 mejores escuelas de idiomas del mundo</h4>
							<h4>Canadá / Toronto</h4>
							Salón de juegos
						</div>

					</div>
					<div class="row azul" style="border:1px solid #C3D245;margin-top: 10px;">
						<div class="col-md-4 col-xs-12 imagen-visitado">
							<img src="{% static 'img/noticias/noticias_img3.png' %}" class="img-responsive" style="width: 100%; max-height:150px; ">	
						</div>
						<div class="col-md-8 col-xs-12  azul texto-noticia">
							<h4>Información importante para los estudiantes LC mundo</h4>
							<h4>Canadá / Toronto</h4>
							Salón de juegos
						</div>

					</div>
					<div class="row verde" style="border:1px solid #C3D245; margin-top: 10px;">
						<div class="col-md-4 col-xs-12 imagen-visitado">
							<img src="{% static 'img/noticias/noticias_img3.png' %}" class="img-responsive" style="width: 100%; max-height:150px; ">	
						</div>
						<div class="col-md-8 col-xs-12 verde texto-noticia">
							<h4>Estudiar inglés en el extranjero es la mejor opción para ti</h4>
							<h4>Canadá / Toronto</h4>
							Salón de juegos
						</div>

					</div>
					<div class="row azul" style="border:1px solid #C3D245;margin-top: 10px;">
						<div class="col-md-4 col-xs-12 imagen-visitado">
							<img src="{% static 'img/noticias/noticias_img3.png' %}" class="img-responsive" style="width: 100%; max-height:150px; ">	
						</div>
						<div class="col-md-8 col-xs-12  azul texto-noticia">
							<h4>Las 5 mejores escuelas de idiomas del mundo</h4>
							<h4>Canadá / Toronto</h4>
							Salón de juegos
						</div>

					</div>

				</div>
			</div>
		</div>
	</div>
{% endblock contenido %}

{% block css %}
	<style type="text/css">
		.campo button {
			color: #333;
			background: #f0f0f0;
			border: 1px solid #f0f0f0;
		}

		.campo button:hover {
			color: #fff;
			background: #333;
			border: 1px solid #333;
		}

		.categorias img{
			padding: 10px;
		}

		.titulo {
			font-weight: bold;
			color:#425166;
		}
		.texto-noticia{
			color: #fff;
			padding: 10px;
		}
		.texto-noticia h4{
			font-weight: bold;
		}
		.imagen-visitado {
			padding: 0px;
		}


		.esquinas

		
	</style>
{% endblock %}

