{% extends 'layouts/website.html' %}
{% load staticfiles %}

{% block title %}
    Estudia y trabaja
{% endblock title %}

{% block contenido %}
		
	<div class="container-fluid" style="margin-top: 10px">
		<h4 style="margin-left: 35px;">
			Home / Resultados de búsqueda / <span class="texto-verde">Estudia y trabaja</span>
		</h4>
	</div>
	<img src="{% static 'img/estudia_trabaja/estudia_trabaja.png' %}" class="img-responsive" style="max-width:100%;margin: auto; width: 100%">
	<div class="container-fluid" style="margin-top: 10px">
		<div class="col-md-6">
			<div class="row">
				<div class="col-xs-12">
					<h3 class=" texto-azul" style="font-weight: bold;">Aprende inglés, practica para entrevistas de trabajo y toma trabajos de media jornada, con o sin salario</h3>
				</div>
			</div>
			<div class="col-md-12">
				<p class="text-justify">La competencia laboral en el mundo es cada vez más dificil, es por eso que contar  con una buena preparación académica, hablar varios idiomas y adquirir una buena experiencia laboral son factores importantes que los empleadores toman en cuenta a la hora de aceptar a alguién.
				<br> <br>
				Estos factores se vuelven aún más valiosos cuando son adquiridos en el extranjero, Muchos de nuestros destinos te ofrecen la posibilidad de estudiar y trabajar al mismo tiempo, entre los más destacados se encuentran:
				</p>
			</div>
		</div>
		<div class="col-md-6">
			<div class="row">
				<div class="col-md-4 pais-contenedor">
					<img src="{% static 'img/estudia_trabaja/canada.png' %}" class="img-responsive" style="max-width:100%;margin: auto; width: 100%">
					<div class="pais">CANADA</div>
				</div>
				<div class="col-md-4 pais-contenedor">
					<img src="{% static 'img/estudia_trabaja/irlanda.png' %}" class="img-responsive" style="max-width:100%;margin: auto; width: 100%">
					<div class="pais">IRLANDA</div>
				</div>
				<div class="col-md-4 pais-contenedor">
					<img src="{% static 'img/estudia_trabaja/new_zeland.png' %}" class="img-responsive" style="max-width:100%;margin: auto; width: 100%">
					<div class="pais">NEW ZELAND</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 pais-contenedor">
					<img src="{% static 'img/estudia_trabaja/australia.png' %}" class="img-responsive" style="max-width:100%;margin: auto; width: 100%">
					<div class="pais">AUSTRALIA</div>
				</div>
				<div class="col-md-4 pais-contenedor">
					<img src="{% static 'img/estudia_trabaja/alemania.png' %}" class="img-responsive" style="max-width:100%;margin: auto; width: 100%">
					<div class="pais">ALEMANIA</div>
				</div>
			</div>
		</div>
	</div>
	

	<div class="container-fluid" style="margin-top: 10px">
		<div class="row verde" style="padding: 20px;color: #fff;">
			<div class="col-xs-9" style="text-align: center;">
				<h3 style="font-weight: bold;"><i>Encuentra el curso</i></h3>
			</div>
			<div class="col-xs-3" style="text-align: center;padding: 20px;">
				<a href="#">
					<span id="registrar" class="btn btn-default" style="font-weight: bold;font-size:10px;">REGISTRARME</span>
				</a>
			</div>
			
		</div>
	</div>

{% endblock contenido %}

{% block css %}
	<style type="text/css">
		.campo button {
			color: #333;
			background: #f0f0f0;
			border: 1px solid #f0f0f0;
		}

		.campo button:hover {
			color: #fff;
			background: #333;
			border: 1px solid #333;
		}

		.categorias img{
			padding: 10px;
		}

		.titulo {
			font-weight: bold;
			color:#425166;
		}
		.texto-noticia{
			color: #fff;
			padding: 10px;
		}
		.texto-noticia h4{
			font-weight: bold;
		}
		.imagen-visitado {
			padding: 0px;
		}
		.pais{
			padding: 10px;
			padding-bottom: 10px;
			text-align: center;
			border:1px solid #E7E7E7;
		}
		.pais-contenedor {
			padding-bottom: 10px;
		}

		
	</style>
{% endblock %}

