{% extends 'layouts/website.html' %}
 {% load staticfiles %} 
 {% load i18n %}
 {% block title %} Alojamientos {% endblock title %} 
 {% block contenido %}
<div class="container-fluid">
    <div class="col-xs-12 text-center">
        <h1 class="texto-azul" style="font-weight:bold;">
            <i>{{ _('¿Qué quieres estudiar y donde?') }}</i>
        </h1>
        <p>
            {{ _('Utiliza nuestras herramientas de búsqueda y encuentra el programa ideal para ti') }}
        </p>
    </div>
    <img src="{% static 'img/img_buscador.jpg' %}" class="img-responsive" style="max-width:100%;margin: auto;">
</div>

<div class="verde">
    <div class="container">
        <div class="row" style="padding: 10px">
            <form id="formulario" method="post">
                <div class="col-md-2 col-xs-12" style="padding:10px;">
                    <select name="tipos_alojamientos" class="form-control campo" id="id_tipos_alojamientos" required="" placeholder="tipos_alojamiento"
                        tabindex="-98">
							<option value="" selected=""> {{_("Tipo")}} </option>
							{% for tipos in tipos_alojamientos %}
								<option value="{{ tipos.id }}">{{ tipos.descripcion }}</option>
							{% endfor %}
						</select>
                </div>
                <div class="col-md-2 col-xs-12" style="padding:10px;">
                    <select name="precios" class="form-control campo" id="id_precios" required="" placeholder="precios" tabindex="-98">
							<option value="" selected=""> {{_("Precio")}}</option>
							{% for precio in precios %}
								<option value="{{ precio.id }}">{{ precio.nombre }}</option>
							{% endfor %}
						</select>
                </div>
                <div class="col-md-2 col-xs-12" style="padding:10px;">
                    <select name="servicios" class="form-control campo" id="id_servicios" required="" placeholder="servicios" tabindex="-98">
							<option value="" selected=""> {{_("Servicios")}} </option>
							{% for servicio in servicios %}
								<option value="{{ servicio.id }}">{{ servicio.nombre }}</option>
							{% endfor %}
						</select>
                </div>
                <div class="col-md-2 col-xs-12" style="padding:10px;">
                    <select name="paises" class="form-control campo" id="id_paises" required="" placeholder="paises" tabindex="-98">
							<option value="" selected=""> {{_("País")}}</option>
							{% for pais in paises %}
								<option value="{{ pais.id }}">{{ pais.pais }}</option>
							{% endfor %}
						</select>
                </div>
                <div class="col-md-2 col-xs-12" style="padding:10px;">
                    <select name="ciudades" class="form-control campo" id="id_ciudades" required="" placeholder="ciudades" tabindex="-98">
							<option value="" selected=""> {{_('Ciudad')}}</option>
						</select>
                </div>
                <div class="col-md-2 col-xs-12" style="padding:10px;">
                    <input type="button" id="btnBuscar" class="btn btn-default btn-" value="BUSCAR">
                </div>
            </form>
        </div>
    </div>
</div>


<div class="container-fluid" style="margin-top: 50px">
    <div class="row">
        <div class="col-md-4 categorias">
            <a href="{% url 'website:alojamientos-categorias' %}">
					<img class="img-responsive" src="{% static 'img/alojamientos/apartamentos.png' %}" width="100%" title="Apartamentos">
				</a>
        </div>
        <div class="col-md-4 categorias">
            <a href="{% url 'website:alojamientos-categorias' %}">
					<img class="img-responsive" src="{% static 'img/alojamientos/casa_familia.png' %}" width="100%" title="Casa de Familia">
				</a>
        </div>
        <div class="col-md-4 categorias">
            <a href="{% url 'website:alojamientos-categorias' %}">
					<img class="img-responsive" src="{% static 'img/alojamientos/res_estudiantes.png' %}" width="100%" title="Residencias Estudiantiles">
				</a>
        </div>
    </div>
</div>
{% endblock contenido %} {% block css %}
<style type="text/css">
    .campo button {
        color: #333;
        background: #f0f0f0;
        border: 1px solid #f0f0f0;
    }

    .campo button:hover {
        color: #fff;
        background: #333;
        border: 1px solid #333;
    }

    .categorias img {
        padding: 10px;
    }

    .bootstrap-select .dropdown-menu .text {
        background-color: #fcfcfc;
        color:#333;
        font-size: none;
        padding: 0px;:
    }
}

</style>
{% endblock %} 

{% block js %}
<script type="text/javascript">

$(function() {
    
    $("#id_paises").on('change', function(){
       
        var pais_id = $('#id_paises').val();
        if(pais_id == ''){
            $('#id_ciudades').html('').append('<option value=""> {{_("Ciudad")}} </option>');
            return false;
        }

        $.ajax({
            dataType: 'json',
            method: 'POST',
            url: '/alojamientos/get_cities/',
            data: {
                pais: pais_id,
                csrfmiddlewaretoken: '{{ csrf_token  }}'
            },
            success: function (r) {
                //console.log(r);
                $('#id_ciudades').html('').append('<option value=""> {{_("Ciudad")}} </option>');
                //recorriendo las ciudades rellenando el select ciudades 
                $.each(r, function(id, v){
                    $('#id_ciudades').append('<option value="' + v.id + '">' + v.ciudad + '</option>');
                });

            }
        });
    });
    
});
</script>
{% endblock %}
