{% extends 'layouts/website.html' %}
{% load staticfiles %}

{% block title %}
    Instituciones 
{% endblock title %}

{% block contenido %}
		
	<img src="{% static 'img/img_buscador.jpg' %}" class="img-responsive" style="max-width:100%;margin: auto;">
			
	<div class="verde">
		<div class="container">
			<div class="row" style="padding: 10px">
				<form action="#">
					<div class="col-md-2 col-xs-12" style="padding:10px;">
						<select name="categoria" class="form-control campo selectpicker" id="id_categoria" required="" placeholder="tipos_alojamiento" tabindex="-98">
							<option value="" selected="">... Seleccione</option>
							{% for categoria in categorias %}
								<option value="{{ categoria.id }}">{{ categoria.nombre }}</option>
							{% endfor %}
						</select>
					</div>					
					<div class="col-md-2 col-xs-12" style="padding:10px;">
						<select name="categoria" class="form-control campo selectpicker" id="id_categoria" required="" placeholder="tipos_alojamiento" tabindex="-98">
							<option value="" selected="">... Seleccione</option>
							{% for categoria in categorias %}
								<option value="{{ categoria.id }}">{{ categoria.nombre }}</option>
							{% endfor %}
						</select>
					</div>					
					<div class="col-md-2 col-xs-12" style="padding:10px;">
						<select name="categoria" class="form-control campo selectpicker" id="id_categoria" required="" placeholder="tipos_alojamiento" tabindex="-98">
							<option value="" selected="">... Seleccione</option>
							{% for categoria in categorias %}
								<option value="{{ categoria.id }}">{{ categoria.nombre }}</option>
							{% endfor %}
						</select>
					</div>
					<div class="col-md-2 col-xs-12" style="padding:10px;">
						<select name="categoria" class="form-control campo selectpicker" id="id_categoria" required="" placeholder="tipos_alojamiento" tabindex="-98">
							<option value="" selected="">... Seleccione</option>
							{% for categoria in categorias %}
								<option value="{{ categoria.id }}">{{ categoria.nombre }}</option>
							{% endfor %}
						</select>
					</div>
				
					<div class="col-md-2 col-xs-12" style="padding:10px;">
						<input type="button" id="btnBuscar" class="btn btn-default btn-" value="BUSCAR">
					</div>
                    <div class="col-md-2"></div>
				</form>
			</div>
		</div>
	</div>
	
	<div class="container-fluid" style="margin-top: 10px">
		<h4 style="margin-left: 35px;">
			Instituciones / Resultado de búsquedas
		</h4>

		<div class="row" style="margin-top: 40px;">
			<div class="col-md-3 categorias">
				<div class="categorias-item-content">
					<div class="categorias-item-img">
                        <div class="row">
                            <div class="col-md-10 col-xs-10">
                                <div class="owl-carousel"  data-plugin-options='{"items": 1, "singleItem": false, "pagination": false, "autoPlay": true}'>
                                    <a class="item "  style="text-decoration:none;color:#7e8998;font-weight:bold;"  href="{% url 'website:instituciones-detail' 1%}" data-lightbox="informatica" data-title="imagen">
                                        <img src="{% static 'img/instituciones/1.png' %}" class="img-responsive" width="100%" style="margin:auto;height:270px"/>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-2 col-xs-2">
                                <div class="row">
                                    <div class="col-xs-12 icono" style="padding-top:25px;">
                                        <i class="fa fa-comments fa-2x favorito"></i>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 icono">
                                        <i class="fa fa-certificate fa-2x favorito"></i>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 icono">
                                        <i class="fa fa-graduation-cap fa-2x"></i>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 icono">
                                        <i class="fa fa-futbol-o fa-2x"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
					</div>
					<div class="categorias-item-text">
						<div class="row">
							<div class="col-md-6">
								<p>
                                    
                                    EC
                                </p>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
							</div>
							<div class="col-md-6 text-right">
								<p>Canada / Toronto</p>
								<a href="#">
									<i class="fa fa-heart fa-2x text-center favorito"></i>
								</a>
							</div>
						</div>
						
					</div>
					
				</div>
			</div>
			<div class="col-md-3 categorias">
				<div class="categorias-item-content">
					<div class="categorias-item-img">
                        <div class="row">
                            <div class="col-md-10 col-xs-10">
                                <div class="owl-carousel"  data-plugin-options='{"items": 1, "singleItem": false, "pagination": false, "autoPlay": true}'>
                                    <a class="item "  style="text-decoration:none;color:#7e8998;font-weight:bold;"  href="{% url 'website:instituciones-detail' 1%}" data-lightbox="informatica" data-title="imagen">
                                        <img src="{% static 'img/instituciones/2.png' %}" class="img-responsive" width="100%" style="margin:auto;height:270px"/>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-2 col-xs-2">
                                <div class="row">
                                    <div class="col-xs-12 icono" style="padding-top:25px;">
                                        <i class="fa fa-comments fa-2x favorito"></i>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 icono">
                                        <i class="fa fa-certificate fa-2x favorito"></i>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 icono">
                                        <i class="fa fa-graduation-cap fa-2x favorito"></i>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 icono">
                                        <i class="fa fa-futbol-o fa-2x"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
					</div>
					<div class="categorias-item-text">
						<div class="row">
							<div class="col-md-6">
								<p>EC</p>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
							</div>
							<div class="col-md-6 text-right">
								<p>Canada / Toronto</p>
								<a href="#">
									<i class="fa fa-heart fa-2x text-center favorito"></i>
								</a>
							</div>
						</div>
						
					</div>
					
				</div>
			</div>
			<div class="col-md-3 categorias">
				<div class="categorias-item-content">
					<div class="categorias-item-img">
                        <div class="row">
                            <div class="col-md-10 col-xs-10">
                                <div class="owl-carousel"  data-plugin-options='{"items": 1, "singleItem": false, "pagination": false, "autoPlay": true}'>
                                    <a class="item "  style="text-decoration:none;color:#7e8998;font-weight:bold;"  href="{% url 'website:instituciones-detail' 1%}" data-lightbox="informatica" data-title="imagen">
                                        <img src="{% static 'img/instituciones/3.png' %}" class="img-responsive" width="100%" style="margin:auto;height:270px"/>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-2 col-xs-2">
                                <div class="row">
                                    <div class="col-xs-12 icono" style="padding-top:25px;">
                                        <i class="fa fa-comments fa-2x favorito"></i>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 icono">
                                        <i class="fa fa-certificate fa-2x favorito"></i>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 icono">
                                        <i class="fa fa-graduation-cap fa-2x favorito"></i>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 icono">
                                        <i class="fa fa-futbol-o fa-2x favorito"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
					</div>
					<div class="categorias-item-text">
						<div class="row">
							<div class="col-md-6">
								<p>EC</p>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
							</div>
							<div class="col-md-6 text-right">
								<p>Canada / Toronto</p>
								<a href="#">
									<i class="fa fa-heart fa-2x text-center favorito"></i>
								</a>
							</div>
						</div>
						
					</div>
					
				</div>
			</div>
			<div class="col-md-3 categorias">
				<div class="categorias-item-content">
					<div class="categorias-item-img">
                        <div class="row">
                            <div class="col-md-10 col-xs-10">
                                <div class="owl-carousel"  data-plugin-options='{"items": 1, "singleItem": false, "pagination": false, "autoPlay": true}'>
                                    <a class="item "  style="text-decoration:none;color:#7e8998;font-weight:bold;"  href="{% url 'website:instituciones-detail' 1%}" data-lightbox="informatica" data-title="imagen">
                                        <img src="{% static 'img/instituciones/4.png' %}" class="img-responsive" width="100%" style="margin:auto;height:270px"/>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-2 col-xs-2">
                                <div class="row">
                                    <div class="col-xs-12 icono" style="padding-top:25px;">
                                        <i class="fa fa-comments fa-2x favorito"></i>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 icono">
                                        <i class="fa fa-certificate fa-2x"></i>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 icono">
                                        <i class="fa fa-graduation-cap fa-2x"></i>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 icono">
                                        <i class="fa fa-futbol-o fa-2x"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
					</div>
					<div class="categorias-item-text">
						<div class="row">
							<div class="col-md-6">
								<p>EC</p>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
							</div>
							<div class="col-md-6 text-right">
								<p>Canada / Toronto</p>
								<a href="#">
									<i class="fa fa-heart fa-2x text-center favorito"></i>
								</a>
							</div>
						</div>
						
					</div>
					
				</div>
			</div>
			
		</div>
		
		<div class="row" style="margin: auto; text-align: center">
			<ul class="pagination">
				<li><a href="#"> < </a></li>
				<li><a href="#">1</a></li>
				<li><a href="#">2</a></li>
				<li><a href="#">3</a></li>
				<li><a href="#">4</a></li>
				<li><a href="#">5</a></li>
				<li><a href="#"> > </a></li>
			</ul>
		</div>
	</div>
{% endblock contenido %}

{% block css %}
	<style type="text/css">
		.campo button {
			color: #333;
			background: #f0f0f0;
			border: 1px solid #f0f0f0;
		}

		.campo button:hover {
			color: #fff;
			background: #333;
			border: 1px solid #333;
		}
		.favorito{
			color: #C3D245;
		}
		.no-favorito{
			color: #8A8A8A;
		}
        .icono{
            padding-left: 0px;
            padding-bottom: 30px;
            color: #CECDD1;

        }
		
	</style>
{% endblock %}

{% block js%}
<script type="text/javascript">
$(function(){
	$('.owl-carousel').owlCarousel({
		loop:true, 
		margin:10, 
		nav:true, 
		items:1,
		navigation:true,
		navigationText: [
        	"<i class='fa fa-chevron-left' style='color:#fff'></i>",
        	"<i class='fa fa-chevron-right'></i>"
        ],
	});

	$( ".owl-prev").html('<i class="fa fa-chevron-left"></i>');
 	$( ".owl-next").html('<i class="fa fa-chevron-right"></i>');
});
</script>
{% endblock js%}

