<div class="col-sm-10 col-lg-6 col-lg-offset-3 col-md-6  col-md-offset-3" style="margin-bottom: 25px;margin-top: 25px;">
    <input type="submit" id="guardar" name="guardar" class="btn btn-default right btnAceptar" value="{{ _('Aceptar') }}">
    <input type="reset" id="limpiar" class="btn btn-warning right btnLimpiar" value="{{ _('Limpiar') }}">
</div>