{% block filtroDatatable%}{% endblock %}
{{ tabla.titulo }}
<table id="{{ tabla.id|default:"tabla" }}!" class="table table-striped table-hover table-bordered">
    <thead>
        <tr>
            {% for columna, ancho in tabla.columnas.items %}
            <th style="width: {{ ancho }}%;">{{ columna }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody></tbody>
    <tfoot>
        <tr>
            {% for columna, ancho in tabla.columnas.items %}
            <td style="width: {{ ancho }}%;">{{ columna }}</td>
            {% endfor %}
        </tr>
    </tfoot>
</table>