{% load staticfiles %}
<div class="col-md-3 left_col">
	<div class="left_col scroll-view">
		<div class="navbar nav_title" style="border: 0; height:auto;">
			<a href="{% url 'administrador:index' %}" class="site_title" style=" height:auto; padding-left:0px !important;">
				<center>
					<img src="{% static 'img/lc_blanco.png' %}" style='max-width:60%;padding:4px; '>
				</center>
			</a>
		</div>

		<div class="clearfix"></div>

		<br />

		<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
			<div class="menu_section">
				<ul class="nav side-menu">
					{% for MENU_ in MENU %}
						{% for element in MENU_ %}
						<li>
							{% if 'direccion' in element %}
							<a href="{% url element.direccion %}">
							{% else %}
							<a href="#{{ element.nombre|slugify }}">
							{% endif %}
								<i class="{{ element.icono }}" aria-hidden="true"></i> {{ element.nombre }}
								{% if element.menu %}
								<i class="fa fa-chevron-down flecha" aria-hidden="true"></i>
								{% endif %}
							</a>
							
							{% if element.menu %}
							<ul class="nav child_menu">
							{% for subelement in element.menu %}
								<li>
									{% if 'direccion' in subelement %}
									<a href="{% url subelement.direccion %}">
									{% else %}
									<a href="#{{ subelement.nombre|slugify }}">
									{% endif %}
										<i class="{{ subelement.icono }}" aria-hidden="true"></i> {{ subelement.nombre }}
									</a>
								</li>
							{% endfor %}
							</ul>
							{% endif %}

							<!-- ASI DEBE SER LA LISTA DE HIJOS  -->
						</li>
						{% endfor %}
					{% endfor %}
				</ul>
			</div>
		</div>
		<!-- /sidebar menu -->

		<!-- /menu footer buttons
		<div class="sidebar-footer hidden-small">
			<a data-toggle="tooltip" data-placement="top" title="Settings">
				<span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
			</a>
			<a data-toggle="tooltip" data-placement="top" title="FullScreen">
				<span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
			</a>
			<a data-toggle="tooltip" data-placement="top" title="Lock">
				<span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
			</a>
			<a data-toggle="tooltip" data-placement="top" title="Logout" href="login.html">
				<span class="glyphicon glyphicon-off" aria-hidden="true"></span>
			</a>
		</div> -->
		<!-- /menu footer buttons -->
	</div>
</div>