{% load staticfiles %}
<style type="text/css">
	#modalMultimedia .filtro{
		float: left;
    	width: 220px;
    	margin: 20px 20px;
	}

	.bar {
	    height: 18px;
	    background: green;
	}
</style>
<div id="modalMultimedia" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">

    	<div class="modal-header" style="background-color:#425262; color:#FFF; ">
    		{{ _('Archivos Multimedia') }}
			<button class="close" type="button" data-dismiss="modal"> <span aria-hidden="true">X</span> </button>
		</div>

		<div class="modal-body">
            <input type="button" class="btn btn-default start" id="subir_todos" value="Subir Todos" style="position: absolute;right: 47px;width: 100px;" />
			<div role="tabpanel" data-example-id="togglable-tabs" style="float:left; width:100%;">
              <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                <li role="presentation" class="active liAddMultimedia"><a href="#tab_content1" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">{{ _('Nueva Imagen') }}</a>
                </li>
                <li role="presentation" class="liBibliotecaMultimedia"><a href="#tab_content2" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false">{{ _('Biblioteca de Imágenes') }}</a>
                </li>
              </ul>
              <div id="myTabContent" class="tab-content">
                <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">
                	<div class="clearfix"></div>                	
					<div style="float:left; width:100%; border:1px solid #F0F0F0; max-height:500px; overflow:auto;">
						
						<div class="cargador_multimedia" style="margin: 0 auto; min-height: 230px; overflow: auto; width: 400px;">
							<form id="form_fileupload" action="#" method="POST" enctype="multipart/form-data">
								<center>
									<div id="progress">
									    <div class="bar" style="width: 0%;"></div>
									</div>
									<img class="fileinput-button" src="{% static 'img/add_imagen.png' %}" alt="Agregar Archivo"  style="cursor: pointer;margin-bottom: 5px; max-width: 250px;">
									<input id="fileupload" type="file" name="files" multiple style="display:none !important;" accept="image/png, .jpeg, .jpg, image/gif, video/mp4, application/pdf, video/webm">
								
								</center>
							</form>
						</div>

            <div id="files" style="width:100%;"></div>

					</div>					
                </div>

                <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="profile-tab">
                	<div class="clearfix" style="height:10px;"></div>
                	<div style="width:100%; float:left;">
                		<form id="fFiltrosMultimedia" onSubmit="return false;">
							<div class="filtro">
								<label> Tipo de Archivo </label>
								<select class="form-control" id="filtro_tipoMultimedia" name="filtro_tipoMultimedia">
									<option>-Todo</option>
									<option>Imágenes</option>
									<option>Videos</option>
								</select>
							</div>

							<div class="filtro">
								<span class="labelObj"> Tipo de Imagen </span>
								<select class="form-control" id="filtro_tipoImagen" name="filtro_tipoImagen">
									<option>-Todas las imagenes</option>
									<option>Imágenes 1</option>
									<option>Imágenes 2</option >
								</select>
							</div>

							<div class="filtro">
								<span class="labelObj"> Buscar Archivo por Nombre </span>
								<input type="text" class="form-control" name="filtro_nombre_multimedia" id="filtro_nombre_multimedia" placeholder="nombre del Archivo">
							</div>

							<button id="btnFiltrarMultimedia" type="button" class="btn btn-default" style="margin-top: 40px;">
								<i class="fa fa-filter"></i>
								{{ _('Filtrar') }}
							</button>
                		</form>
					</div>

                  	<div class="contenedorBiblioteca">
                  		<div class="archivoBiblioteca" onClick="activaImg(this);">
                  			<img class="imgBiblioteca" src="{% static 'img/porqueLC/visa.jpg' %}" id_multimedia="1" nombreimg="visa.jpg" title="titulo 1" alt="">
                  			<label class='nombreMultimedia'> visa.jpg </label>
                  		</div>
                  		<div class="archivoBiblioteca" onClick="activaImg(this);">
                  			<img class="imgBiblioteca" src="{% static 'img/porqueLC/alojamiento.jpg' %}" id_multimedia="2" nombreimg="alojamiento.jpg" title="titulo 2" alt=" alt 2">
                  			<label class='nombreMultimedia'> alojamiento.jpg </label>
                  		</div>
                  		<div class="archivoBiblioteca" onClick="activaImg(this);">
                  			<img class="imgBiblioteca" src="{% static 'img/porqueLC/asesorias.jpg' %}" nombreimg="" title="" alt="">
                  			<label class='nombreMultimedia'> asesorias.jpg </label>
                  		</div>
                  		<div class="archivoBiblioteca" onClick="activaImg(this);">
                  			<img class="imgBiblioteca" src="{% static 'img/porqueLC/visa.jpg' %}" nombreimg="" title="" alt="">
                  			<label class='nombreMultimedia'> visa.jpg </label>
                  		</div>
                  		<div class="archivoBiblioteca" onClick="activaImg(this);">
                  			<img class="imgBiblioteca" src="{% static 'img/porqueLC/visa.jpg' %}" nombreimg="" title="" alt="">
                  			<label class='nombreMultimedia'> visa.jpg </label>
                  		</div>
                  		<div class="archivoBiblioteca" onClick="activaImg(this);">
                  			<img class="imgBiblioteca" src="{% static 'img/porqueLC/visa.jpg' %}" id_multimedia="1" nombreimg="visa.jpg" title="titulo 1" alt="">
                  			<label class='nombreMultimedia'> visa.jpg </label>
                  		</div>
                  		<div class="archivoBiblioteca" onClick="activaImg(this);">
                  			<img class="imgBiblioteca" src="{% static 'img/porqueLC/alojamiento.jpg' %}" id_multimedia="2" nombreimg="alojamiento.jpg" title="titulo 2" alt=" alt 2">
                  			<label class='nombreMultimedia'> alojamiento.jpg </label>
                  		</div>
                  		<div class="archivoBiblioteca" onClick="activaImg(this);">
                  			<img class="imgBiblioteca" src="{% static 'img/porqueLC/asesorias.jpg' %}" nombreimg="" title="" alt="">
                  			<label class='nombreMultimedia'> asesorias.jpg </label>
                  		</div>
                  		<div class="archivoBiblioteca" onClick="activaImg(this);">
                  			<img class="imgBiblioteca" src="{% static 'img/porqueLC/visa.jpg' %}" nombreimg="" title="" alt="">
                  			<label class='nombreMultimedia'> visa.jpg </label>
                  		</div>
                  		<div class="archivoBiblioteca" onClick="activaImg(this);">
                  			<img class="imgBiblioteca" src="{% static 'img/porqueLC/visa.jpg' %}" nombreimg="" title="" alt="">
                  			<label class='nombreMultimedia'> visa.jpg </label>
                  		</div>
                  		<div class="archivoBiblioteca" onClick="activaImg(this);">
                  			<img class="imgBiblioteca" src="{% static 'img/porqueLC/visa.jpg' %}" id_multimedia="1" nombreimg="visa.jpg" title="titulo 1" alt="">
                  			<label class='nombreMultimedia'> visa.jpg </label>
                  		</div>
                  		<div class="archivoBiblioteca" onClick="activaImg(this);">
                  			<img class="imgBiblioteca" src="{% static 'img/porqueLC/alojamiento.jpg' %}" id_multimedia="2" nombreimg="alojamiento.jpg" title="titulo 2" alt=" alt 2">
                  			<label class='nombreMultimedia'> alojamiento.jpg </label>
                  		</div>
                  		<div class="archivoBiblioteca" onClick="activaImg(this);">
                  			<img class="imgBiblioteca" src="{% static 'img/porqueLC/asesorias.jpg' %}" nombreimg="" title="" alt="">
                  			<label class='nombreMultimedia'> asesorias.jpg </label>
                  		</div>
                  		<div class="archivoBiblioteca" onClick="activaImg(this);">
                  			<img class="imgBiblioteca" src="{% static 'img/porqueLC/visa.jpg' %}" nombreimg="" title="" alt="">
                  			<label class='nombreMultimedia'> visa.jpg </label>
                  		</div>
                  		<div class="archivoBiblioteca" onClick="activaImg(this);">
                  			<img class="imgBiblioteca" src="{% static 'img/porqueLC/visa.jpg' %}" nombreimg="" title="" alt="">
                  			<label class='nombreMultimedia'> visa.jpg </label>
                  		</div>
                  		<div class="archivoBiblioteca" onClick="activaImg(this);">
                  			<img class="imgBiblioteca" src="{% static 'img/porqueLC/visa.jpg' %}" id_multimedia="1" nombreimg="visa.jpg" title="titulo 1" alt="">
                  			<label class='nombreMultimedia'> visa.jpg </label>
                  		</div>
                  		<div class="archivoBiblioteca" onClick="activaImg(this);">
                  			<img class="imgBiblioteca" src="{% static 'img/porqueLC/alojamiento.jpg' %}" id_multimedia="2" nombreimg="alojamiento.jpg" title="titulo 2" alt=" alt 2">
                  			<label class='nombreMultimedia'> alojamiento.jpg </label>
                  		</div>
                  		<div class="archivoBiblioteca" onClick="activaImg(this);">
                  			<img class="imgBiblioteca" src="{% static 'img/porqueLC/asesorias.jpg' %}" nombreimg="" title="" alt="">
                  			<label class='nombreMultimedia'> asesorias.jpg </label>
                  		</div>
                  		<div class="archivoBiblioteca" onClick="activaImg(this);">
                  			<img class="imgBiblioteca" src="{% static 'img/porqueLC/visa.jpg' %}" nombreimg="" title="" alt="">
                  			<label class='nombreMultimedia'> visa.jpg </label>
                  		</div>
                  		<div class="archivoBiblioteca" onClick="activaImg(this);">
                  			<img class="imgBiblioteca" src="{% static 'img/porqueLC/visa.jpg' %}" nombreimg="" title="" alt="">
                  			<label class='nombreMultimedia'> visa.jpg </label>
                  		</div>
                  		<div class="archivoBiblioteca" onClick="activaImg(this);">
                  			<img class="imgBiblioteca" src="{% static 'img/porqueLC/alojamiento.jpg' %}" id_multimedia="2" nombreimg="alojamiento.jpg" title="titulo 2" alt=" alt 2">
                  			<label class='nombreMultimedia'> alojamiento.jpg </label>
                  		</div>
                  		<div class="archivoBiblioteca" onClick="activaImg(this);">
                  			<img class="imgBiblioteca" src="{% static 'img/porqueLC/asesorias.jpg' %}" nombreimg="" title="" alt="">
                  			<label class='nombreMultimedia'> asesorias.jpg </label>
                  		</div>
                  		<div class="archivoBiblioteca" onClick="activaImg(this);">
                  			<img class="imgBiblioteca" src="{% static 'img/porqueLC/visa.jpg' %}" nombreimg="" title="" alt="">
                  			<label class='nombreMultimedia'> visa.jpg </label>
                  		</div>
                  		<div class="archivoBiblioteca" onClick="activaImg(this);">
                  			<img class="imgBiblioteca" src="{% static 'img/porqueLC/visa.jpg' %}" nombreimg="" title="" alt="">
                  			<label class='nombreMultimedia'> visa.jpg </label>
                  		</div>
                  		
                  		<div class="cargarMas" style="width:100%; text-align:center;">
                  			<img id="loaderBiblioteca" src="/static/img/loader_verde.gif" style="display:none; margin:10px auto; max-width:65px;">
                  			<input id="btnCargarMasMultimedia" type="button" class="btn btn-default" value="{{ _('Cargar Más') }}" >
                  		</div>
                  	</div>


                  	<div class="infoimg">
                  		<form id="fInfoImg" onSubmit="return false;">
	                  		<div class="operacionesImg">
	                  			<i id="btn_guardar_multimedia" class="fa fa-save"></i>
	                  			<i id="btn_refrescar_multimedia" class="fa fa-refresh"></i>
	                  			<i id="btn_eliminar_multimedia" class="fa fa-trash"></i>
	                  		</div>
	                  		<div class="camposImagen">
	                  			<div class="campoMultimedia">
	                  				<label class="labelObj">{{ _('Nombre') }}</label>
	                  				<input type="hidden" id="id_multimedia" name="id_multimedia" value=""/>
	                  				<input type="text" class="form-control" id="id_nombre_imagen_multimedia" name="nombre_imagen_multimedia" value="" readOnly="readonly"/>
	                  			</div>

	                  			<div class="campoMultimedia">
	                  				<label class="labelObj">{{ _('Título') }}</label>
	                  				<input type="text" class="form-control" id="id_titulo_imagen_multimedia" name="titulo_imagen_multimedia" value="" />
	                  			</div>

	                  			<div class="campoMultimedia">
	                  				<label class="labelObj">{{ _('Texto Alternativo') }}</label>
	                  				<input type="text" class="form-control" id="id_alt_imagen_multimedia" name="alt_imagen_multimedia" value="" />
	                  			</div>
	                  		</div>
                  		</form>
                  	</div>
                </div>
              </div>
            </div>
		</div>

		<div class="modal-footer">
        	<div class="barra" style="height:20px;"></div>
			<button type="button" class="btn btn-default" data-dismiss="modal">{{ _('Cerrar') }}</button>
			<button type="button" class="btn btn-info" data-dismiss="modal" id="btnAddMultimedia" style="display:none;"> {{ _('Agregar') }} </button>
		</div>
    </div>
  </div>
</div>

<div class="ItemMultimedia" clon="0" style="display:none;">
	<input name="id_multimedia[]" type="hidden" value="">
	<span class="fa fa-close" onClick="removerMultimediaDelContenedor(this);"></span>
	<img src="" alt="">
	<label></label>
</div>

<div class="nuevaImagen" style="display:none;" clon="0">
	<img src="" class="imgPreviewMultimedia" alt="MULTIMEDIA">

	<div class="infoNuevaImg">
		<input type="hidden" name="nom_multimedia_cliente">
		<label class="labelobj">{{ _('Título') }}</label>
		<input type="text" name="titulo_subir_multimedia" class="form-control">
		<label class="labelobj"> {{ _('Texto Alternativo')}} </label>
		<input type="text" name="alt__subir_multimedia" class="form-control">

		<div class="botonesNuevoMultimedia">
			<i class="btn btn-primary fa fa-upload" title="" onClick="subirArchivoMultimedia(this);"></i>
			<i class="btn btn-danger fa fa-trash"></i>
		</div>
	</div>
</div>
