{% load staticfiles %}
<!-- top navigation -->
<div class="top_nav">
	<div class="nav_menu">
		<nav>
			<div class="nav toggle">
				<a id="menu_toggle"><i class="fa fa-bars"></i></a>
			</div>

			<ul class="nav navbar-nav navbar-right">
				<li class="" style="right: 13px;">
					<a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
						<i class="fa fa-user" style="margin:0 5px;"></i> {{ user.get_username }}
						<span class=" fa fa-caret-down"></span>
					</a>
					<ul class="dropdown-menu dropdown-usermenu pull-right">
						<li class="liusermenu"><a href="javascript:;"> Ir al Web site</a></li>
						<li class="liusermenu"><a href="/administrador/cambiar_clave"> Cambiar Contrase&ntilde;a</a></li>
						<li class="liusermenu">
							<a href="{% url 'administrador:cerrar_sesion' %}"> 
								<i class="fa fa-sign-out pull-right"></i> 
								Cerrar Sesi&oacute;n 
							</a>
						</li>
					</ul>
				</li>
			</ul>
		</nav>
	</div>
</div>
<!-- /top navigation -->