	<ul class="page-breadcrumb breadcrumb">
		<li>
			<a href="{% url 'administrador:index' %}">Inicio</a><i class="fa fa-circle"></i>
		</li>

		{% for ubi in ubicacion %}
		<li>
			<span>{{ ubi }}
			{% if not forloop.last %}
			<i class="fa fa-circle"></i>
			{% endif %}
			</span>
		</li>
		{% endfor %}
	</ul>