{% extends 'login.html' %}

{% block center %}
    <form method="post">
        {% csrf_token %}
        <div style="width:100%;">
            <h1 style="width:100%;"> Términos y Condiciones </h1>
            <div class="terminos"> TERMINOS Y CONDICIONES TERMINOS Y CONDICIONES TERMINOS Y CONDICIONES TERMINOS Y CONDICIONES TERMINOS Y CONDICIONES TERMINOS Y CONDICIONES TERMINOS Y CONDICIONES TERMINOS Y CONDICIONES TERMINOS Y CONDICIONES TERMINOS Y CONDICIONES TERMINOS Y CONDICIONES TERMINOS Y CONDICIONES TERMINOS Y CONDICIONES TERMINOS Y CONDICIONES TERMINOS Y CONDICIONES TERMINOS Y CONDICIONES TERMINOS Y CONDICIONES TERMINOS Y CONDICIONES TERMINOS Y CONDICIONES TERMINOS Y CONDICIONES TERMINOS Y CONDICIONES TERMINOS Y CONDICIONES TERMINOS Y CONDICIONES TERMINOS Y CONDICIONES TERMINOS Y CONDICIONES TERMINOS Y CONDICIONES TERMINOS Y CONDICIONES TERMINOS Y CONDICIONES TERMINOS Y CONDICIONES TERMINOS Y CONDICIONES TERMINOS Y CONDICIONES TERMINOS Y CONDICIONES TERMINOS Y CONDICIONES TERMINOS Y CONDICIONES TERMINOS Y CONDICIONES TERMINOS Y CONDICIONES TERMINOS Y CONDICIONES TERMINOS Y CONDICIONES TERMINOS Y CONDICIONES TERMINOS Y CONDICIONES TERMINOS Y CONDICIONES TERMINOS Y CONDICIONES TERMINOS Y CONDICIONES TERMINOS Y CONDICIONES TERMINOS Y CONDICIONES TERMINOS Y CONDICIONES TERMINOS Y CONDICIONES TERMINOS Y CONDICIONES TERMINOS Y CONDICIONES TERMINOS Y CONDICIONES TERMINOS Y CONDICIONES TERMINOS Y CONDICIONES TERMINOS Y CONDICIONES TERMINOS Y CONDICIONES TERMINOS Y CONDICIONES TERMINOS Y CONDICIONES TERMINOS Y CONDICIONES TERMINOS Y CONDICIONES TERMINOS Y CONDICIONES TERMINOS Y CONDICIONES TERMINOS Y CONDICIONES TERMINOS Y CONDICIONES TERMINOS Y CONDICIONES TERMINOS Y CONDICIONES TERMINOS Y CONDICIONES TERMINOS Y CONDICIONES TERMINOS Y CONDICIONES TERMINOS Y CONDICIONES TERMINOS Y CONDICIONES TERMINOS Y CONDICIONES TERMINOS Y CONDICIONES TERMINOS Y CONDICIONES TERMINOS Y CONDICIONES TERMINOS Y CONDICIONES TERMINOS Y CONDICIONES TERMINOS Y CONDICIONES TERMINOS Y CONDICIONES TERMINOS Y CONDICIONES TERMINOS Y CONDICIONES TERMINOS Y CONDICIONES TERMINOS Y CONDICIONES TERMINOS Y CONDICIONES TERMINOS Y CONDICIONES TERMINOS Y CONDICIONES TERMINOS Y CONDICIONES TERMINOS Y CONDICIONES TERMINOS Y CONDICIONES TERMINOS Y CONDICIONES TERMINOS Y CONDICIONES TERMINOS Y CONDICIONES TERMINOS Y CONDICIONES TERMINOS Y CONDICIONES TERMINOS Y CONDICIONES TERMINOS Y CONDICIONES TERMINOS Y CONDICIONES </div>
        </div>

        <center>
        	<input class="btn submitlogin" type="submit" value="Acepto" style="width:60%;"/> 
        </center>
    </form>
<style type="text/css">
	.terminos{
        font-size: 16px;
        line-height: 2;
        max-height: 250px;
        overflow: auto;
        padding: 15px;
        text-align: justify;}
    	.login_wrapper{max-width: 600px !important;
    }
</style>
{% endblock %}

