{% extends 'layouts/default.html' %}
{% load i18n %}

{% block contenido %}
<div class="" role="tabpanel" data-example-id="togglable-tabs">
  <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
    <li role="presentation" class="active">
        <a href="#contUsuarios" id="tabUsuarios" role="tab" data-toggle="tab" aria-expanded="true"> {{ _('Alojamientos') }} </a>
    </li>
  </ul>
  
  <div id="myTabContent" class="tab-content col-md-12 col-sm-12 col-xs-12">
    <div class="clearfix"></div>
    <div class="barra"></div>
    <div role="tabpanel" class="tab-pane fade active in col-md-12 col-sm-12 col-xs-12" id="contUsuarios" aria-labelledby="tabUsuarios">
        <div class="contenedorTab" style="display:none;">
            <input type="button" class="btn btn-default right btnVolverListado" value="Volver al Listado" style="float:left;" ocultar="contenedorTab" mostrar="divListadoForm">

            <div class="col-md-12 col-sm-12 col-xs-12">
                <form id="formulario" method="post" accept-charset="utf-8">
                    {% csrf_token %}
                <div class="col-md-9 col-sm-9 col-xs-12">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <label class="labelobj"> {{ _('Nombre del Alojamiento') }} </label>
                        <input type="text" class="form-control" name="nombre" value="" placeholder="{{ _('Nombre del Alojamiento') }}">
                    </div>
                    <div class="barra" style="height:20px;"></div>

                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div id="tiposLc" class="form-group obj tituloselect">
                            <input type="text" class="form-control has-feedback-left inputguardar" placeholder="{{ _('Tipo de Alojamiento') }}" id="nombre_tipo_alojamiento" name="nombre_tipo_alojamiento"/>
                            <span id="guardarTipo" class="fa fa-save form-control-feedback right" aria-hidden="true" ></span>
                        </div>
                        <div class="contenedortituloselect">
                            <select name="tipo_alojamiento" id="tipo_alojamiento" required="" class="selectpicker" data-width="100%" data-live-search="true">
                                <option value="">- Seleccione</option>
                                <option value="1">Apartaestudio</option>
                                <option value="2">Casa de familia</option>
                                <option value="3">Residencia de Verano</option>
                                <option value="4">Casa de estudiantes</option>                                    
                            </select>
                        </div>
                    </div>
                    
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="obj tituloselect">
                            Seleccionar País
                        </div>

                        <div style="background: #eaeaea; margin-top: -10px; padding: 5px; width: 100%;">
                            {{ form.pais }}
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="obj tituloselect">
                            Seleccionar Ciudad
                        </div>

                        <div style="background: #eaeaea; margin-top: -10px; padding: 5px; width: 100%;">
                            <select name="ciudad" placeholder="None" id="id_ciudad" class="form-control campo selectpicker" required="">
                                <option value="">- Seleccione</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-3 col-xs-12" style="padding: 5px;">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <label style="float: left; margin-top: 15px;"> {{ _('Disponible') }} </label>

                        <div id="toggleDisponible" class="toggle toggle-light" style="float:left; margin-left:10px;"></div>

                        <input type="hidden" name="disponible" id="id_disponible" value="true"> 
                    </div>

                    <div class="col-md-12 col-sm-12 col-xs-12 labelobj">
                        <label style="float:left;">{{ _('Tipo de Plan') }}</label>
                        <i class="fa fa-plus" id="btn_add_plan"></i>
                    </div>
                    <table class="table" border="0" id="tbl_planes">
                        
                    </table>

                    <div class="clearfix"></div>

                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <label class="labelobj" style="float:left;">{{ _('Costo sin Plan') }}</label>
                        <input type="number" class="form-control" name="costo_sin_plan" value="0" onKeyPress="return soloNumeros(event);" required="required">
                    </div>
                </div>

                <div class="clearfix"></div>
                <div class="barra" style="height:30px;"></div>


                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="col-md-3 col-sm-3 col-xs-6">
                        <label class="labelobj" style="float:left;">{{ _('Idioma') }}</label>
                        <input type="text" class="form-control" name="idioma" value="" required="required">
                    </div>

                    <div class="col-md-3 col-sm-3 col-xs-6">
                        <label class="labelobj" style="float:left;">{{ _('Capacidad de personas') }}</label>
                        <input type="number" class="form-control" name="capacidad_personas" value="" required="required" onKeyPress="return soloNumeros(event);">
                    </div>

                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <label class="labelobj" style="float:left;">{{ _('Ubicación') }}</label>
                        <input type="url" class="form-control" name="link_google_maps" value="" required="required">
                    </div>
                    
                    <div class="clearfix"></div>
                    <div class="barra" style="height:30px;"></div>

                    <div class="col-md-3 col-sm-3 col-xs-6">
                        <div class="obj tituloselect" style="width:82%; float:left;">
                            {{ _('Mobiliario') }}
                        </div>

                        <div class="obj" id="btnAddMobiliario" style="border: thin solid; border-radius: 4px; cursor: pointer;     float: left; height: 30px; margin: 10px 0 0 5px; padding: 3px; text-align: center; width: 30px;">
                            <i class="fa fa-plus"></i>
                        </div>

                        <div style="background: #eaeaea; margin-top: -10px; padding: 5px; width: 82%; max-height:150px; overflow-y:auto; float:left;">
                            <table border="0" id="tbl_mobiliario">
                                <tr class="trMobiliario" clon="0">
                                    <td> <input type="text" name="nom_mobiliario[]" value="" style="width:120px;"> </td>
                                    <td> <input type="number" name="cant_mobiliario[]" value="" min="1" style="width:50px;"> </td>
                                    <td><i class="fa fa-remove" onClick="borraMobiliario(this);"></i> </td>
                                </tr>
                            </table>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-3 col-xs-6">
                        <div class="obj tituloselect">
                            {{ _('Servicios') }}
                        </div>

                        <div style="background: #eaeaea; margin-top: -10px; padding: 5px; width: 100%;">
                            <select name="servicios" multiple="" class="form-control campo selectpicker" required="">
                                <option value="">- Seleccione</option>
                                <option value="1">Internet</option>
                                <option value="2">Baño Privado</option>
                                <option value="3">TV</option>
                                <option value="4">Patio Trasero</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <label class="labelobj" style="float:left;">{{ _('Dirección') }}</label>
                        <textarea class="form-control" name="direccion" value="" required="required"></textarea>
                    </div>

                    <div class="col-md-6 col-sm-6 col-xs-0"></div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <label class="labelobj" style="float:left;">{{ _('Normas del Alojamiento') }}</label>
                        <textarea class="form-control" name="normas" value="" required="required"></textarea>
                    </div>

                    <div class="clearfix"></div>
                    <div class="barra" style="height:30px;"></div>

                    
                    <div id="imagenes" class="col-md-12 col-sm-12 col-xs-12">                           
                        <div contenedor=".contenedorMultimedia" class="form-group has-feedback obj tituloselect btnSelMultimedia" style="width:300px; cursor:pointer;">
                            {{ _('Subir Catálogo de Imágenes') }}
                            <span class="fa fa-image form-control-feedback right" aria-hidden="true" style="margin: 5px 9px;"></span>
                        </div>
                        <div style="width:100%; overflow-x:auto; max-height:250px;">
                            <div class="contenedorMultimedia"></div>
                        </div>
                    </div>
                </div>

                <div class="clearfix"></div>
                <div class="barra" style="height:30px;"></div>

                <div class="col-md-12 col-sm-12 col-xs-12">
                    <h4 class="labelobj" style="font-weight:bold;"> Datos del Arrendatario </h4>

                    <input name="id_arrendatario" id="id_arrendatario" value="" required="required" type="hidden">
                    <input id="btnCargaUsuario" type="button" class="btn btn-default col-md-2 col-sm-2 col-xs-12" value="Cargar Usuario">
                    
                    <div class="clearfix"></div>

                    <div class="col-md-2 col-sm-2 col-xs-12" style="background-color:#EAEAEA; height: 140px;">
                        <img src="" alt="{{ _('Imagen del Arrendatario') }}" style="width:100%;">
                    </div>

                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <label class="labelobj" style="float:left;">{{ _('Nombre y Apellido') }}</label>
                        <input type="text" class="form-control" name="nombre_arrendatario" value="" required="required" readonly="readonly">
                    </div>

                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <label class="labelobj" style="float:left;">{{ _('Idioma que se habla') }}</label>
                        <input type="text" class="form-control" name="idioma_arrendatario" value="" required="required">
                    </div>

                    <div class="clearfix"></div>

                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <label class="labelobj" style="float:left;">{{ _('Distancia aproximada al colegio o universidad') }}</label>
                        <input type="text" class="form-control" name="distancia_aproximada" value="" required="required">
                    </div>

                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <label class="labelobj" style="float:left;">{{ _('Paso a paso para llegar a tu escuela') }}</label>
                        <input type="text" class="form-control" name="referencias_escuela" value="" required="required">
                    </div>
                </div>

                <div class="clearfix"></div>
                <div class="barra" style="height:20px;"></div>

                <input class="inputfile" type="file" id="mapa_guia" name="mapa_guia" style="display:none;" destinopreview="
                #img_mapa_guia" accept="image/png, .jpeg, .jpg">
                <input class="inputfile" type="file" id="mapa_metro" name="mapa_metro" style="display:none;" destinopreview="
                #img_mapa_metro" accept="image/png, .jpeg, .jpg">

                <div class="contenedorimagen col-lg-3 col-md-3 col-sm-6 col-xs-12" style="text-align:center;">
                    <div class="obj tituloselect btnCargaImg" inputfile="mapa_guia">
                        <span class="fa fa-map-o" style="margin: 0 5px !important;"></span> {{ _('Subir mapa de Guía') }}
                    </div>

                    <div class="fondogris" style='background-color: #f8f5f5; min-height: 165px;'>
                        <img id="img_mapa_guia" src="" align="center" alt="{{ _('Sin imagen') }}" style="width:300px;" class="previewimg">
                    </div>
                </div>

                <div class="contenedorimagen col-lg-3 col-md-3 col-sm-6 col-xs-12" style="text-align:center;">
                    <div class="obj tituloselect btnCargaImg" inputfile="mapa_metro">
                        <span class="fa fa-map-o" style="margin: 0 5px !important;"></span> {{ _('Subir mapa de Metro') }}
                    </div>

                    <div class="fondogris" style='background-color: #f8f5f5; min-height: 165px;'>
                        <img id="img_mapa_metro" src="" align="center" alt="{{ _('Sin imagen') }}" style="width:300px;" class="previewimg">
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="obj tituloselect">
                        {{ _('Hobbies') }}
                    </div>

                    <div style="background: #eaeaea; margin-top: -10px; padding: 5px; width: 100%;">
                        <select name="hobbies" multiple="" class="form-control campo selectpicker" required="">
                            <option value="">- Seleccione</option>
                            <option value="1">Tennis</option>
                            <option value="2">Basketball</option>
                            <option value="3">Nátucia</option>
                            <option value="4">Pesca</option>
                        </select>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="obj tituloselect">
                        {{ _('Mascotas') }}
                    </div>

                    <div style="background: #eaeaea; margin-top: -10px; padding: 5px; width: 100%;">
                        <select name="mascotas" multiple="" class="form-control campo selectpicker" required="">
                            <option value="">- Seleccione</option>
                            <option value="1">Perros</option>
                            <option value="2">Gatos</option>
                            <option value="3">Pájaros</option>
                            <option value="4">Otros</option>
                        </select>
                    </div>
                </div>

                
                <input type="submit" id="submitServicio" name="submitServicio" class="btn btn-default right btnAceptar" value="Aceptar" style="float: right; margin: 20px 0; padding: 10px 40px;">
                <input type="reset" id="limpiar" class="btn btn-warning right btnLimpiar" value="Limpiar" style="margin: 20px 5px;">
            </form> 
            </div>
        </div>

        <div class="divListadoForm">
            <input type="button" class="btn btn-default right btnNuevoForm" value="Nuevo" style="float:left;" ocultar="divListadoForm" mostrar="contenedorTab">

            <div class="clearfix" style="height:40px;"></div>
            
            <h2> Listado de Alojamientos </h2>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div  class="table-responsive">
                    {{ datatable }}
                </div>
            </div>

        </div>
    </div>

  </div>
</div>

<div id="modalPlan" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3 class="modal-title"> Agregar nuevo plan </h3>
      </div>
      <div class="modal-body">
        <form id="fAddPlan" onSubmit="return false;">
            <input type="text" id="nombre_plan" name="nombre_plan" class="form-control" value="" placeholder="Agregar plan" style="float: left; margin: 10px; width: 40%;">
            <input type="number" id="precio_plan" name="precio_plan" class="form-control" value="" placeholder="Precio de plan" style="float: left; margin: 10px; width: 40%;" onKeyPress="return soloNumeros(event);">
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" id="btnGuardarplan" rutapdf="#"> {{ _('Guardar') }}</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">{{ _('Cerrar') }}</button>
      </div>
    </div>
  </div>
</div>

<div id="modalUsuario" class="modal fade" role="dialog">
  <div class="modal-dialog modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3 class="modal-title" style="text-align:center;"> Crear Usuario </h3>
      </div>
      <div class="modal-body">
        <form id="fAddUsuario">
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">

                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <label class="labelobj" style="float:left;">{{ _('Nombre') }}</label>
                    <input type="text" class="form-control" name="nombre" value="" required="required">
                </div>

                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <label class="labelobj" style="float:left;">{{ _('Apellido') }}</label>
                    <input type="text" class="form-control" name="apellido" value="" required="required">
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <label class="labelobj" style="float:left;">{{ _('Idioma') }}</label>
                    <input type="text" class="form-control" name="idioma" value="" required="required">
                </div>

                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <label class="labelobj" style="float:left;">{{ _('Correo Electrónico') }}</label>
                    <input type="text" class="form-control" name="email" value="" required="required">
                </div>

                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <label class="labelobj" style="float:left;">{{ _('Contraseña') }}</label>
                    <input type="password" class="form-control" name="password" value="" required="required">
                </div>
            </div>

            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                <div class="contenedorimagen col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align:center;    width: 100%;">
                    <div class="fondogris" style='background-color: #f8f5f5; min-height: 165px;'>
                        <img id="fotocrearusuario" src="" align="center" alt="{{ _('Sin imagen') }}" style="width:300px;" class="previewimg">
                    </div>
                    <div id="btnCargaImg" class="btn btn-default btn-block">
                        <span class="fa fa-image"></span> {{ _('Cargar Imagen') }}
                    </div>
                </div>

                <input type="file" onchange="previewImg(this, '#fotocrearusuario');" id="fotousuario" name="foto" style="display:none;" >
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" id="btnGuardarUsuario" rutapdf="#"> {{ _('Guardar') }}</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">{{ _('Cerrar') }}</button>
      </div>
    </div>
  </div>
</div>

<table style="display:none;">
    <tr class="trPlan" clon="0">
        <td>
            <input name='id_plan[]' type="hidden" value="" >
            <div class="td_nombre_plan"></div>
        </td>
        <td class="td_precio_plan">  </td>
    </tr>    
</table>

{% include "partials/multimedia.html" %}

{% endblock %}