
{% extends 'layouts/default.html' %}
{% load static %}
{% load i18n %}

{% block contenido %}
	<div class="" role="tabpanel" data-example-id="togglable-tabs">
	  <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
		<li role="presentation" class="active">
			<a href="#contBanners" id="tabBanners" role="tab" data-toggle="tab" aria-expanded="true">Admnistrador de Banners</a>
		</li>
	  </ul>
	  
	  <div id="myTabContent" class="tab-content col-md-12 col-sm-12 col-xs-12">
		<div class="clearfix"></div>
		<div class="barra"></div>
		<div role="tabpanel" class="tab-pane fade active in col-md-12 col-sm-12 col-xs-12" id="contBanners" aria-labelledby="tabBanners">
			<div class="contenedorTab" style="display:none;">
          		<input type="button" class="btn btn-default right btnVolverListado" value="Volver al Listado" style="float:left;" ocultar="contenedorTab" mostrar="divListadoForm">
	    		<div class="clearfix"></div>
	    		
				<div class="row">
					<form id="formulario" method="post" accept-charset="utf-8">
						{% csrf_token %}

						<div class="col-md-6 col-sm-6 col-xs-12">
		    				<label for="id_activo" style="float:left; margin:10px; font-weight:bold;">  {{ form.activo.label }} </label>
							{{ form.activo }}
	    				</div>
	    				
	    				<div class="clearfix"></div>

						<div class="col-md-4 col-sm-4 col-xs-12">
							<div class="obj tituloselect">
								{{ form.pais.label }}
							</div>

							<div style="background: #eaeaea; margin-top: -10px; padding: 5px; width: 100%;">
								{{ form.pais }}
							</div>
						</div>

						<div class="col-md-4 col-sm-4 col-xs-12">
							<div class="obj tituloselect"> {{ form.ubicacion.label }} </div>

							<div style="background: #eaeaea; margin-top: -10px; padding: 5px; width: 100%;">
								{{ form.ubicacion }}
							</div>
						</div>

						<div class="col-md-4 col-sm-4 col-xs-12">
							<div class="obj tituloselect">
								{{ form.titulo.label }}
							</div>

							<div style="background: #eaeaea; margin-top: -10px; padding: 5px; width: 100%;">	
								{{ form.titulo }}
							</div>
						</div>

						<div class="col-md-4 col-sm-4 col-xs-12">
							<div class="obj tituloselect">
								{{ form.subtitulo.label }}
							</div>

							<div style="background: #eaeaea; margin-top: -10px; padding: 5px; width: 100%;">	
								{{ form.subtitulo }}
							</div>
						</div>

						<div class="clearfix" style="height:40px;"></div>

						<div id="imagenes" class="col-md-12 col-sm-12 col-xs-12">							
							<div contenedor=".contenedorMultimedia" funcion="addBannerMultimedia" class="form-group has-feedback obj tituloselect btnSelMultimedia" style="width:300px; cursor:pointer;">
								Cargar Imágen o Video
								<span class="fa fa-upload form-control-feedback right" aria-hidden="true" style="margin: 5px 9px;"></span>
							</div>
							<div style="width:100%; overflow-x:auto; max-height:750px;">
								<div class="contenedorMultimedia" style="width:100%;"></div>
							</div>
						</div>

						<input type="submit" id="submitBanner" name="submitBanner" class="btn btn-default right btnAceptar" value="Guardar" style="float:right;">

						<input type="reset" id="limpiar" class="btn right btnLimpiar" value="Limpiar" style="float:right;">
					</form>
				</div>

			</div>

			<div class="clearfix" style="height:40px;"></div>

			<div class="row divListadoForm">
				<input type="button" class="btn btn-default right btnNuevoForm" value="Nuevo" style="float:left;" ocultar="divListadoForm" mostrar="contenedorTab">

				<div class="clearfix" style="height:40px;"></div>

				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div  class="table-responsive">
						{{ datatable }}
					</div>
				</div>
			</div>
		</div>
	  </div>
	</div>

	</div>

	<div class="ItemMultimedia ItemBannerMultimedia" clon="0" style="display:none; max-width: 900px;">
		<div class="divImgBanner" style="width:650px; float:left; text-align:center;">
			<img src="" alt="">
			<span class="fa fa-close" onClick="removerMultimediaDelContenedor(this);"></span>
			<div class="clearfix"></div>
			<label class="nombreImg"  style="font-size: 15px !important;"></label>
		</div>
		
		<div class="divInfoBanner" style="width:200px; float:left; margin-left:20px; padding:10px; font-size: 15px !important;">
			<input name="id_multimedia[]" type="hidden" value="">
			<input name="activo[]" type="hidden" value="1">

			<div style="width:100%; float:left; text-align: justify;">
				<label class="labelObj" style="font-size: 15px !important;"> Activo </label>
				<div class="clearfix"></div>
				<div class="toggle toggle-light"></div>
			</div>

			<div style="width:100%; float:left; text-align: justify;">
				<label class="labelObj" style="font-size: 15px !important;"> Posición </label>
				<div class="clearfix"></div>
				<input type="number" min="1" name='posicion'>
			</div>
		</div>

	</div>

{% include "partials/multimedia.html" %}

{% endblock %}