{% extends 'layouts/default.html' %}
{% load static %}
{% load i18n %}

{% block contenido %}
	<style type="text/css">
		table tr  td{border: none;}
	</style>
	<div class="" role="tabpanel" data-example-id="togglable-tabs">
	  <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
	    <li role="presentation" class="active">
	    	<a href="#contCambiarClave" id="tabCambiarClave" role="tab" data-toggle="tab" aria-expanded="true">{{ _('Cambiar Clave') }}</a>
	    </li>
	  </ul>
	  
	  <div id="myTabContent" class="tab-content col-md-12 col-sm-12 col-xs-12">
	  	<div class="clearfix"></div>
	  	<div class="barra"></div>
	    <div role="tabpanel" class="tab-pane fade active in" id="contCambiarClave" aria-labelledby="tabCambiarClave">
	    	<center>
	    		<form id="formulario" method="post">
					{% csrf_token %}

		    		<table class="table" style="border:none; max-width:500px;">
		    			<tr>
		    				<td> {{ _('Contraseña Actual') }} </td>
		    				<td> <input type="text" class="form-control required" required="required" name="clave_actual"> </td>
		    			</tr>
		    			<tr>
		    				<td> {{ _('Nueva Contraseña') }} </td> 
		    				<td> <input type="password" class="form-control required" required="required" name="clave_nueva"> </td>
		    			</tr>
		    			<tr>
		    				<td> {{ _('Confirmar Contraseña Nueva') }} </td>
		    				<td> <input type="password" class="form-control required" required="required" name="confirma_clave_nueva"> </td>
		    			</tr>
		    			<tr>
		    				<td colspan="2"> <input type="submit" id="btnCambiar" class="btn btn-default right" value="Aceptar" style="float:right;;"> </td>
		    			</tr>
		    		</table>
	    		</form>
	    	</center>
	    </div>
	  </div>
	</div>
{% endblock %}

{% block js %}
<script type="text/javascript">
$(function(){
	$("#formulario").submit(function(){
		if($.trim($("input[name='clave_nueva']").val()) != $.trim($("input[name='confirma_clave_nueva']").val())){
			aviso("No coinciden las contraseñas", false);
			return false;
		}

		$.ajax{
			data : {
				csrfmiddlewaretoken : $.trim($("input[name='csrfmiddlewaretoken']").val()),
				clave_actual : $.trim($("input[name='clave_actual']").val()),
				clave_nueva : $.trim($("input[name='clave_nueva']").val())
			},
			success : function(r){
				aviso(r.msj);
				if (r.s == 's')
					///window.location = ""
			}
		}
	});
});
</script>

{% endblock %}
