{% extends 'layouts/default.html' %} {% load i18n %} {% block contenido %}
<div class="" role="tabpanel" data-example-id="togglable-tabs">
    <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
        <li role="presentation" class="active">
            <a href="#contCategorias" role="tab" id="tabCategorias" data-toggle="tab" aria-expanded="false">{{ _('Categorias') }}</a>
        </li>
    </ul>

    <div id="myTabContent" class="tab-content col-md-12 col-sm-12 col-xs-12">
        <div class="clearfix"></div>
        <div class="barra"></div>

        <div role="tabpanel" class="tab-pane fade active in col-md-12 col-sm-12 col-xs-12" id="contCategorias" aria-labelledby="tabCategorias">
            <div class="form-group col-sm-6 col-xs-12">
                <form id="formulario" method="post">
                    {% csrf_token %}
                    <input type="hidden" id="estructura" name="estructura" value="" />

                    <div class="obj tituloselect">
                        {{ _('Crear una Categoria Padre') }}
                    </div>

                    <div style="background: #eaeaea; margin-top: -10px; padding: 5px; width: 100%;">
                        {{ form.nombre }}
                    </div>
                </form>
            </div>

            <div class="form-group col-sm-6 col-xs-12">
                <label for="arbol">{{ _('Estructura de Categorias:') }}</label>
                <input id="input_buscar" name="input_buscar" class="form-control" type="text" placeholder="{{ _('Buscar en el Arbol') }}" value="" /><br />

                <div id="arbol"></div>
            </div>

            {% include "partials/botonera.html" %}
        </div>
    </div>
</div>

{% endblock %}