{% extends 'login.html' %}

{% block center %}
<form method="post">
    {% csrf_token %}
    <p style="font-size:17px;">Ingresa tu correo y te enviaremos las instrucciones para restaurar tu contraseña.</p>
    <label id="email" for="id_email"> {{ form.email }}</label>
    <center>
    	<input class="btn submitlogin" type="submit" value="Restablecer Contraseña" style="width:60%;"/> <br>
        <a href="/administrador" style="color:#585858"><h3> <i class="fa fa-caret-left"></i>  Ir al Inicio </h3>  </a>
    </center>
</form>
<style type="text/css">
	#email{width: 75% !important;}
	#id_email{margin-bottom: 5px;}
	.login_wrapper{max-width: 600px !important;}
</style>
{% endblock %}

