{% extends 'login.html' %}

{% block center %}

<h2>Te hemos enviado un correo con un enlace para reestablecer tu contraseña</h2>

<a href="/administrador" style="color:#585858"><h3> <i class="fa fa-caret-left"></i>  Ir al Inicio </h3>  </a>


{% endblock %}
