{% extends 'layouts/default.html' %}
{% load static %}
{% load i18n %}

{% block contenido %}
	<div class="" role="tabpanel" data-example-id="togglable-tabs">
	  <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
	    <li role="presentation" class="active">
	    	<a href="#contUsuarios" id="tabUsuarios" role="tab" data-toggle="tab" aria-expanded="true"> Estudia y trabaja </a>
	    </li>
	  </ul>
	  
	  <div id="myTabContent" class="tab-content col-md-12 col-sm-12 col-xs-12">
	  	<div class="clearfix"></div>
	  	<div class="barra"></div>
	    <div role="tabpanel" class="tab-pane fade active in col-md-12 col-sm-12 col-xs-12" id="contUsuarios" aria-labelledby="tabUsuarios">
	    	<div class="contenedorTab col-lg-12 col-md-12 col-sm-12 col-xs-12" style="display:none;">
	    		<input type="button" class="btn btn-default right btnVolverListado" value="Volver al Listado" style="float:left;" ocultar="contenedorTab" mostrar="divListadoForm">
		    	<div class="clearfix"></div>

				<form id="formulario" method="post" accept-charset="utf-8">
					{% csrf_token %}
	    			
		    		<div class="col-md-6 col-sm-6 col-xs-12">
	  					<div class="obj tituloselect">
					  		{{ form.pais.label }}
					  	</div>

					  	<div style="background: #eaeaea; margin-top: -10px; padding: 5px; width: 100%;">
						  	{{ form.pais }}
						</div>
					</div> 

					<div class="col-md-6 col-sm-6 col-xs-12">
	  					<div class="obj tituloselect">
					  		{{ form.titulo.label }}
					  	</div>

					  	<div style="background: #eaeaea; margin-top: -10px; padding: 5px; width: 100%;">
						  	{{ form.titulo }}
						</div>
					</div>

					<div class="barra"></div>

  					<div class="col-md-12 col-sm-12 col-xs-12" id="divDescripcion">
  						<h2>{{ form.descripcion.label }}</h2>
  						{{ form.descripcion }}
  					</div>
					
					<div class="barra"></div>

					<div id="imagenes" class="col-md-12 col-sm-12 col-xs-12">							
						<div contenedor=".contenedorMultimedia" class="form-group has-feedback obj tituloselect btnSelMultimedia" style="width:300px; cursor:pointer;">
							{{ _('Cargar Imágen o Video') }}
							<span class="fa fa-upload form-control-feedback right" aria-hidden="true" style="margin: 5px 9px;"></span>
						</div>
						<div style="width:100%; overflow-x:auto; max-height:250px;">
							<div class="contenedorMultimedia"></div>
						</div>
					</div>

					<div id="botonera">
	  					<input type="submit" id="submitEstudia" name="submitEstudia" class="btn btn-default right" value="Aceptar" style="float: right; padding: 10px 40px;">
	  					<input type="reset" id="limpiar" class="btn right btnLimpiar" value="Limpiar">
	  				</div>
  				</form> 
	    	</div>

	    	<div class="row divListadoForm">
				<input type="button" class="btn btn-default right btnNuevoForm" value="Nuevo" style="float:left;" ocultar="divListadoForm" mostrar="contenedorTab">

				<div class="clearfix" style="height:40px;"></div>

				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div  class="table-responsive">
						{{ datatable }}
					</div>
				</div>
			</div>
	    </div>
	  </div>
	</div>

	</div>

{% include "partials/multimedia.html" %}

{% endblock %}
