{% extends 'layouts/default.html' %}
{% load i18n %}

{% block contenido %}
<div class="" role="tabpanel" data-example-id="togglable-tabs">
  <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
    <li role="presentation" class="active">
        <a href="#contUsuarios" id="tabUsuarios" role="tab" data-toggle="tab" aria-expanded="true"> {{ _('Crear nuevo evento') }} </a>
    </li>
  </ul>
  
  <div id="myTabContent" class="tab-content col-md-12 col-sm-12 col-xs-12">
    <div class="clearfix"></div>
    <div class="barra"></div>
    <div role="tabpanel" class="tab-pane fade active in col-md-12 col-sm-12 col-xs-12" id="contUsuarios" aria-labelledby="tabUsuarios">
        <div class="contenedorTab" style="display:none;">
            <input type="button" class="btn btn-default right btnVolverListado" value="Volver al Listado" style="float:left;" ocultar="contenedorTab" mostrar="divListadoForm">

            <div class="col-md-12 col-sm-12 col-xs-12">
                <form id="formulario" method="post" accept-charset="utf-8">
                    {% csrf_token %}
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <label class="labelobj"> {{ _('Nombre de Evento') }} </label>
                        <input type="text" class="form-control" name="nombre" value="" placeholder="{{ _('Nombre del Evento') }}">
                    </div>
                    <div class="barra" style="height:20px;"></div>

                    <div class="col-md-3 col-sm-3 col-xs-12">
                        <div id="tiposLc" class="form-group obj tituloselect">
                            {{ _('Tipo de evento') }}
                        </div>
                        <div class="contenedortituloselect">
                            <select name="tipo_evento" id="tipo_evento" required="" class="selectpicker" data-width="100%" data-live-search="true">
                                <option value="">- Seleccione</option>
                                <option value="1">Apartaestudio</option>
                                <option value="2">Casa de familia</option>
                                <option value="3">Residencia de Verano</option>
                                <option value="4">Casa de estudiantes</option>                                    
                            </select>
                        </div>
                    </div>  

                    <div class="col-md-3 col-sm-3 col-xs-12">
                        <div id="tiposLc" class="form-group obj tituloselect">
                            {{ _('Categorías') }}
                        </div>

                        <div class="contenedortituloselect">
                            <select name="categorias" id="categorias" multiple="multiple" required="" class="selectpicker" data-width="100%" data-live-search="true">
                                <option value="">- Seleccione</option>
                                <option value="1">Apartaestudio</option>
                                <option value="2">Casa de familia</option>
                                <option value="3">Residencia de Verano</option>
                                <option value="4">Casa de estudiantes</option>                                    
                            </select>
                        </div>
                    </div>
                    
                    <div class="col-md-3 col-sm-3 col-xs-12">
                        <div class="obj tituloselect">
                            Seleccionar País
                        </div>

                        <div style="background: #eaeaea; margin-top: -10px; padding: 5px; width: 100%;">
                            {{ form.pais }}
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-3 col-xs-12">
                        <div class="obj tituloselect">
                            Seleccionar Ciudad
                        </div>

                        <div style="background: #eaeaea; margin-top: -10px; padding: 5px; width: 100%;">
                            <select name="ciudad" placeholder="None" id="id_ciudad" class="form-control campo selectpicker" required="">
                                <option value="">- Seleccione</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="clearfix"></div>
                <div class="barra" style="height:30px;"></div>


                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <label class="labelobj" style="float:left;">{{ _('Lugar') }}</label>
                        <input type="text" class="form-control" name="lugar" value="" required="required">
                    </div>

                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <label class="labelobj" style="float:left;">{{ _('Ubicación') }}</label>
                        <input type="url" class="form-control" name="link_google_maps" value="" required="required">
                    </div>
                    
                    <div class="clearfix"></div>
                    <div class="barra" style="height:30px;"></div>

                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div id="fechas_inicio" class="form-group obj tituloselect">
                            <label> {{ _('Fechas de Inicio') }} </label>
                            <span id="guardarFechaInicio" class="fa fa-calendar form-control-feedback right" aria-hidden="true" ></span>
                        </div>
                        <div class="contenedortituloselect">
                            <table style="border:none; width:100%;">
                                <tr class="trFechaInicio" clon='0'>
                                    <td align="justify" class="tdfecha"> 10 / 05 / 2017 </td>
                                    <td align="right"> <i class="fa fa-remove"></i> </td>
                                </tr>
                            </table>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div id="horas_inicio" class="form-group obj tituloselect">
                            {{ _('Hora Inicio') }}
                        </div>
                        <div class="contenedortituloselect">
                            <table style="border:none;">
                                <tr>
                                    <td align="justify"> 1:00 pm </td>
                                </tr>
                                <tr>
                                    <td align="justify"> 2:00 pm </td>
                                </tr>
                                <tr>
                                    <td align="justify"> 3:00 pm </td>
                                </tr>
                                <tr>
                                    <td align="justify"> 4:00 pm </td>
                                </tr>
                            </table>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div id="horas_fin" class="form-group obj tituloselect">
                            {{ _('Hora Final') }}
                        </div>
                        <div class="contenedortituloselect">
                            <table style="border:none;">
                                <tr>
                                    <td align="justify"> 1:00 pm </td>
                                </tr>
                                <tr>
                                    <td align="justify"> 2:00 pm </td>
                                </tr>
                                <tr>
                                    <td align="justify"> 3:00 pm </td>
                                </tr>
                                <tr>
                                    <td align="justify"> 4:00 pm </td>
                                </tr>
                            </table>
                        </div>
                    </div>

                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <label class="labelobj" style="float:left;">{{ _('Descripción del Evento') }}</label>
                        <textarea class="form-control" name="descripcion" value="" required="required"></textarea>
                    </div>

                    <div class="clearfix"></div>
                    <div class="barra" style="height:30px;"></div>
                </div>

                <div class="clearfix"></div>
                <div class="barra" style="height:30px;"></div>

                <div id="imagenes" class="col-md-6 col-sm-12 col-xs-12">                           
                    <div contenedor=".contenedorMultimedia" class="form-group has-feedback obj tituloselect btnSelMultimedia" style="width:300px; cursor:pointer;">
                        {{ _('Subir Catálogo de Imágenes') }}
                        <span class="fa fa-image form-control-feedback right" aria-hidden="true" style="margin: 5px 9px;"></span>
                    </div>
                    <div style="width:100%; overflow-x:auto; max-height:250px;">
                        <div class="contenedorMultimedia"></div>
                    </div>
                </div>

                <div id="imagenes" class="col-md-6 col-sm-12 col-xs-12">                           
                    <div contenedor=".contenedorMultimediaVideo" class="form-group has-feedback obj tituloselect btnSelMultimedia" style="width:300px; cursor:pointer;">
                        {{ _('Cargar Video') }}
                        <span class="fa fa-play form-control-feedback right" aria-hidden="true" style="margin: 5px 9px;"></span>
                    </div>
                    <div style="width:100%; overflow-x:auto; max-height:250px;">
                        <div class="contenedorMultimediaVideo" style="float:left; width:auto;"></div>
                    </div>
                </div>
                
                <div class="clearfix"></div>
                <div class="barra" style="height:30px;"></div>

                <input type="submit" id="submitEvento" name="submitEvento" class="btn btn-default right btnAceptar" value="Aceptar" style="float: right; margin: 20px 0; padding: 10px 40px;">
                <input type="reset" id="limpiar" class="btn right btnLimpiar" value="Limpiar" style="margin: 20px 5px;">
            </form> 
            </div>
        </div>

        <div class="divListadoForm">
            <input type="button" class="btn btn-default right btnNuevoForm" value="Nuevo" style="float:left;" ocultar="divListadoForm" mostrar="contenedorTab">

            <div class="clearfix" style="height:40px;"></div>
            
            <h2> Listado de Eventos </h2>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div  class="table-responsive">
                    {{ datatable }}
                </div>
            </div>

        </div>
    </div>

  </div>
</div>

<div id="modalPlan" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3 class="modal-title"> Agregar nuevo plan </h3>
      </div>
      <div class="modal-body">
        <form id="fAddPlan" onSubmit="return false;">
            <input type="text" id="nombre_plan" name="nombre_plan" class="form-control" value="" placeholder="Agregar plan" style="float: left; margin: 10px; width: 40%;">
            <input type="number" id="precio_plan" name="precio_plan" class="form-control" value="" placeholder="Precio de plan" style="float: left; margin: 10px; width: 40%;" onKeyPress="return soloNumeros(event);">
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" id="btnGuardarplan" rutapdf="#"> {{ _('Guardar') }}</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">{{ _('Cerrar') }}</button>
      </div>
    </div>
  </div>
</div>

<table style="display:none;">
    <tr class="trPlan" clon="0">
        <td>
            <input name='id_plan[]' type="hidden" value="" >
            <div class="td_nombre_plan"></div>
        </td>
        <td class="td_precio_plan">  </td>
    </tr>    
</table>

{% include "partials/multimedia.html" %}

{% endblock %}