{% extends 'layouts/default.html' %}
{% load i18n %}

{% block contenido %}
<div class="" role="tabpanel" data-example-id="togglable-tabs">
  <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
    <li role="presentation" class="active">
        <a href="#contUsuarios" id="tabUsuarios" role="tab" data-toggle="tab" aria-expanded="true"> {{ _('Instituciones') }} </a>
    </li>
  </ul>
  
  <div id="myTabContent" class="tab-content col-md-12 col-sm-12 col-xs-12">
    <div class="clearfix"></div>
    <div class="barra"></div>
    <div role="tabpanel" class="tab-pane fade active in col-md-12 col-sm-12 col-xs-12" id="contUsuarios" aria-labelledby="tabUsuarios">
        <div class="contenedorTab" style="display:none;">
            <input type="button" class="btn btn-default right btnVolverListado" value="Volver al Listado" style="float:left;" ocultar="contenedorTab" mostrar="divListadoForm">

            <div class="clearfix" style="height:20px;"></div>
            <div id="smartwizard">
                <ul>
                    <li><a href="#step-1"><label style="font-size:21px;">1</label><br /><small>Datos Generales</small></a></li>
                    <li><a href="#step-2"><label style="font-size:21px;">2</label><br /><small>Crear Sede</small></a></li>
                    <li><a href="#step-3"><label style="font-size:21px;">3</label><br /><small>Crear Curso</small></a></li>
                    <li><a href="#step-4"><label style="font-size:21px;">4</label><br /><small>Asociar Curso</small></a></li>
                </ul>
                
                <div>
                    <div id="step-1" class="active container">
                        <div class="barra" style="height:30px;"></div>
                        <form id="fInstitucion">
                            <div class="col-md-8 col-sm-8 col-xs-12">
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <label class="labelobj">{{ _('Título de la Noticia') }} </label>
                                    <input type="text" class="form-control required" name="titulo" value="" placeholder="{{ _('Título de la Noticia') }}" required="required">
                                </div> 

                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="file" id="catalogo_institucion" name="catalogo_institucion" style="display:none;" accept="application/pdf">

                                    <div class="obj tituloselect btnCargaImg" inputfile="catalogo_institucion">
                                        {{ _('Subir Catálogo') }}
                                        <span class="fa fa-save" style="margin: 0 5px !important; float:right;"></span> 
                                    </div>

                                    <div id="nombrecatalogo" class="btn btnCargaImg"  inputfile="catalogo_institucion"></div>
                                </div>

                                <div class="clearfix"></div>

                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <label class="labelobj">{{ _('Descripcion') }} </label>

                                    <textarea class="form-control campo" id="id_descripcion" name="descripcion" required="required" style="height: 150px; border-radius: 5px;"></textarea>
                                </div> 
                            </div>

                            <div class="col-lg-4 col-md-4 col-sm-4 col-sx-12">
                                <input type="file" id="id_archivo" name="archivo" style="display:none;" destinopreview="#foto" class="inputfile">
                                <div class="contenedorimagen" style="text-align:center;">
                                    <div class="fondogris" style='background-color: #f8f5f5; min-height: 190px;'>
                                        <img id="foto" inputfile="archivo" src="" align="center" alt="{{ _('Sin imagen') }}" class="fotopreview">
                                    </div>
                                    <div class="btn btn-default btn-block btnCargaImg" inputfile="archivo">
                                        <span class="fa fa-image"></span> {{ _('Cargar Logo') }}
                                    </div>
                                </div>
                            </div>

                            <div class="clearfix"></div>
                            <div class="barra"></div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-sx-12">
                                <input type="file" id="id_video_institucion" name="video_institucion" style="display:none;" accept="video/mp4, video/webm">

                                    <div class="obj tituloselect btnCargaImg" inputfile="video_institucion">
                                        {{ _('Cargar Video') }}
                                        <span class="fa fa-play" style="margin: 0 5px !important; float: right;  border: 2px solid; padding: 3px; border-radius: 50%; font-size: 16px !important;"></span> 
                                    </div>

                                    <div id="nombrevideo" class="btn btnCargaImg"  inputfile="video_institucion"></div>
                            </div>
                        </form>
                    </div>
                    <div id="step-2" class="container">
                        <div class="barra" style="height:30px;"></div>
                        <form id="fSedes" class="col-md-12 col-sm-12 col-xs-12">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <label class="labelobj">{{ _('Nombre de la Sede') }} </label>
                                <input type="text" class="form-control required" name="nombre_sede" value="" placeholder="{{ _('Nombre de la Sede') }}" required="required">
                            </div>

                            <div class="col-md-6 col-sm-6 col-xs-12" style="margin-top: 40px;">
                                <input type="checkbox" class="form-control campo" name="principal" value="true" style="width:20px; float:left; margin-right:10px;">
                                <label style="float:left; margin-top: 10px;">{{ _('Principal') }} </label>
                            </div>

                            <div class="clearfix"></div>

                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <label class="labelobj">{{ _('Direccion') }} </label>
                                <input type="text" class="form-control required" name="direccion_sede" value="" placeholder="{{ _('Dirección de la Sede') }}" required="required">
                            </div>

                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <label class="labelobj">{{ _('Ubicación') }} </label>
                                <input type="url" class="form-control required" name="ubicacion_sede" value="" placeholder="{{ _('Mapa de Google') }}" required="required">
                            </div>

                            <div class="col-md-3 col-sm-3 col-xs-12">
                                <label class="labelobj">{{ _('Celular') }} </label>
                                <input type="text" class="form-control required" name="celular_sede" value="" placeholder="{{ _('Celular de la Sede') }}" required="required">
                            </div>

                            <div class="col-md-3 col-sm-3 col-xs-12">
                                <label class="labelobj">{{ _('Teléfono Contacto') }} </label>
                                <input type="text" class="form-control required" name="telefono_sede" value="" placeholder="{{ _('Teléfono de la Sede') }}" required="required">
                            </div>

                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <label class="labelobj">{{ _('Correo Electrónico') }} </label>
                                <input type="email" class="form-control required" name="email_sede" value="" placeholder="{{ _('Correo Electrónico') }}" required="required">
                            </div>

                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <label class="labelobj">{{ _('Descripcion de la Sede') }} </label>

                                <textarea class="form-control campo textareaTiny" id="id_descripcion_sede" name="descripcion_sede" required="required" style="height: 150px; border-radius: 5px;"></textarea>
                            </div>

                            <div class="col-md-3 col-sm-3 col-xs-12">
                                <div class="obj tituloselect">
                                    {{ form.pais }}
                                </div>
                            </div>

                            <div class="col-md-3 col-sm-3 col-xs-12">
                                <div class="obj tituloselect">
                                    <select id="id_ciudad" name="ciudad" required="required" class="required selectpicker" >
                                        <option value="">-Seleccione Ciudad</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-3 col-sm-3 col-xs-12">
                                <div class="obj tituloselect">
                                    <select id="id_categoría" name="categoría" required="required" class="required selectpicker">
                                        <option value="">-Seleccione Categoría</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-3 col-sm-3 col-xs-12">
                                <div class="obj tituloselect">
                                    <select id="id_servicios" name="servicios" required="required" class="required selectpicker" multiple>
                                        <option value="">-Servicios</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-3 col-sm-3 col-xs-12">
                                <label class="labelobj">{{ _('Capacidad de Alumnos') }} </label>
                                <input type="number" class="form-control required" name="capacidad_alumnos" value="" required="required" min="1" readonly="readonly">
                            </div>

                            <div class="col-md-3 col-sm-3 col-xs-12">
                                <label class="labelobj">{{ _('Capacidad de Aulas') }} </label>
                                <input type="number" class="form-control required" name="capacidad_aulas" value="" required="required" min="1">
                            </div>

                            <div class="col-md-3 col-sm-3 col-xs-12">
                                <label class="labelobj">{{ _('Alumnos por Aula') }} </label>
                                <input type="number" class="form-control required" name="alumnos_aulas" value="" required="required" min="1">
                            </div>

                            <div class="col-md-3 col-sm-3 col-xs-12">
                                <label class="labelobj">{{ _('Edad Mínima') }} </label>
                                <input type="number" class="form-control required" name="edad_minima" value="" required="required" min="1">
                            </div>


                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="file" id="catalogo_institucion" name="catalogo_institucion" style="display:none;" accept="application/pdf">

                                <div class="obj tituloselect btnCargaImg" inputfile="catalogo_institucion">
                                    {{ _('Subir Catálogo') }}
                                    <span class="fa fa-save" style="margin: 0 5px !important; float:right;"></span> 
                                </div>

                                <div id="nombrecatalogo" class="btn btnCargaImg"  inputfile="catalogo_institucion"></div>
                            </div>

                            <div class="clearfix"></div>

                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <label class="labelobj">{{ _('Descripcion') }} </label>

                                <textarea class="form-control campo" id="id_descripcion" name="descripcion" required="required" style="height: 150px; border-radius: 5px;"></textarea>
                            </div> 

                            <input type="file" id="id_archivo" name="archivo" style="display:none;" destinopreview="#foto" class="inputfile">
                            <div class="contenedorimagen" style="text-align:center;">
                                <div class="fondogris" style='background-color: #f8f5f5; min-height: 190px;'>
                                    <img id="foto" inputfile="archivo" src="" align="center" alt="{{ _('Sin imagen') }}" class="fotopreview">
                                </div>
                                <div class="btn btn-default btn-block btnCargaImg" inputfile="archivo">
                                    <span class="fa fa-image"></span> {{ _('Cargar Logo') }}
                                </div>
                            </div>

                            <div class="clearfix"></div>
                            <div class="barra"></div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-sx-12">
                                <input type="file" id="id_video_institucion" name="video_institucion" style="display:none;" accept="video/mp4, video/webm">

                                    <div class="obj tituloselect btnCargaImg" inputfile="video_institucion">
                                        {{ _('Cargar Video') }}
                                        <span class="fa fa-play" style="margin: 0 5px !important; float: right;  border: 2px solid; padding: 3px; border-radius: 50%; font-size: 16px !important;"></span> 
                                    </div>

                                    <div id="nombrevideo" class="btn btnCargaImg"  inputfile="video_institucion"></div>
                            </div>
                        </form>
                    </div>
                    <div id="step-3" class="">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    </div>
                    <div id="step-4" class="">
                        <h2>Step 4 Content</h2>
                        <div class="panel panel-default">
                            <div class="panel-heading">My Details</div>
                            <table class="table">
                                <tbody>
                                    <tr> <th>Name:</th> <td>Tim Smith</td> </tr>
                                    <tr> <th>Email:</th> <td>example@example.com</td> </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>

        <div class="divListadoForm">
            <input type="button" class="btn btn-default right btnNuevoForm" value="Nuevo" style="float:left;" ocultar="divListadoForm" mostrar="contenedorTab">

            <div class="clearfix" style="height:40px;"></div>
            
            <h2> Listado de Instituciones </h2>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div  class="table-responsive">
                    {{ datatable }}
                </div>
            </div>

        </div>
    </div>

  </div>
</div>

<div id="modalPlan" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3 class="modal-title"> Agregar nuevo plan </h3>
      </div>
      <div class="modal-body">
        <form id="fAddPlan" onSubmit="return false;">
            <input type="text" id="nombre_plan" name="nombre_plan" class="form-control" value="" placeholder="Agregar plan" style="float: left; margin: 10px; width: 40%;">
            <input type="number" id="precio_plan" name="precio_plan" class="form-control" value="" placeholder="Precio de plan" style="float: left; margin: 10px; width: 40%;" onKeyPress="return soloNumeros(event);">
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" id="btnGuardarplan" rutapdf="#"> {{ _('Guardar') }}</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">{{ _('Cerrar') }}</button>
      </div>
    </div>
  </div>
</div>

<table style="display:none;">
    <tr class="trPlan" clon="0">
        <td>
            <input name='id_plan[]' type="hidden" value="" >
            <div class="td_nombre_plan"></div>
        </td>
        <td class="td_precio_plan">  </td>
    </tr>    
</table>

{% include "partials/multimedia.html" %}

{% endblock %}