{% load staticfiles %}
<!DOCTYPE html>
<!--[if IE 8]>    <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]>    <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!--><html lang="en"><!--<![endif]-->
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<!-- Meta, title, CSS, favicons, etc. -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<meta name="csrf-token" content="{{ csrf_token }}"/>
		<title> Language Connections </title>

		<link rel="stylesheet" type="text/css" href="{% static 'plugins/font-awesome/css/font-awesome.min.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'plugins/bootstrap/css/bootstrap.min.css' %}" />
		
		<!-- Custom Theme Style -->
		<link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}" />
	</head>
    <style>
        .row {
        margin-right: 3px;
        margin-left: 3px;
        }
    </style>
	<body class="">
    <div class="row login">
        <div class="col-xs-12 col-sm-12 col-lg-12 ">
             <div class="logologin">
                    <div style="background: url('{% static 'img/logolc110.png' %}');background-repeat: no-repeat; height: 134px;width: 109px;"></div>
                </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-lg-12 ">
             <div class="login_wrapper">
                <div class="animate form login_form">
                    <section class="login_content">
                        {% if messages %}
                        <ul class="messages">
                            {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        {% block center %}
                            <form id="form_sesion" method="post" accept-charset="utf-8">
                                {% csrf_token %}
                                <input type="hidden" name="next" value="{{ next }}" />
                                <div class="form-group has-feedback">
                                    <input type="text" class="form-control has-feedback-left" placeholder="Correo electrónico" required="required" name="username" autofocus />
                                    <span class="fa fa-user form-control-feedback left" aria-hidden="true" style="border-right:none; width:25px; margin-top: 10px;"></span>
                                </div>

                                <div class="form-group has-feedback">
                                    <input type="password" class="form-control has-feedback-left" placeholder="Contraseña" required="required" name="password" />
                                    <span class="fa fa-key form-control-feedback left" aria-hidden="true" style="border-right:none; width:25px; margin-top: 10px; "></span>
                                </div>

                                <div>
                                    <a class="reset_pass" href="{% url 'password_reset' %}"> &iquest;Olvidaste tu Contrase&ntilde;a? </a>
                                </div>

                                <div class="clearfix"></div>

                                <input type="submit" id="btn_ingresar" value="Iniciar Sesión" class="button btn btn-default submitlogin" />
                            </form>
                        {% endblock %}
                    </section>
                </div>
            </div>
        </div>
    </div>

	</body>
</html>

