{% extends 'layouts/default.html' %}
{% load static %}
{% load i18n %}

{% block contenido %}
	<div class="" role="tabpanel" data-example-id="togglable-tabs">
	  <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
	    <li role="presentation" class="active">
	    	<a href="#contUsuarios" id="tabUsuarios" role="tab" data-toggle="tab" aria-expanded="true"> Noticias </a>
	    </li>
	  </ul>
	  
	  <div id="myTabContent" class="tab-content col-md-12 col-sm-12 col-xs-12">
	  	<div class="clearfix"></div>
	  	<div class="barra"></div>
	    <div role="tabpanel" class="tab-pane fade active in col-md-12 col-sm-12 col-xs-12" id="contUsuarios" aria-labelledby="tabUsuarios">
	    	<div class="contenedorTab col-lg-12 col-md-12 col-sm-12 col-xs-12">

				<form id="formulario" method="post" accept-charset="utf-8">
					{% csrf_token %}
	    			
		    		<div class="col-md-6 col-sm-6 col-xs-12">
	  					<label class="labelobj">{{ _('Título de la Noticia') }} </label>
	  					<input type="text" class="form-control required" name="titulo" value="" placeholder="{{ _('Título de la Noticia') }}" required="required">
					</div> 

					<div class="col-md-4 col-sm-4 col-xs-12">
	  					<label class="labelobj">{{ _('Fecha de Publicación') }} </label>
	  					<div class="form-group has-feedback">
					  		<input class="form-control has-feedback-left" placeholder="Fecha" required="required" name="fecha_publicacion" type="text" readonly="readonly">
					    	<span class="fa fa-calendar form-control-feedback right" aria-hidden="true" style="margin-top: 6px;"></span>
					  	</div>
					</div> 

					<div class="barra"></div>

  					<div class="col-md-12 col-sm-12 col-xs-12" id="divDescripcion">
	  					<label class="labelobj">{{ _('Descripción') }} </label>
  						<textarea class="textareaTiny" id="id_descripcion" name="descripcion" required="required"></textarea>
  					</div>
					
					<div class="barra" style="height:15px;"></div>

					<div id="imagenes" class="col-md-12 col-sm-12 col-xs-12">							
						<div contenedor=".contenedorMultimedia" class="form-group has-feedback obj tituloselect btnSelMultimedia" style="width:300px; cursor:pointer;">
							{{ _('Cargar Imágen o Video') }}
							<span class="fa fa-upload form-control-feedback right" aria-hidden="true" style="margin: 5px 9px;"></span>
						</div>
						<div style="width:100%; overflow-x:auto; max-height:250px;">
							<div class="contenedorMultimedia"></div>
						</div>
					</div>

  					<input type="submit" id="guardar" name="guardar" class="btn btn-default right" value="Aceptar" style="float: right; margin: 20px 0; padding: 10px 40px;">
					<input id="limpiar" class="btn right btnLimpiar" value="Limpiar" style="margin: 20px 5px;" type="reset">
  				</form> 
	    	</div>
	    </div>
	  </div>
	</div>

	</div>

{% include "partials/multimedia.html" %}

{% endblock %}
