{% extends 'layouts/default.html' %}
{% load static %}
{% load i18n %}

{% block contenido %}
	<div class="" role="tabpanel" data-example-id="togglable-tabs">
	  	<ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
		    <li role="presentation" class="active">
		    	<a href="#contOficinas" id="tabOficinas" role="tab" data-toggle="tab" aria-expanded="true">Oficinas</a>
		    </li>
	  	</ul>
	  
	  	<div id="myTabContent" class="tab-content col-md-12 col-sm-12 col-xs-12">
		  	<div class="clearfix"></div>

		    <div role="tabpanel" class="tab-pane fade in col-md-12 col-sm-12 col-xs-12 active" id="contOficinas" aria-labelledby="tabOficinas">
		    	<div class="contenedorTab" style="display:none;">
	          		<input type="button" class="btn btn-default right btnVolverListado" value="Volver al Listado" style="float:left;" ocultar="contenedorTab" mostrar="divListadoForm">
		    		<div class="clearfix"></div>
		    		
		    		<form id="formulario" method="post" accept-charset="utf-8">
	    				{% csrf_token %}

	    				<div class="col-md-4 col-sm-4 col-xs-12">
		  					<div class="obj tituloselect">
						  		{{ form.pais.label }}
						  	</div>

						  	<div style="background: #eaeaea; margin-top: -10px; padding: 5px; width: 100%;">
							  	{{ form.pais }}
							</div>
						</div>

						<div class="col-md-4 col-sm-4 col-xs-12">
		  					<div class="obj tituloselect">
						  		{{ form.ciudad.label }}
						  	</div>

						  	<div style="background: #eaeaea; margin-top: -10px; padding: 5px; width: 100%;">
							  	{{ form.ciudad }}
							</div>
						</div>

						<div class="col-md-4 col-sm-4 col-xs-12">
							<div class="obj col-md-12 col-sm-12 col-xs-12">
								<label for="{{ form.email.name }}" class="labelobj"> {{ form.email.label }} </label>
								{{ form.email }}
							</div>

							<div class="obj col-md-12 col-sm-12 col-xs-12" clon="0" style="margin-top:30px;">
								<table class="table" id="tblTlfs">
									<thead>
										<tr> 
											<td>Telefonos</td>  
											<td><span class="fa fa-plus btnAddTlf" title="Agregar Teléfono"></span></td>
										</tr>
									</thead>
									<tr clon="0" class="trTlf">
										<td><input name="telefono[]" placeholder="Telefono" class="form-control campo" maxlength="20" type="text" onkeyup="if (/\D/g.test(this.value)) this.value = this.value.replace(/\D/g,'')"></td>
										<td><span class="fa fa-minus"></span></td>
									</tr>
								</table>
							</div>

						</div>

						<div class="obj col-sm-12">
							<label for="{{ form.iframe_ubicacion.name }}" class="labelobj"> {{ form.iframe_ubicacion.label }} </label>
							{{ form.iframe_ubicacion }}
						</div>

						<div class="obj col-sm-12">
							<label for="{{ form.direccion.name }}" class="labelobj"> {{ form.direccion.label }} </label>
							{{ form.direccion }}
						</div>

						<div id="imagenes" class="col-md-12 col-sm-12 col-xs-12">							
							<div contenedor=".contenedorMultimedia" class="form-group has-feedback obj tituloselect btnSelMultimedia" style="width:300px; cursor:pointer;">
								Cargar Imágen o Video
								<span class="fa fa-upload form-control-feedback right" aria-hidden="true" style="margin: 5px 9px;"></span>
							</div>
							<div style="width:100%; overflow-x:auto; max-height:250px;">
								<div class="contenedorMultimedia"></div>
							</div>
						</div>

						<input id="btnAceptarOficinas" type="submit" class="btn btn-default right btnAceptar" value="Guardar" style="margin: 20px 5px;">
						<input type="reset" id="limpiar" class="btn right btnLimpiar" value="Limpiar" style="margin: 20px 5px;">
		    		</form>

		    	</div>

		    	<div class="row divListadoForm">
					<input type="button" class="btn btn-default right btnNuevoForm" value="Nuevo" style="float:left;" ocultar="divListadoForm" mostrar="contenedorTab">

					<div class="clearfix" style="height:40px;"></div>

					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div  class="table-responsive">
							{{ datatable }}
						</div>
					</div>
				</div>
	    	</div>


		</div>
	</div>

{% include "partials/multimedia.html" %}

{% endblock %}