{% extends 'layouts/default.html' %}
{% load static %}
{% load i18n %}

{% block contenido %}
<div class="" role="tabpanel" data-example-id="togglable-tabs">
  <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
    <li role="presentation" class="active">
    	<a href="#contOportunidades" id="tabOportunidades" role="tab" data-toggle="tab" aria-expanded="true">Postulados</a>
    </li>
  </ul>
  
	<div id="myTabContent" class="tab-content col-md-12 col-sm-12 col-xs-12">
	    <div role="tabpanel" class="tab-pane fade in col-md-12 col-sm-12 col-xs-12 active" id="contOportunidades" aria-labelledby="tabOportunidades"> 
	    		{{ datatable }}
    	</div>
	</div>
</div>

<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3 class="modal-title"> Información </h3>
      </div>
      <div class="modal-body">
        <form id="formulario">
          <div class="info">
            <label class="labelobj"> Nombre </label>
            <div class="descripcion" campo="nombre"></div>
          </div>
          <div class="info">
            <label class="labelobj"> Apellido </label>
            <div class="descripcion" campo="apellido"></div>
          </div>
          <div class="info">
            <label class="labelobj"> Correo Electrónico </label>
            <div class="descripcion" campo="email"></div>
          </div>
          <div class="info">
            <label class="labelobj"> Descripción Personal </label>
            <div class="descripcion" campo="descripcion"></div>
          </div>
          <div class="info">
            <label class="labelobj"> País </label>
            <div class="descripcion" campo="pais"></div>
          </div>
          <div class="info">
            <label class="labelobj"> Oficina </label>
            <div class="descripcion" campo="oficina"></div>
          </div>
          <div class="info">
            <label class="labelobj"> Vacante </label>
            <div class="descripcion" campo="vacante"></div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" id="btnPdf" rutapdf="#"> <i class="fa fa-file-pdf-o"></i> PDF</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div>

  </div>
</div>
	
{% endblock %}