{% extends 'layouts/default.html' %}
{% load static %}
{% load i18n %}

{% block contenido %}
  <div class="" role="tabpanel" data-example-id="togglable-tabs">
    <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
      <li role="presentation" class="active">
        <a href="#contCompSocial" id="tabCompSocial" role="tab" data-toggle="tab" aria-expanded="true"> Oportunidad de Empleos </a>
      </li>
    </ul>
    
    <div id="myTabContent" class="tab-content col-md-12 col-sm-12 col-xs-12">
      <div class="clearfix"></div>
      <div class="barra"></div>

      <div role="tabpanel" class="tab-pane fade in col-md-12 col-sm-12 col-xs-12 active" id="contCompSocial" aria-labelledby="tabCompSocial">
          <div class="barra"></div>
        <div class="contenedorTab" style="display:none;">
              <input type="button" class="btn btn-default right btnVolverListado" value="Volver al Listado" style="float:left;" ocultar="contenedorTab" mostrar="divListadoForm">
          <div class="clearfix"></div>
          
          <form id="formulario" method="post" accept-charset="utf-8">
            {% csrf_token %}

            <div class="obj col-md-4 col-sm-4 col-xs-12">
            <label for="id_pais" class="labelobj"> {{ form.oficina.label }} </label>
            {{ form.oficina }}
          </div>

          <div class="obj col-md-12 col-sm-12 col-xs-12">
            <label for="id_titulo" class="labelobj"> {{ form.vacante.label }} </label>
            {{ form.vacante }}
          </div>

          <div class="obj col-md-12 col-sm-12 col-xs-12">
            <label for="id_titulo" class="labelobj"> {{ form.descripcion.label }} </label>
            {{ form.descripcion }}
          </div>

          <input id="btnAceptar" type="submit" class="btn btn-default right btnAceptar" value="Aceptar" style="margin: 20px 5px;">
          <input type="reset" id="limpiar" class="btn right btnLimpiar" value="Limpiar" style="margin: 20px 5px;">
          </form>

        </div>

        <div class="row divListadoForm">
        <input type="button" class="btn btn-default right btnNuevoForm" value="Nuevo" style="float:left;" ocultar="divListadoForm" mostrar="contenedorTab">

        <div class="clearfix" style="height:40px;"></div>

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div  class="table-responsive">
            {{ datatable }}
          </div>
        </div>
      </div>

      </div>
    </div>
  </div>
  
{% endblock %}