{% extends 'layouts/default.html' %}
{% load i18n %}

{% block contenido %}
	<div class="" role="tabpanel" data-example-id="togglable-tabs">
	  <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
	    <li role="presentation" class="active">
	    	<a href="#contBanners" id="tabBanners" role="tab" data-toggle="tab" aria-expanded="true">Administrador de Perfiles</a>
	    </li>
	  </ul>
	  
	  <div id="myTabContent" class="tab-content col-md-12 col-sm-12 col-xs-12">
	  	<div class="clearfix"></div>
	  	<div class="barra"></div>
	    <div role="tabpanel" class="tab-pane fade active in col-md-12 col-sm-12 col-xs-12" id="contBanners" aria-labelledby="tabBanners">
	    	<div class="contenedorTab" style="display:none;">
	    		<div class="col-xs-12">
	    			<input type="button" class="btn btn-default right btnVolverListado" value="{{ _('Volver al Listado') }}" style="float:left;" ocultar="contenedorTab" mostrar="divListadoForm">
	    			<div class="col-sm-10 col-lg-6 col-lg-offset-3 col-md-6  col-md-offset-3" style="margin-bottom: 25px; margin-top: 25px;">
    				</div>
				</div>

    			<div class="form-group col-sm-6 col-xs-12">
    				<form id="formulario" method="post">
    					{% csrf_token %}
    					
				  		<input type="hidden" id="permisos" name="permisos" value="" />
						
	  					<div class="obj tituloselect">
					  		{{ _('Nombre') }}
					  	</div>

					  	<div style="background: #eaeaea; margin-top: -10px; padding: 5px; width: 100%;">
						  	{{ form.name }}
						</div>
		    		</form>
    			</div>

    			<div class="form-group col-sm-6 col-xs-12">
					<label for="arbol">Permisos:</label>
					<input id="input_buscar" name="input_buscar" class="form-control" type="text" placeholder="Buscar" value="" /><br />

					<div id="arbol"></div>
				</div>
				
				<div class="clearfix"></div>

				<div id="botonera">
					<input type="submit" id="guardar" class="btn btn-default right btnAceptar" value="Aceptar" >
					<input type="reset" id="limpiar" class="btn right btnLimpiar" value="Limpiar">
				</div>
	    	</div>
	    	
	    	<div class="divListadoForm">
	    		<input type="button" class="btn btn-default right btnNuevoForm" value="Nuevo" style="float:left;" ocultar="divListadoForm" mostrar="contenedorTab">

	    		<div class="clearfix" style="height:40px;"></div>

	    		{{ datatable }}
	    	</div>
	    </div>
	  </div>
	</div>
{% endblock %}