{% extends 'layouts/default.html' %}
{% load static %}
{% load i18n %}

{% block contenido %}
	<div class="" role="tabpanel" data-example-id="togglable-tabs">
	  <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
	    <li role="presentation" class="active">
	    	<a href="#contPreguntas" id="tabPreguntas" role="tab" data-toggle="tab" aria-expanded="true">Preguntas Frecuentes</a>
	    </li>
	  </ul>
	  
	  <div id="myTabContent" class="tab-content col-md-12 col-sm-12 col-xs-12">
	  	<div class="clearfix"></div>

	    <div role="tabpanel" class="tab-pane fade in col-md-12 col-sm-12 col-xs-12 active" id="contPreguntas" aria-labelledby="tabPreguntas"> 
	    	<div class="contenedorTab" style="display:none;">
          		<input type="button" class="btn btn-default right btnVolverListado" value="Volver al Listado" style="float:left;" ocultar="contenedorTab" mostrar="divListadoForm">
	    		<div class="clearfix"></div>

	    		<form id="formulario" method="post" accept-charset="utf-8">
    				{% csrf_token %}

    				<div class="col-md-4 col-sm-4 col-xs-12">
	  					<div class="obj tituloselect">
					  		{{ form.secciones.label }}
					  	</div>

					  	<div style="background: #eaeaea; margin-top: -10px; padding: 5px; width: 100%;">
						  	{{ form.secciones }}
						</div>
					</div>

					<div class="obj col-xs-12" style="margin-top:15px;">
						<label for="id_pregunta" class="labelobj"> {{ form.pregunta.label }} </label>
						{{ form.pregunta }}
					</div>

					<div class="obj col-xs-12" style="margin-top:15px;">
						<label for="id_respuesta" class="labelobj"> {{ form.respuesta.label }} </label>
						{{ form.respuesta }}
					</div>

					<div id="imagenes" class="col-md-12 col-sm-12 col-xs-12">							
						<div contenedor=".contenedorMultimedia" class="form-group has-feedback obj tituloselect btnSelMultimedia" style="width:300px; cursor:pointer;">
							{{ _('Cargar Imágen o Video') }}
							<span class="fa fa-upload form-control-feedback right" aria-hidden="true" style="margin: 5px 9px;"></span>
						</div>
						<div style="width:100%; overflow-x:auto; max-height:250px;">
							<div class="contenedorMultimedia"></div>
						</div>
					</div>
					
					<input id="btnAceptarPregunta" type="submit" class="btn btn-default right btnAceptar" value="Guardar" style="margin: 20px 5px;">
					<input type="reset" id="limpiar" class="btn btn-warning right btnLimpiar" value="Limpiar" style="margin: 20px 5px;">
	    		</form>
	    		</div>
	    	</div>

	    	<div class="row divListadoForm">
				<input type="button" class="btn btn-default right btnNuevoForm" value="Nuevo" style="float:left;" ocultar="divListadoForm" mostrar="contenedorTab">

				<div class="clearfix" style="height:40px;"></div>

				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div  class="table-responsive">
						{{ datatable }}
					</div>
				</div>
			</div>

	    </div>

	  </div>
{% include "partials/multimedia.html" %}

{% endblock %}