{% extends 'layouts/default.html' %}
{% load static %}
{% load i18n %}

{% block contenido %}
	<div class="" role="tabpanel" data-example-id="togglable-tabs">
	  <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
	    <li role="presentation" class="active">
	    	<a href="#contQsomos" id="tabQsomos" role="tab" data-toggle="tab" aria-expanded="true">¿Quienes Somos?</a>
	    </li>
	  </ul>
	  
	  <div id="myTabContent" class="tab-content col-md-12 col-sm-12 col-xs-12">
	  	<div class="clearfix"></div>
	  	<div class="barra"></div>
	    <div role="tabpanel" class="tab-pane fade active in col-md-12 col-sm-12 col-xs-12" id="contQsomos" aria-labelledby="tabQsomos">
	    	<div class="contenedorTab">
				<form id="formulario" method="post" accept-charset="utf-8">
					{% csrf_token %}
					
  					<div class="col-md-12 col-sm-12 col-xs-12"  style="margin-top:20px;">
	  					<div class="obj col-sm-12">
							<label for="id_titulo" class="labelobj"> {{ form.titulo.label }} </label>
							{{ form.titulo }}
						</div>

						<div class="obj col-lg-6 col-md-6 col-sm-6">
							<label for="id_mision" class="labelobj"> {{ form.mision.label }} </label>
							{{ form.mision }}
						</div>

						<div class="obj col-lg-6 col-md-6 col-sm-6">
							<label for="id_vision" class="labelobj"> {{ form.vision.label }} </label>
							{{ form.vision }}
						</div>

						<div class="obj col-lg-12 col-md-12 col-sm-12">
							<label for="id_resena" class="labelobj"> {{ form.resena.label }} </label>
							{{ form.resena }}
						</div>
					</div>

					<div class="barra"></div>
					<div class="clearfix" style="height:40px;"></div>

					<div id="imagenes" class="col-md-12 col-sm-12 col-xs-12">							
						<div contenedor=".contenedorMultimedia" class="form-group has-feedback obj tituloselect btnSelMultimedia" style="width:300px; cursor:pointer;">
							Cargar Imágen o Video
							<span class="fa fa-upload form-control-feedback right" aria-hidden="true" style="margin: 5px 9px;"></span>
						</div>
						<div style="width:100%; overflow-x:auto; max-height:250px;">
							<div class="contenedorMultimedia"></div>
						</div>
					</div>
					
					<div id="botonera">
						<input id="btnAceptarQsomos" type="submit" class="btn btn-default right btnAceptar" value="Aceptar">
						<input type="reset" id="limpiar" class="btn right btnLimpiar" value="Limpiar">
					</div>
	    		</form>
	    	</div>
	    </div>
	  </div>
	</div>

	</div>

{% include "partials/multimedia.html" %}

	
{% endblock %}

{% block js %}

<script type="text/javascript">
$(function(){
	aplicacion.id = {{ model_id }};
});
</script>
{% endblock %}