{% extends 'layouts/default.html' %}
{% load static %}
{% load i18n %}

{% block contenido %}
	<div class="" role="tabpanel" data-example-id="togglable-tabs">
	  <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
	    <li role="presentation" class="active">
	    	<a href="#contCompSocial" id="tabCompSocial" role="tab" data-toggle="tab" aria-expanded="true">Responsabilidad Social</a>
	    </li>
	  </ul>
	  
	  <div id="myTabContent" class="tab-content col-md-12 col-sm-12 col-xs-12">
	  	<div class="clearfix"></div>
	  	<div class="barra"></div>

	    <div role="tabpanel" class="tab-pane fade in col-md-12 col-sm-12 col-xs-12 active" id="contCompSocial" aria-labelledby="tabCompSocial">
	    		<div class="barra"></div>
	    	<div class="contenedorTab" style="display:none;">
          		<input type="button" class="btn btn-default right btnVolverListado" value="Volver al Listado" style="float:left;" ocultar="contenedorTab" mostrar="divListadoForm">
	    		<div class="clearfix"></div>
	    		
	    		<form id="formulario" method="post" accept-charset="utf-8">
    				{% csrf_token %}

    				<div class="obj col-md-4 col-sm-4 col-xs-12">
						<label for="id_pais" class="labelobj"> {{ form.pais.label }} </label>
						{{ form.pais }}
					</div>

					<div class="obj col-md-8 col-sm-8 col-xs-12">
						<label for="id_titulo" class="labelobj"> {{ form.titulo.label }} </label>
						{{ form.titulo }}
					</div>

					<!-- <div class="contenedorimagen col-md-4 col-sm-4 col-xs-12" style="text-align:center;">
						<div class="fondogris" style='background-color: #f8f5f5; min-height: 165px;'>
							<img id="foto" inputfile="archivo" src="" align="center" alt="{{ _('Sin imagen') }}">
						</div>
						<div class="btn btn-default btn-block btnCargaImg" inputfile="archivo">
							<span class="fa fa-image"></span> {{ _('Cargar Imagen') }}
						</div>
						<input type="file" id="archivo" name="archivo" value="" style="display:none;" onchange="previewImg(this, '#foto');">
					</div> -->

					<div class="obj col-md-12 col-sm-12 col-xs-12">
						<label for="descripcion" class="labelobj"> {{ form.descripcion.label }} </label>
						{{ form.descripcion }}
					</div>

					<div id="imagenes" class="col-md-12 col-sm-12 col-xs-12">							
						<div contenedor=".contenedorMultimedia" class="form-group has-feedback obj tituloselect btnSelMultimedia" style="width:300px; cursor:pointer;">
							Cargar Imágen o Video
							<span class="fa fa-upload form-control-feedback right" aria-hidden="true" style="margin: 5px 9px;"></span>
						</div>
						<div style="width:100%; overflow-x:auto; max-height:250px;">
							<div class="contenedorMultimedia"></div>
						</div>
					</div>

					<input id="btnAceptarCompSocial" type="submit" class="btn btn-default right btnAceptar" value="Aceptar" style="margin: 20px 5px;">
					<input type="reset" id="limpiar" class="btn right btnLimpiar" value="Limpiar" style="margin: 20px 5px;">
	    		</form>
	    	</div>

	    	<div class="row divListadoForm">
				<input type="button" class="btn btn-default right btnNuevoForm" value="Nuevo" style="float:left;" ocultar="divListadoForm" mostrar="contenedorTab">

				<div class="clearfix" style="height:40px;"></div>

				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div  class="table-responsive">
						{{ datatable }}
					</div>
				</div>
			</div>

	    </div>
	  </div>
	</div>

{% include "partials/multimedia.html" %}
	
{% endblock %}