{% extends 'layouts/default.html' %}
{% load i18n %}

{% block contenido %}
	<div class="" role="tabpanel" data-example-id="togglable-tabs">
	  <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
	    <li role="presentation" class="active">
	    	<a href="#contUsuarios" id="tabUsuarios" role="tab" data-toggle="tab" aria-expanded="true"> Servicios </a>
	    </li>
	  </ul>
	  
	  <div id="myTabContent" class="tab-content col-md-12 col-sm-12 col-xs-12">
	  	<div class="clearfix"></div>
	  	<div class="barra"></div>
	    <div role="tabpanel" class="tab-pane fade active in col-md-12 col-sm-12 col-xs-12" id="contUsuarios" aria-labelledby="tabUsuarios">
	    	<div class="contenedorTab" style="display:none;">
	    		<input type="button" class="btn btn-default right btnVolverListado" value="Volver al Listado" style="float:left;" ocultar="contenedorTab" mostrar="divListadoForm">

    			<div class="col-md-12 col-sm-12 col-xs-12">
    				<form id="formulario" method="post" accept-charset="utf-8">
    					{% csrf_token %}
	    			<div class="col-md-8 col-sm-8 col-xs-12">
	    				<div class="col-md-6 col-sm-6 col-xs-12">
		    				<label for="id_activo" style="float:left; margin:10px; font-weight:bold;">  {{ form.activo.label }} </label>
							{{ form.activo }}
	    				</div>
	    				
	    				<div class="clearfix"></div>

			    		<div class="col-md-6 col-sm-6 col-xs-12">
							<div id="tiposLc" class="form-group obj tituloselect">
								<input type="text" class="form-control has-feedback-left inputguardar" placeholder="Nombre de Servicio" id="nombre_tipo_servicio" name="nombre_tipo_servicio"/>
								<span id="guardarTipo" class="fa fa-save form-control-feedback right" aria-hidden="true" ></span>
							</div>
							<div class="contenedortituloselect">
								<table class="table" border='0' style="margin-bottom:0;">
									{% for servicio in tipo_servicios %}
									<tr>
										<td width="30px"><input type="checkbox" class="flat" name="tipo_servicio" value="{{ servicio.id }}"></td>
										<td class="tdServicio"> {{ servicio.nombre }} </td>
									</tr>
									{% endfor %}
								</table>
							</div>
						</div>
						
			    		<div class="col-md-6 col-sm-6 col-xs-12">
		  					<div class="obj tituloselect">
						  		Seleccionar País
						  	</div>

						  	<div style="background: #eaeaea; margin-top: -10px; padding: 5px; width: 100%;">
							  	{{ form.pais }}
							</div>
						</div>
	    			</div>

					<div class="clearfix"></div>
					<div class="barra"></div>
  					
  					<div class="col-md-12 col-sm-12 col-xs-12" id="divDescripcion">
  						<h2>{{ form.descripcion.label }}</h2>
  						{{ form.descripcion }}
  					</div>
					
  					<div id="imagenes" class="col-md-12 col-sm-12 col-xs-12">							
						<div contenedor=".contenedorMultimedia" class="form-group has-feedback obj tituloselect btnSelMultimedia" style="width:300px; cursor:pointer;">
							Cargar Imágen o Video
							<span class="fa fa-upload form-control-feedback right" aria-hidden="true" style="margin: 5px 9px;"></span>
						</div>
						<div style="width:100%; overflow-x:auto; max-height:250px;">
							<div class="contenedorMultimedia"></div>
						</div>
					</div>

  					<input type="submit" id="submitServicio" name="submitServicio" class="btn btn-default right btnAceptar" value="Aceptar" style="float: right; margin: 20px 0; padding: 10px 40px;">
  					<input type="reset" id="limpiar" class="btn right btnLimpiar" value="Limpiar" style="margin: 20px 5px;">
  				</form> 
    			</div>

    			<div class="col-md-12 col-sm-12 col-xs-12" style="height:2px; background:#C4C1C1; margin:15px 0;"></div>

    			
	    	</div>

	    	<div class="divListadoForm">
	    		<input type="button" class="btn btn-default right btnNuevoForm" value="Nuevo" style="float:left;" ocultar="divListadoForm" mostrar="contenedorTab">

	    		<div class="clearfix" style="height:40px;"></div>
    			
    			<h2> Listado de Servicios </h2>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div  class="table-responsive">
						{{ datatable }}
					</div>
				</div>

	    	</div>
	    </div>

	  </div>
	</div>

	</div>

{% include "partials/multimedia.html" %}

{% endblock %}