{% extends 'layouts/default.html' %}
{% load static %}
{% load i18n %}

{% block contenido %}
	<div class="" role="tabpanel" data-example-id="togglable-tabs">
	  <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
	    <li role="presentation" class="active">
	    	<a href="#contQsomos" id="tabQsomos" role="tab" data-toggle="tab" aria-expanded="true">¿Quienes Somos?</a>
	    </li>
	    <li role="presentation">
	    	<a href="#contCompSocial" id="tabCompSocial" role="tab" data-toggle="tab" aria-expanded="true">Compromiso Social</a>
	    </li>
	    <li role="presentation">
	    	<a href="#contAgradecimientos" id="tabAgradecimientos" role="tab" data-toggle="tab" aria-expanded="true">Agradecimientos</a>
	    </li>

	  </ul>
	  
	  <div id="myTabContent" class="tab-content col-md-12 col-sm-12 col-xs-12">
	  	<div class="clearfix"></div>
	  	<div class="barra"></div>
	    <div role="tabpanel" class="tab-pane fade active in col-md-12 col-sm-12 col-xs-12" id="contQsomos" aria-labelledby="tabQsomos">
	    	<div class="contenedorTab">

    			<div class="col-md-12 col-sm-12 col-xs-12">
    				<form id="fSocial" method="post" accept-charset="utf-8">
    					{% csrf_token %}
    					
	  					<div class="col-md-8 col-sm-8 col-xs-8" style="margin-top:20px;">
		  					<div class="obj col-md-12 col-sm-12 col-xs-12">
								<label for="tituloimagen" class="labelobj"> {{ _('Título de Imagen') }} </label>
								<input type="text"  id="tituloimagen" name="tituloimagen" class="form-control campo" placeholder="{{ _('Título de Imagen') }}" required="required">
							</div>

							<div class="obj col-md-12 col-sm-12 col-xs-12">
								<label for="mision" class="labelobj"> {{ _('Misión') }} </label>
								<textarea  id="mision" name="mision" class="form-control campo" placeholder="{{ _('Misión') }}" required="required"></textarea>
							</div>
							<div class="obj col-md-12 col-sm-12 col-xs-12">
								<label for="vision" class="labelobj"> {{ _('Visión') }} </label>
								<textarea  id="vision" name="vision" class="form-control campo" placeholder="{{ _('Visión') }}" required="required"></textarea>
							</div>

							<div class="obj col-md-12 col-sm-12 col-xs-12">
								<label for="vision" class="labelobj"> {{ _('Reseña') }} </label>
								<textarea  id="resena" name="resena" class="form-control campo textareaTiny" placeholder="{{ _('Reseña') }}" required="required"></textarea>
							</div>
						</div>

						<div class="contenedorimagen col-md-4 col-sm-4 col-xs-4" style="text-align:center;">
							<div class="fondogris" style='background-color: #f8f5f5; min-height: 165px;'>
								<img inputfile="fotoQsomos" src="" align="center" alt="{{ _('Sin imagen') }}">
							</div>
							<div class="btn btn-default btn-block btnCargaImg" inputfile="fotoQsomos">
								<span class="fa fa-pencil"></span> {{ _('Cargar Imagen') }}
							</div>
							<input type="file" id="fotoQsomos" name="fotoQsomos" value="" style="display:none;" >
						</div>
						<div class="barra"></div>
						<div class="clearfix" style="height:40px;"></div>

						<input id="btnAceptarQsomos" type="submit" class="btn btn-default right btnAceptar" value="Aceptar">
		    		</form>
    			</div>
	    	</div>	    	
	    </div>


	    <div role="tabpanel" class="tab-pane fade in col-md-12 col-sm-12 col-xs-12" id="contCompSocial" aria-labelledby="tabCompSocial">
	    	<div class="cont_formulario" class="col-md-12 col-sm-12 col-xs-12" style="display:none;">

	    		<input type="button" class="btn btn-default right btnVolverListado" value="Volver al Listado" style="float:left;" ocultar="cont_formulario" mostrar="divListadoForm">
	    		<div class="barra"></div>

	    		<form id="fCompSocial" method="post" accept-charset="utf-8">
    				{% csrf_token %}

    				<div class="col-md-4 col-sm-4 col-xs-12">
	  					<div class="obj tituloselect">
					  		{{ _('País') }}
					  	</div>

					  	<div style="background: #eaeaea; margin-top: -10px; padding: 5px; width: 100%;">
						  	<select id="id_pais"  name="id_pais[]" class="selectpicker show-menu-arrow form-control required" tabindex="-98">
								<option value="Australia">Australia</option>
								<option value="Brasil">Brasil</option>
								<option value="Canadá">Canadá </option>
								<option value="Chile">Chile</option>
								<option value="Costa Rica">Costa Rica</option>
							</select>
						</div>
					</div>

					<div class="obj col-md-4 col-sm-4 col-xs-12">
						<label for="tituloImagen" class="labelobj"> {{ _('Título de Imagen') }} </label>
						<input type="text" id="tituloImagen" name="tituloImagen" class="form-control campo" placeholder="{{ _('Título de Imagen') }}" required="required"/>
					</div>

					<div class="contenedorimagen col-md-4 col-sm-4 col-xs-4" style="text-align:center;">
						<div class="fondogris" style='background-color: #f8f5f5; min-height: 165px;'>
							<img inputfile="fotoCompSocial" src="" align="center" alt="{{ _('Sin imagen') }}">
						</div>
						<div class="btn btn-default btn-block btnCargaImg" inputfile="fotoCompSocial">
							<span class="fa fa-pencil"></span> {{ _('Cargar Imagen') }}
						</div>
						<input type="file" id="fotoCompSocial" name="fotoCompSocial" value="" style="display:none;" >
					</div>

					<div class="obj col-md-12 col-sm-12 col-xs-12">
						<label for="descripcionCompSocial" class="labelobj"> {{ _('Descripción') }} </label>
						<textarea type="text" id="descripcionCompSocial" name="descripcionCompSocial" class="form-control campo textareaTiny" placeholder="{{ _('Descripción') }}" required="required"> </textarea>
					</div>

					<input id="btnAceptarCompSocial" type="submit" class="btn btn-default right btnAceptar" value="Aceptar">
	    		</form>

	    	</div>

	    	<div class="divListadoForm col-md-12 col-sm-12 col-xs-12">
	    		<input type="button" class="btn btn-default right btnNuevoForm" value="{{ _('Agregar') }}" style="float:left;" ocultar="divListadoForm" mostrar="cont_formulario">

	    		<div class="clearfix" style="height:40px;"></div>

	    		{{ datatable }}
	    	</div>

	    </div>

	    <div role="tabpanel" class="tab-pane fade in col-md-12 col-sm-12 col-xs-12" id="contAgradecimientos" aria-labelledby="tabAgradecimientos"> 
	    	<div class="cont_formulario" class="col-md-12 col-sm-12 col-xs-12" style="display:none;">

	    		<input type="button" class="btn btn-default right btnVolverListado" value="Volver al Listado" style="float:left;" ocultar="cont_formulario" mostrar="divListadoForm">
	    		<div class="barra"></div>

	    		<form id="fAgradecimientos" method="post" accept-charset="utf-8">
    				{% csrf_token %}

    				<div class="col-md-4 col-sm-4 col-xs-12">
	  					<div class="obj tituloselect">
					  		{{ _('País') }}
					  	</div>

					  	<div style="background: #eaeaea; margin-top: -10px; padding: 5px; width: 100%;">
						  	<select id="id_pais"  name="id_pais[]" class="selectpicker show-menu-arrow form-control required" tabindex="-98">
								<option value="Australia">Australia</option>
								<option value="Brasil">Brasil</option>
								<option value="Canadá">Canadá </option>
								<option value="Chile">Chile</option>
								<option value="Costa Rica">Costa Rica</option>
							</select>
						</div>
					</div>

					<div class="obj col-md-4 col-sm-4 col-xs-12">
						<label for="tituloImagen" class="labelobj"> {{ _('Título de Imagen') }} </label>
						<input type="text" id="tituloImagen" name="tituloImagen" class="form-control campo" placeholder="{{ _('Título de Imagen') }}" required="required"/>
					</div>

					<div class="contenedorimagen col-md-4 col-sm-4 col-xs-4" style="text-align:center;">
						<div class="fondogris" style='background-color: #f8f5f5; min-height: 165px;'>
							<img inputfile="fotoAgradecimientos" src="" align="center" alt="{{ _('Sin imagen') }}">
						</div>
						<div class="btn btn-default btn-block btnCargaImg" inputfile="fotoAgradecimientos">
							<span class="fa fa-pencil"></span> {{ _('Cargar Imagen') }}
						</div>
						<input type="file" id="fotoAgradecimientos" name="fotoAgradecimientos" value="" style="display:none;" >
					</div>

					<div class="obj col-md-12 col-sm-12 col-xs-12">
						<label for="descripcionAgradecimientos" class="labelobj"> {{ _('Descripción') }} </label>
						<textarea type="text" id="descripcionAgradecimientos" name="descripcionAgradecimientos" class="form-control campo textareaTiny" placeholder="{{ _('Descripción') }}" required="required"> </textarea>
					</div>

					<input id="btnAceptarAgradecimiento" type="submit" class="btn btn-default right btnAceptar" value="Aceptar">
	    		</form>

	    	</div>

	    	<div class="divListadoForm col-md-12 col-sm-12 col-xs-12">
	    		<input type="button" class="btn btn-default right btnNuevoForm" value="{{ _('Agregar') }}" style="float:left;" ocultar="divListadoForm" mostrar="cont_formulario">

	    		<div class="clearfix" style="height:40px;"></div>

	    		{{ datatable }}
	    	</div>

	    </div>

	  </div>
	</div>

	</div>

	
{% endblock %}