{% extends 'layouts/default.html' %}
{% load i18n %}

{% load staticfiles %}
{% block contenido %}
	<div class="" role="tabpanel" data-example-id="togglable-tabs">
	  <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
	    <li role="presentation" class="active">
	    	<a href="#contUsuarios" id="tabUsuarios" role="tab" data-toggle="tab" aria-expanded="true"> Testimoniales </a>
	    </li>
	  </ul>
	  
	  <div id="myTabContent" class="tab-content col-md-12 col-sm-12 col-xs-12">
	  	<div class="clearfix"></div>
	  	<div class="barra"></div>
	    <div role="tabpanel" class="tab-pane fade active in col-md-12 col-sm-12 col-xs-12" id="contUsuarios" aria-labelledby="tabUsuarios">
	    	<div class="contenedorTab" style="display:none;">
          		<input type="button" class="btn btn-default right btnVolverListado" value="Volver al Listado" style="float:left;" ocultar="contenedorTab" mostrar="divListadoForm">
	    		<div class="clearfix"></div>

    			<div class="col-md-8 col-sm-8 col-xs-12">
    				<form id="formulario" method="post" accept-charset="utf-8">
    					{% csrf_token %}
    				<input type="hidden" id="rutaimg" name='rutaimg' value="">
    					
    				<div class="col-md-6 col-sm-6 col-xs-12">
	    				<label for="id_activo" style="float:left; margin:10px; font-weight:bold;">  {{ form.activo.label }} </label>
						{{ form.activo }}
    				</div>
    				<div class="clearfix"></div>
    				
	    			<div class="obj col-md-5 col-sm-4 col-xs-12">
		    			<label for="nombre" class="labelobj"> {{form.nombre.label}} </label>
		    			{{ form.nombre }}
		    		</div>

		    		<div class="obj col-md-5 col-sm-4 col-xs-12">
		    			<label for="apellido" class="labelobj"> {{form.apellido.label}} </label>
		    			{{ form.apellido }}
		    		</div>

		    		<div class="clearfix"></div>

		    		<div class="obj col-md-5 col-sm-4 col-xs-12">
		    			<label for="email" class="labelobj"> {{form.email.label}} </label>
		    			{{ form.email }}
		    		</div>

		    		<div class="col-md-5 col-sm-4 col-xs-12">
	  					<div class="obj tituloselect">
					  		País de Residencia
					  	</div>

					  	<div style="background: #eaeaea; margin-top: -10px; padding: 5px; width: 100%;">
						  	{{ form.pais }}
						</div>
					</div>

  					<div class="clearfix"></div>

  					<div class="obj col-md-10 col-sm-9 col-xs-12">
		    			<label class="labelobj"> {{ form.testimonial.label }} </label>
		    			
		    			{{ form.testimonial }}
		    		</div>

					<div class="clearfix"></div>
					<div class="barra"></div>
  					
  					<input type="submit" id="submitUsuario" name="submitUsuario" class="btn btn-default right btnAceptar" value="Aceptar" style="margin: 20px 5px;">
  					<input type="reset" id="limpiar" class="btn right btnLimpiar" value="Limpiar" style="margin: 20px 5px;">

  					<div class="btn btn-default right previsualizar" id="btnprevisualizar" style="margin: 20px 5px;">
    					<span class="fa fa-eye"></span> Previsualizar
    				</div>
		    		
		    		{{ form.archivo }}
		    		</form>
    			</div>

    			<div class="contenedorimagen col-md-4 col-sm-4 col-xs-12" style="text-align:center;">
					<div class="fondogris" style='background-color: #f8f5f5; min-height: 165px;'>
						<img id="foto" inputfile="id_archivo" src="" align="center" alt="{{ _('Sin imagen') }}" class="fotopreview">
					</div>
					<div class="btn btn-default btn-block btnCargaImg" inputfile="id_archivo">
						<span class="fa fa-image"></span> {{ _('Cargar Imagen') }}
					</div>
				</div>
				
				<div class="clearfix" style="height:40px;"></div>
    			
	    	</div>
    		

	    	<div class="row divListadoForm">
				<input type="button" class="btn btn-default right btnNuevoForm" value="Nuevo" style="float:left;" ocultar="divListadoForm" mostrar="contenedorTab">

				<div class="clearfix" style="height:40px;"></div>

				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div  class="table-responsive">
						{{ datatable }}
					</div>
				</div>
			</div>

	    </div>

	  </div>
	</div>

	</div>
	<div id="modalTestimonio" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
        	<div class="modal-header">
				<button class="close" type="button" data-dismiss="modal"> <span aria-hidden="true">X</span> </button>
			</div>

			<div class="modal-body" style="font-size: 22px; text-align: center; min-height: 220px;">
					<div style="float:left; width:30%; display:inline;">
						<img class="previmgtestimonio fotopreview" src="" alt="Sin Imagen">
					</div>

					<div style="float:left; width:60%;  display:inline; text-align: justify;">
						<p class="destestimonio">  </p>
						<p class="firmatestimonio" style="font-weight:bold;">  </p>
					</div>
			</div>
        </div>
      </div>
    </div>

{% endblock contenido%}
