{% extends 'layouts/default.html' %}
{% load i18n %}

{% block contenido %}
	<div class="" role="tabpanel" data-example-id="togglable-tabs">
	  <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
	    <li role="presentation" class="active">
	    	<a href="#contUbicacion" id="tabUbicacion" role="tab" data-toggle="tab" aria-expanded="true">Destino</a>
	    </li>
	  </ul>
	  
	  <div id="myTabContent" class="tab-content col-md-12 col-sm-12 col-xs-12">
	  	<div class="clearfix"></div>
	  	<div class="barra"></div>

	    <div role="tabpanel" class="tab-pane fade active in col-md-12 col-sm-12 col-xs-12" id="contUbicacion" aria-labelledby="tabUbicacion">
	    	<form id="formulario" method="post" accept-charset="utf-8">
	    	{% csrf_token %}
	    	<div class="col-md-3 col-sm-3 col-xs-12">
		    	<div class="form-group has-feedback obj tituloselect">
		  		<input type="text" class="form-control has-feedback-left inputguardar" placeholder="País" required="required" name="nombre_pais"/>
		    	<span class="fa fa-save form-control-feedback right" aria-hidden="true" onClick="addPais();"></span>
		  	</div>

		  	<div class="contenedortituloselect">
			  	{{ form.pais }}
			</div>
	    	</div>

	    	<div class="col-md-3 col-sm-3 col-xs-12">
		    	<div class="form-group has-feedback obj tituloselect">
		  		<input type="text" class="form-control has-feedback-left inputguardar" placeholder="Ciudad" required="required" name="nombre_ciudad"/>
		    	<span class="fa fa-save form-control-feedback right" aria-hidden="true" onClick="addCiudad();"></span>
		  	</div>
		  	<div class="contenedortituloselect">
			  	{{ form.ciudad }}
			</div>
	    	</div>
	    	</form>
	    </div>
	  </div>
	</div>
{% endblock %}