{% extends 'layouts/default.html' %}
{% load i18n %}

{% block contenido %}
	<div class="" role="tabpanel" data-example-id="togglable-tabs">
	  <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
	    <li role="presentation" class="active">
	    	<a href="#contUbicacion" id="tabUbicacion" role="tab" data-toggle="tab" aria-expanded="true">Ubicación</a>
	    </li>
	    <li role="presentation" class="">
	    	<a href="#contCategorias" role="tab" id="tabCategorias" data-toggle="tab" aria-expanded="false">Categorias</a>
	    </li>
	  </ul>
	  
	  <div id="myTabContent" class="tab-content col-md-12 col-sm-12 col-xs-12">
	  	<div class="clearfix"></div>
	  	<div class="barra"></div>

	    <div role="tabpanel" class="tab-pane fade active in col-md-12 col-sm-12 col-xs-12" id="contUbicacion" aria-labelledby="tabUbicacion">
	    	<form id="fUbicacion" method="post" accept-charset="utf-8">
	    	{% csrf_token %}
	    	<div class="col-md-3 col-sm-3 col-xs-12">
		    	<div class="form-group has-feedback obj tituloselect">
			  		<input type="text" class="form-control has-feedback-left inputguardar" placeholder="País" required="required" name="pais"/>
			    	<span class="fa fa-save form-control-feedback right" aria-hidden="true" style=""></span>
			  	</div>

			  	<div class="contenedortituloselect">
				  	<select id="id_pais" name="id_pais" class="selectpicker show-menu-arrow form-control" tabindex="-98">
						<option value="Canadá">Canadá</option>
						<option value="Brasil">Brasil</option>
						<option value="Venezuela">Venezuela </option>
						<option value="Chile">Chile</option>
						<option value="Costa Rica">Costa Rica</option>
					</select>
				</div>
	    	</div>

	    	<div class="col-md-3 col-sm-3 col-xs-12">
		    	<div class="form-group has-feedback obj tituloselect">
			  		<input type="text" class="form-control has-feedback-left inputguardar" placeholder="Ciudad" required="required" name="ciudad"/>
			    	<span class="fa fa-save form-control-feedback right" aria-hidden="true" style=""></span>
			  	</div>
			  	<div class="contenedortituloselect">
				  	<select id="id_ciudad" name="id_ciudad" class="selectpicker show-menu-arrow form-control" tabindex="-98">
						<option value="Toronto">Toronto</option>
						<option value="Montreal">Montreal</option>
						<option value="Otawa">Otawa</option>
						<option value="Vancouver">Vancouver </option>
						<option value="Calgary">Calgary</option>
					</select>
				</div>
	    	</div>
	    	</form>
	    </div>

	    <div role="tabpanel" class="tab-pane fade" id="contCategorias" aria-labelledby="tabCategorias">
	    	<form id="fCategorias" method="post" accept-charset="utf-8">
	    		<div class="col-md-4 col-sm-4 col-xs-12">	    			
		    		<div class="form-group has-feedback obj tituloselect">
				  		<input type="text" class="form-control has-feedback-left inputguardar" placeholder="Categoria" required="required" name="nom_categoria"/>
				    	<span class="fa fa-save form-control-feedback right" aria-hidden="true" style=""></span>
				  	</div>
				  	<div class="contenedortituloselect">
					  	<table class="table" border='0'>
					  		<tr>
					  			<td width="30px"><input type="checkbox" class="flat" name="chk_activo" value="1"></td>
					  			<td> Lenguaje </td>
					  		</tr>
					  		<tr>
					  			<td><input type="checkbox" class="flat" name="chk_activo" value="2"></td>
					  			<td> Universidades </td>
					  		</tr>
					  		<tr>
					  			<td><input type="checkbox" class="flat" name="chk_activo" value="3"></td>
					  			<td>  </td>
					  		</tr>
					  		<tr>
					  			<td><input type="checkbox" class="flat" name="chk_activo" value="4"></td>
					  			<td>  </td>
					  		</tr>
					  	</table>
					</div>
				</div>

				<div class="col-md-4 col-sm-4 col-xs-12">	    			
		    		<div class="form-group has-feedback obj tituloselect">
				  		<input type="text" class="form-control has-feedback-left inputguardar" placeholder="Categoria" required="required" name="nom_categoria"/>
				    	<span class="fa fa-save form-control-feedback right" aria-hidden="true" style=""></span>
				  	</div>
				  	<div class="contenedortituloselect">
					  	<table class="table" border='0'>
					  		<tr>
					  			<td width="30px"> <input type="checkbox" class="flat" name="chk_activo" value="1"></td>
					  			<td> Inglés Superior </td>
					  		</tr>
					  		<tr>
					  			<td><input type="checkbox" class="flat" name="chk_activo" value="2"></td>
					  			<td> UCV </td>
					  		</tr>
					  		<tr>
					  			<td><input type="checkbox" class="flat" name="chk_activo" value="3"></td>
					  			<td>  </td>
					  		</tr>
					  		<tr>
					  			<td><input type="checkbox" class="flat" name="chk_activo" value="4"></td>
					  			<td>  </td>
					  		</tr>
					  	</table>
					</div>
				</div>

				<div class="col-md-4 col-sm-4 col-xs-12">	    			
		    		<div class="form-group has-feedback obj tituloselect">
				  		<input type="text" class="form-control has-feedback-left inputguardar" placeholder="Categoria" required="required" name="nom_categoria"/>
				    	<span class="fa fa-save form-control-feedback right" aria-hidden="true" style=""></span>
				  	</div>
				  	<div class="contenedortituloselect">
					  	<table class="table" border='0'>
					  		<tr>
					  			<td width="30px"><input type="checkbox" class="flat" name="chk_activo" value="1"></td>
					  			<td> Derecho </td>
					  		</tr>
					  		<tr>
					  			<td><input type="checkbox" class="flat" name="chk_activo" value="2"></td>
					  			<td> Economía </td>
					  		</tr>
					  		<tr>
					  			<td><input type="checkbox" class="flat" name="chk_activo" value="3"></td>
					  			<td>  </td>
					  		</tr>
					  		<tr>
					  			<td><input type="checkbox" class="flat" name="chk_activo" value="4"></td>
					  			<td>  </td>
					  		</tr>
					  	</table>
					</div>
				</div>
	    	</form>

	    	<div class="col-md-12 col-sm-12 col-xs-12" style="height:2px; background:#C4C1C1; margin:15px 0;"></div>
 			<h2 style="margin:15px 0;"> Lista Categoría </h2>

 			<table id="tblCategorias" class="table" border='0'>
 				<thead>
    				<tr style="border: 4px solid #C4D247;">
    					<th width="70%"> Descripción </th>
    					<th width="15%" style="text-align:center;"> Editar </th>
    					<th width="15%" style="text-align:center;"> Eliminar </th>
    				</tr>
    			</thead>
    			<tbody>
			  		<tr idrow="1">
			  			<td> Lenguaje </td>
			  			<td class="edit_registro center"> <span class="fa fa-pencil "></span> </td>
						<td class="del_registro center"> <span class="fa fa-remove "></span> </td>
			  		</tr>
			  		<tr idrow="1">
			  			<td> Lenguaje </td>
			  			<td class="edit_registro center"> <span class="fa fa-pencil "></span> </td>
						<td class="del_registro center"> <span class="fa fa-remove "></span> </td>
			  		</tr>
			  		<tr idrow="1">
			  			<td> Lenguaje </td>
			  			<td class="edit_registro center"> <span class="fa fa-pencil "></span> </td>
						<td class="del_registro center"> <span class="fa fa-remove "></span> </td>
			  		</tr>
			  		<tr idrow="1">
			  			<td> Lenguaje </td>
			  			<td class="edit_registro center"> <span class="fa fa-pencil "></span> </td>
						<td class="del_registro center"> <span class="fa fa-remove "></span> </td>
			  		</tr>
			  	</tbody>
		  	</table>


	    </div>
	  </div>
	</div>

	</div>

{% endblock %}