{% extends 'layouts/default.html' %}
{% load static %}
{% load i18n %}

{% block contenido %}

<div class="" role="tabpanel" data-example-id="togglable-tabs">
	<ul id="myTab" class="nav nav-tabs bar_tabs responsive" role="tablist">
		<li role="presentation" class="active">
			<a href="#contUsuarios" id="tabUsuarios" role="tab" data-toggle="tab" aria-expanded="true"> Usuarios </a>
		</li>
	</ul>

	<div id="myTabContent" class="tab-content col-lg-12 col-md-12 col-sm-12 col-xs-12" style="font-size: 13px;" >
		<div role="tabpanel" class="tab-pane fade active in col-lg-12 col-md-12 col-sm-12 col-xs-12" id="contUsuarios" aria-labelledby="tabUsuarios" style="margin-top: 10px;margin-bottom: 25px;">
			<div class="contenedorTab" style="display:none;">
            <input type="button" class="btn btn-default right btnVolverListado" value="Volver al Listado" style="float:left;" ocultar="contenedorTab" mostrar="divListadoForm">

            <div class="clearfix" style="height:40px;"></div>

    			<form id="formulario" method="post" accept-charset="utf-8" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    				{% csrf_token %}
    				<input type="hidden" id="rutaimg" name='rutaimg' value="">
    				<div class="col-lg-8 col-md-8 col-sm-8">
    					<div class="obj col-md-4 col-sm-4 col-xs-12">
    						<label for="{{ form.nombre.name }}" class="labelobj"> {{ form.nombre.label }} </label>
    						{{ form.nombre }}
    					</div>

    					<div class="obj col-md-4 col-sm-4 col-xs-12">
    						<label for="{{ form.apellido.name }}" class="labelobj"> {{ form.apellido.label }} </label>
    						{{ form.apellido }}
    					</div>
                        <div class="obj col-md-4 col-sm-4 col-xs-12">
                            <label for="{{ form.dni.name }}" class="labelobj"> {{ form.dni.label }} </label>
                            {{ form.dni }}
                        </div>
                        <div class="clearfix"></div>

                        
                        
                        <div class="obj col-md-4 col-sm-4 col-xs-12">
                            <label for="{{ form.genero.name }}" class="labelobj"> {{ form.genero.label }} </label>
                            {{ form.genero }}
                        </div>

                        <div class="obj col-md-4 col-sm-4 col-xs-12">
                            <label for="{{ form.pais.name }}" class="labelobj"> {{ _('País de Residencia') }} </label>
                            {{ form.pais }}
                        </div>
                        <div class="obj col-md-4 col-sm-4 col-xs-12">
                            <label for="{{ form.nacimiento.name }}" class="labelobj"> {{ _('Fecha de Nacimiento') }} </label>
                            {{ form.nacimiento }}
                            <input type="hidden" id="fn" />
                        </div>
                        <div class="clearfix"></div>
                        <div class="obj col-md-4 col-sm-4 col-xs-12">
                            <label for="{{ form.telefono.name }}" class="labelobj"> {{ form.telefono.label }} </label>
                            {{ form.telefono }}
                        </div>
                        <div class="obj col-md-8 col-sm-8  col-xs-12">
    						<label for="{{ form.direccion.name }}" class="labelobj"> {{ form.direccion.label }} </label>
    						{{ form.direccion }}
    					</div>
    					<div class="clearfix"></div>
                        <fieldset style="float: left;width: 100%;margin-top: 10px;">
                            <legend>Datos de acceso al sistema</legend>
                             <div class="obj col-md-4 col-sm-4 col-xs-12">
                                <label for="{{ form.email.name }}" class="labelobj"> {{ form.email.label }} </label>
                                {{ form.email }}
                            </div>
                            <div class="obj col-md-4 col-sm-4 col-xs-12">
                                <label for="{{ form.password.name }}" class="labelobj"> {{ form.password.label }} </label>
                                {{ form.password }}
                            </div>


                        </fieldset>
    					
    					<input type="file" onchange="MostarImagen(this);" id="fotousuario" name="foto" style="display:none;" >
    				</div>
    				<div class="col-lg-4 col-md-4 col-sm-4 col-sx-12">
    					<div class="contenedorimagen col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align:center;    width: 100%;">
    						<div class="fondogris" style='background-color: #f8f5f5; min-height: 165px;'>
    							<img id="foto" src="" align="center" alt="{{ _('Sin imagen') }}" style="width:300px;">
    						</div>
    						<div id="btnCargaImg" class="btn btn-default btn-block">
    							<span class="fa fa-image"></span> {{ _('Cargar Imagen') }}
    						</div>
    					</div>

                        <div class="obj col-md-12 col-sm-12 col-xs-12">
                            <label for="{{ form.groups.name }}" class="labelobj"> {{ form.groups.label }} </label>
                            {{ form.groups }}
                        </div>
    				</div>
    				<div class="col-sm-10 col-lg-6 col-lg-offset-3 col-md-6  col-md-offset-3" style="margin-bottom: 25px;margin-top: 25px;">
    						<input type="submit" id="submitUsuario" name="submitUsuario" class="btn btn-default right btnAceptar" value="Aceptar" >
    						<input type="reset" id="limpiar" class="btn right btnLimpiar" value="Limpiar">
    				</div>
    			</form>
      </div>

      <div class="row divListadoForm">
          <input type="button" class="btn btn-default right btnNuevoForm" value="Nuevo" style="float:left;" ocultar="divListadoForm" mostrar="contenedorTab">
          
          <div class="clearfix" style="height:40px;"></div>
          
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div  class="table-responsive">
  						{{ datatable }}
  					</div>
  				</div>
			</div>
	</div>
</div>


{% endblock %}
{% block js %}
    <script type="text/javascript">
    $(function(){
        $('#id_nacimiento').datepicker()
        .on('changeDate', function(e) {
            var dateString = $(this).val();
            var string = dateString.replace(new RegExp('/',"g") ,"-");

        var info = string.split('-').reverse().join('-');

            $("#fn").val(info);
        });
    });
    function MostarImagen(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#foto').attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
        }
    }
 
    </script>
{% endblock %}
