{% load staticfiles %}
<nav class="navbar navbar-inverse" role="navigation" style="margin-bottom:0px;">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#collapse-barratop">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">  </a>
        </div>

        <div class="collapse navbar-collapse" id="collapse-barratop">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#">
                        ES
                        <i class="fa fa-search"></i>
                    </a>
                </li>
                <li>
                    <a href="#" class="fa fa-search"></a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>