<div id="botonera">
	<div class="msj-botonera bg-red bg-font-red text-left"></div>
	<div class="btn-group btn-group-solid">
		{% block botonesbase %}
		<button id="limpiar" class="btn default tooltips" data-container="body" data-placement="top" data-original-title="Limpiar">
			<i class="fa fa-file-o" aria-hidden="true"></i>
			<span class="visible-lg-inline visible-md-inline">Limpiar</span>
		</button>

		<button id="guardar" class="btn blue tooltips" data-container="body" data-placement="top" data-original-title="Guardar">
			<i class="fa fa-floppy-o" aria-hidden="true"></i>
			<span class="visible-lg-inline visible-md-inline">Guardar</span>
		</button>

		<button id="eliminar" class="btn red tooltips" data-container="body" data-placement="top" data-original-title="Eliminar">
			<i class="fa fa-trash" aria-hidden="true"></i>
			<span class="visible-lg-inline visible-md-inline">Eliminar</span>
		</button>

		<button id="restaurar" class="btn blue tooltips" data-container="body" data-placement="top" data-original-title="Restaurar">
			<i class="fa fa-heart" aria-hidden="true"></i>
			<span class="visible-lg-inline visible-md-inline">Restaurar</span>
		</button>

		<button id="destruir" class="btn red tooltips" data-container="body" data-placement="top" data-original-title="Destruir Registro">
			<i class="fa fa-bomb" aria-hidden="true"></i>
			<span class="visible-lg-inline visible-md-inline">Destruir</span>
		</button>

		<button id="buscar" class="btn green tooltips" data-container="body" data-placement="top" data-original-title="Buscar Registro">
			<i class="fa fa-search" aria-hidden="true"></i>
			<span class="visible-lg-inline visible-md-inline">Buscar</span>
		</button>
		{% endblock %}
		{% block botones %}

		{% endblock %}
	</div>
</div>