{% load staticfiles %}
{% load i18n %}
<div class="verde">
	<div class="container">
		<div class="row" style="padding: 10px">
			<form action="#">
				<div class="col-md-2 col-xs-12"></div>
				<div class="col-md-2 col-xs-12" style="padding:10px;">
					<select name="categorias" class="form-control campo" id="id_categorias" required="" placeholder="categorias" tabindex="-98">
						<option value="" selected="">{{ _('Categoria') }}</option>
						{% for categoria in categorias %}
							<option value="{{ categoria.id }}">{{ categoria.nombre }}</option>
						{% endfor %}
					</select>
				</div>					
				<div class="col-md-2 col-xs-12" style="padding:10px;">
					<select name="pais" class="form-control campo" id="id_paises" required="" placeholder="pais" tabindex="-98">
						<option value="" selected="">{{ _('Pais') }}</option>
						{% for pais in ciudades %}
							<option value="{{ pais.id }}">{{ pais.nombre }}</option>
						{% endfor %}
					</select>
				</div>					
				
				<div class="col-md-2 col-xs-12" style="padding:10px;">
					<select name="ciudades" class="form-control campo" id="id_ciudades" required="" placeholder="ciudades" tabindex="-98">
						<option value="" selected="">{{ _('Ciudad') }}</option>
					</select>
				</div>
				<div class="col-md-2 col-xs-12" style="padding:10px;">
					<!--<input type="button" id="btnBuscar" class="btn btn-default btn-buscar" value="BUSCAR">-->
					<a href="{% url 'website:instituciones' %}">
						<span class="btn btn-default btn-buscar">BUSCAR</span>
					</a>
				</div>
				<div class="col-md-2 col-xs-12"></div>
			</form>
		</div>
	</div>
</div>
