{% load staticfiles %}

<footer id="footer" class="container-fluid">
	
		<div class="row verde" style="padding:20px;">
	        <div class="col-lg-3 col-md-3 col-sm-2 col-xs-12" style="text-align:center;">
	        	<center>
	            	<img src="{% static 'img/lc_blanco_90.png' %}" class="img-responsive" style="max-width:100%; padding: 40px">
	        	</center>
	        </div>

			<nav class="col-md-3 col-sm-3 col-xs-12" id="navNavegacion">
				<div class="col-xs-12 footer-titulos" style="text-align:center;color:#425166;"> 
					<p>NAVEGACIÓN </p>
				</div>
				<ul class="col-xs-12 nav navbar-nav ulnavegacion">
					<li class="col-lg-6 col-md-6 col-sm-12 col-xs-6"> 
						<a href="#"> Home </a>
					</li>
					<li class="col-md-6 col-xs-6"> 
						<a href="#"> Servicios </a>
					</li>
					<li class="col-md-6 col-xs-6"> 
						<a href="#"> Instituciones </a>
					</li>
					<li class="col-md-6 col-xs-6"> 
						<a href="#"> Eventos </a>
					</li>
					<li class="col-md-6 col-xs-6"> 
						<a href="{% url 'website:alojamientos' %}"> Alojamientos </a>
					</li>
					<li class="col-md-6 col-xs-6"> 
						<a href="#"> Nosotros </a>
					</li>
					<li class="col-md-6 col-xs-6"> 
						<a href="#"> Estudia y Trabaja </a>
					</li>
					<li class="col-md-6 col-xs-6"> 
						<a href="#"> Blog </a>
					</li>
					<li class="col-md-6 col-xs-6"> 
						<a href="#"> Preguntas Frecuentes </a>
					</li>
				</ul>
	        </nav>

	        <nav class="col-lg-3 col-md-3 col-sm-3 col-xs-12" id="navEventos">
				<div class="col-xs-12 footer-titulos" style="text-align:center;color:#425166;"> 
					<p>NUESTROS EVENTOS</p>
				</div>
				<ul class="col-lg-12 col-md-12 col-sm-12 col-xs-12 nav navbar-nav uleventos">
					<li class="col-lg-12 col-md-12 col-sm-12 col-xs-12"> 
						<a href="#"> 03 / MAYO CANADÁ </a>
					</li>
					<li class="col-lg-12 col-md-12 col-sm-12 col-xs-12"> 
						<a href="#"> 09 / JUNIO PUERTO ORDAZ </a>
					</li>
				</ul>
	        </nav>        

	        <nav class="col-lg-3 col-md-3 col-sm-4 col-xs-12" id="navUbicacion">
				<div class="col-xs-12 footer-titulos" style="text-align:center;color:#425166;"> 
					<p> NUESTRA UBICACIÓN </p>
				</div>
				<ul class="col-lg-12 col-md-12 col-sm-12 col-xs-12 nav navbar-nav ulubicacion">
					<li class="col-lg-12 col-md-12 col-sm-12 col-xs-12"> 
						<a href="#"> 
							17 BELMONT ST. <br>
							TORONTO, ONTARIO M5R 1P9 <br>
							PHONE: +1 416.226.5897 <br>
							EMAIL: CONTACT@LCCANADA.COM
						</a>
					</li>
				</ul>
	        </nav>
	    </div>
	
	    <div class="row" style="background-color: #425166;">
	        <div class="col-lg-12" style="text-align:center;">
	            <h3 style="color:#FFF !important; font-weight: bold !important; font-style: italic !important; font-family: lato;"> ¡ Your future, our passion ! </h3>
	        </div>
	    </div>
</footer>
