{% load staticfiles %}
{% load i18n %}

<header id="headerMenu">
  <nav class="navbar navbar-default barratop" role="navigation" style="min-height:30px;">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#search" style="float:left;" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

        <button type="button" class="navbar-toggle right" data-toggle="collapse" data-target="#links" style="float:right;" aria-expanded="true">
            <span class="sr-only">Toggle navigation</span>
            <span class="glyphicon glyphicon-option-vertical"></span>
        </button>

      </div>
        <ul class="navbar-collapse nav navbar-nav col-xs-12 collapse in" id="links" style="width: 100%;" aria-expanded="true">

            <li> 
                <a href="#" class="link_icon" id="btnidioma" data-toggle="dropdown" aria-expanded="false"> 
                    ES <span class="glyphicon glyphicon-globe"></span> 
                </a> 

                <ul class="dropdown-menu"  role="menu" aria-labelledby="btnidioma">
                    <li><a href="#">EN</a></li>
                    <li><a href="#">PR</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="link_icon"> <span class="glyphicon glyphicon-search"></span> </a>
            </li>
            <li style="display:none; width:100%; float:right;" class="liseparador"></li>
            <li style="float:right;">
                <a id="linkayuda" href="#" class="dropdown-toggle link_icon" id="menu1" data-toggle="dropdown" aria-expanded="false"> Ayuda <b class="caret"></b>
                </a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                    <li><a href="#">{{ _('Preguntas Frecuentes') }}</a></li>
                    <li><a href="#">{{ _('Sugerencias y reclamos') }}</a></li>
                    
                </ul>                
            </li>
            <li style="float:right;">
                <a href="#" class="link_icon">  {{ _('Registrate') }} </a>
            </li>
            <li style="float:right;">
                <a href="#" class="link_icon"> {{ _('Iniciar Sesión') }} </a>
            </li>

            <li style="display:none; width:100%; float:right;" class="liseparador"></li>

            <li style="float:right;">
                <a href="#" class="link_icon"> <span class="fa fa-instagram"></span> </a>
            </li>
            <li style="float:right;">
                <a href="#" class="link_icon"> <span class="fa fa-twitter"></span> </a>
            </li>
            <li style="float:right;">
                <a href="#" class="link_icon"> <span class="fa fa-facebook"></span> </a>
            </li>
        </ul>

    </div>
  </nav>

  <nav class="verde col-lg-12 col-md-12 col-sm-12 col-xs-12 navlogo">
        <img src="{% static 'img/lc_blanco_90.png' %}" class="img-responsive" style="max-width:100%;padding: 20px;margin: auto;">
  </nav>

  <nav class="navbar navbar-default nav2 col-xs-12" role="navigation" style="z-index:2;border-bottom:1px solid #425166">
    <div class="container">
        <div class="row">
            <ul class="navbar-collapse nav navbar-nav navbar-center collapse" id="search" role="navigation" aria-expanded="false" style="float:none;">
                <li class="col-lg-1 col-md-1 col-sm-1 col-xs-6"> 
                    <a href="{% url 'website:home' %}" id="linkHome"> 
                        <img src="{% static 'img/logolc110.png' %}" style="max-width:100%; margin:auto; display:none;" id="logoNavBlanco">
                        <span> {{ _('Inicio') }} </span>
                    </a> 
                </li>

                <li class="dropdown col-lg-2 col-md-2 col-sm-2 col-xs-6">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"> {{ _('Instituciones') }} <b class="caret"></b> </a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'website:instituciones' %}">{{ _('Instituciones') }}</a></li>
                        <li><a href="#">{{ _('Cursos') }}</a></li>
                    </ul>
                </li>

                <li class="dropdown col-lg-2 col-md-2 col-sm-2 col-xs-6">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">{{ _(' Vive y Trabaja') }} <b class="caret"></b> </a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'website:alojamientos' %}">{{ _('Alojamientos') }}</a></li>
                        <li><a href="{% url 'website:estudia_trabaja' %}">{{ _('Estudia y Trabaja') }}</a></li>
                        <li><a href="#">{{ _('Eventos') }}</a></li>
                    </ul>
                </li>

                <li class="dropdown col-lg-2 col-md-2 col-sm-2 col-xs-6">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"> {{ _('Servicios') }} <b class="caret"></b> </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Servicios 1</a></li>
                        <li><a href="#">Servicios 2</a></li>
                        <li><a href="#">Servicios 3</a></li>
                    </ul>
                </li>

                <li class="dropdown col-lg-2 col-md-2 col-sm-2 col-xs-6">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"> {{ _('Sobre Nosotros') }} <b class="caret"></b> </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">{{ _('Quienes somos') }}</a></li>
                        <li><a href="#">{{ _('Responsabilidad social') }}</a></li>
                        <li><a href="#">{{ _('Agradecimientos') }}</a></li>
                    </ul>
                </li>

                <li class="dropdown col-lg-2 col-md-2 col-sm-2 col-xs-6">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"> {{ _('Contáctanos') }} <b class="caret"></b> </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">{{ _('Oficinas') }}</a></li>
                        <li><a href="#">{{ _('Oportunidad de Empleo') }}</a></li>
                        <li><a href="#">{{ _('Solicitud de Información') }}</a></li>
                    </ul>
                </li>
                <li class="dropdown col-lg-1 col-md-1 col-sm-1 col-xs-6">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" style="color: #c3d245; font-size: 22px;"> 
                       <span class="glyphicon glyphicon-folder-close"></span>
                    </a>

                    <ul class="dropdown-menu">
                        <li><a href="#">Notificación 1</a></li>
                        <li><a href="#">Notificación 2</a></li>
                        <li><a href="#">Notificación 3</a></li>
                    </ul>
                </li>
            </ul>
            
        </div> 
    </div>
  </nav>
      
</header>