{% load staticfiles %}

<div id="divNoticias" class="container-fluid" style="margin-top:40px;">
    <div class="row">
        <center>
            <img src="{% static 'img/titulo_noticias.jpg' %}" class="img-responsive" style="max-width:100%;">
        </center>
    </div>
    <div class="row cont_noticias">
        <div class="col-md-6 col-xs-12 noticia verde" style="background-image: url('{% static "img/home/noticias.jpg" %}');">
            <div class="col-xs-12 titulo_noticia"> ¿No sabes que idioma estudiar? <br> Nosotros te ayudamos </div>
            <div class="col-xs-12 subtitulo_noticia"> subtitulo noticia subtitulo noticia subtitulo noticia subtitulo noticia subtitulo noticia </div>

            <a href="{% url 'website:noticias' %}" style="text-decoration: none;color:#fff">
                <span class="btn btn-leermas">Leer Más</span>
            </a>
        </div>
        <div class="col-md-6 col-xs-12 noticia">
            <div class="col-xs-12 titulo_noticia"> ¿No sabes que idioma estudiar? <br> Nosotros te ayudamos </div>
            <div class="col-xs-12 subtitulo_noticia"> subtitulo noticia subtitulo noticia subtitulo noticia subtitulo noticia subtitulo noticia </div>
            <a href="{% url 'website:noticias' %}" style="text-decoration: none;color: #fff;">
                <span class="btn btn-leermas">Leer Más</span>
            </a>
        </div>
        <div class="col-md-6 col-xs-12 noticia">
            <div class="col-xs-12 titulo_noticia"> ¿No sabes que idioma estudiar? <br> Nosotros te ayudamos </div>
            <div class="col-xs-12 subtitulo_noticia"> subtitulo noticia subtitulo noticia subtitulo noticia subtitulo noticia subtitulo noticia </div>

            <a href="{% url 'website:noticias' %}" style="text-decoration: none;color: #fff;">
                <span class="btn btn-leermas">Leer Más</span>
            </a>
        </div>
        <div class="col-md-6 col-xs-12 noticia verde" style="background-image: url('{% static "img/home/noticias2.jpg" %}');">
            <div class="col-xs-12 titulo_noticia"> ¿No sabes que idioma estudiar? <br> Nosotros te ayudamos </div>
            <div class="col-xs-12 subtitulo_noticia"> subtitulo noticia subtitulo noticia subtitulo noticia subtitulo noticia subtitulo noticia </div>

            <a href="{% url 'website:noticias' %}" style="text-decoration: none;color: #fff;">
                <span class="btn btn-leermas">Leer Más</span>
            </a>
        </div>
    </div>
</div>