{% load staticfiles %}

<div id="divPorqueLC" class="container" style="margin-top:40px;">
	<div class="row">
		<center>
			<img src="{% static 'img/porqueLC.jpg' %}" class="img-responsive" style="max-width:100%;">
	    </center>
	</div>
	<div class="row imgs">
		<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 imgporque">
			<img src="{% static 'img/home/servicios1.jpg' %}" class="img-responsive image">
			<div class="middle">
				<div class="texto-porque text-center">
					<h3>PROCESO <br>DE VISA </h3>
					<p class="text-justify">
						descripción de todo descripcion descripcion
						 descripcion descripcion
					</p>
				</div>
			</div>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 imgporque">
			<img src="{% static 'img/home/servicios2.jpg' %}" class="img-responsive image">
			<div class="middle">
				<div class="texto-porque text-center"> 
					<h3>SEGURO <br> MEDICO </h3>
					<p class="text-justify">
						En LC hemos establecido alianzas aseguradoras especializadas en estudiantes internacional para así proporcionar un servicio médico de calidad. Las políticas varían ligeramente de unos a otros, pero en la mayoría de ellos ofrecen servicios integrales que garantizan a nuestros clientes que al abordar el aión; el equipaje de vuelo también esta asegurado contra cualquier pérdida.
					</p>
				</div>
			</div>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 imgporque">
			<img src="{% static 'img/home/servicios3.jpg' %}" class="img-responsive image">
			<div class="middle">
				<div class="texto-porque text-center">
					 <h3>ESTUDIA Y <br> TRABAJA </h3>
					 <p class="text-justify"></p>
				</div>
			</div>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 imgporque">
			<img src="{% static 'img/home/servicios4.jpg' %}" class="img-responsive image">
			<div class="middle">
				<div class="texto-porque text-center"> 
					<h3>BOLETO <br> AEREO </h3>
					<p class="text-justify"></p>
				</div>
			</div>
		</div>
	</div>
	<div class="row imgs">	
		<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 imgporque">
			<img src="{% static 'img/home/servicios5.jpg' %}" class="img-responsive image">
			<div class="middle">
				<div class="texto-porque text-center"> 
					<h3>TRANSLADO </h3>
					<p class="text-justify"></p>
				</div>
			</div>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 imgporque">
			<img src="{% static 'img/home/servicios6.jpg' %}" class="img-responsive image">
			<div class="middle">
				<div class="texto-porque text-center"> 
					<h3>ASESORIAS</h3>
					<p class="text-justify"></p>
				 </div>
			</div>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 imgporque">
			<img src="{% static 'img/home/servicios7.jpg' %}" class="img-responsive image">
			<div class="middle">
				<div class="texto-porque text-center"> 
					<h3>ALOJAMIENTO </h3>
					<p class="text-justify"></p>
				 </div>
			</div>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 imgporque">
			<img src="{% static 'img/home/servicios8.jpg' %}" class="img-responsive image">
			<div class="middle">
				<div class="texto-porque text-center">
					<h3> MATERIAL <br> DE ESTUDIO </h3>
					<p class="text-justify"></p>
				</div>
			</div>
		</div>
	</div>
</div>