{% load staticfiles %}
<header id="myCarousel" class="carousel slide col-xs-12" style="padding:0px">
    <!-- Indicators -->
    <div class="carousel-inner">
        <div class="item active">
            <div class="fill" style="background-image:url('{% static 'img/banners/bannerprueba.jpg' %}');background-size:100%"></div>
            <div class="carousel-caption">
                <h2></h2>
            </div>
        </div>
        <div class="item">
            <div class="fill" style="background-image:url('{% static 'img/banners/bannerprueba.jpg' %}');"></div>
            <div class="carousel-caption">
                <h2></h2>
            </div>
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="icon-next"></span>
    </a>

</header>