{% load staticfiles %}
<div class="clearfix"></div>
<div class="container-fluid" style="margin-top:30px;">
    <div class="row" style="margin:30px 0;">
        <img src="{% static 'img/titulo_testimonios.jpg' %}" class="img-responsive" style="margin:auto;">
    </div>

    <div class="row">
        <div id="testimonials" class="carousel slide col-xs-12" style="max-height:300px; background:url('{% static 'img/bg_testimonios.jpg' %}') repeat-x;">
            <div class="carousel-inner col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="item active">
                	<div class="contTestimonio">
                        <img class="imgTestimonio img-responsive" src="{% static 'img/testimoniales/testimoniales.jpg' %}">
                        <div class="contTextoTestimonio">
                            <div> 
                                <i class="fa fa-quote-left" aria-hidden="true" style="float: left; font-size: 45px; margin-top: 20px;"></i>
                                <div class="nombre_testimonio"> MARÍA EUGENIA </div>
                            </div>

                            <div class="clearfix"></div>

                            <div class="descripcion_testimonio"> 
                                
                                <i class="fa fa-quote-right" aria-hidden="true" style="float: right; font-size: 45px;"></i>
                                <span class="paisTestimonio"> Venezuela </span>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="contTestimonio">
                        <img class="imgTestimonio" src="{% static 'img/porqueLC/asesorias.jpg' %}">
                        <div class="contTextoTestimonio">
                            <div> 
                                <i class="fa fa-quote-left" aria-hidden="true" style="float: left; font-size: 45px; margin-top: 20px;"></i>
                                <div class="nombre_testimonio"> MARÍA EUGENIA </div>
                            </div>

                            <div class="clearfix"></div>

                            <div class="descripcion_testimonio"> 
                                Texto del testimonio Texto del testimonio Texto del testimonio Texto del testimonio Texto del testimonio Texto del testimonio Texto del testimonio Texto del testimonio Texto del testimonio Texto del testimonio Texto del testimonio Texto del testimonio Texto del testimonio  
                                <i class="fa fa-quote-right" aria-hidden="true" style="float: right; font-size: 45px;"></i>
                                <span class="paisTestimonio"> Venezuela </span>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <a class="left carousel-control" href="#testimonials" data-slide="prev">
                <span class="icon-prev"></span>
            </a>
            <a class="right carousel-control" href="#testimonials" data-slide="next">
                <span class="icon-next fa-caret-right"></span>
            </a>

        </div>
        
    </div>
    
</div>